<vtex.cmc:CortinaCyber/>
<div id="site-menu">
    <div id="menu-mobile">
        <div class="header-menu-mobile">
            <span class="close-menu pull-right btn-menu-xs" data-id="#menu-mobile"><i class="fa fa-times"></i></span>
            <span class="icone-menu"><i class="fa fa-bars"></i></span>
        </div>
        <a class="nav-link text-secondary" href="/account"><i class="fa fa-user-o" aria-hidden="true"></i> Mi cuenta</a>
        <div class="menu-mobile-account">
            <vtex.cmc:departmentNavigator />
        </div>
    </div>
</div>

<div id="extra-header-top"></div>

<header class="container-fluid navbar-fixed-top">
    <div class="header">
        <div class="row">
                <div class="button-menu-xs col-2 p-0 col-sm-1 d-none d-block-sm">
                    <button class="btn btn-default btn-open-menu-xs btn-menu-xs" data-id="#menu-mobile"><i class="fa fa-bars"></i></button>
                </div><!-- .button-menu-xs -->

                <div class="col-4 col-sm-3 col-md-2 col-lg-2">
                    <a class="logo" href="/" alt="Via Uno" title="Via Uno">
                        <img src="/arquivos/logotipo.jpg" />
                    </a>
                </div><!-- .logo -->
                <div class=" d-block d-none-xs col-6 col-sm-8 col-md-9 col-lg-10">
                    <div class="bg-light row">
                        <ul class="nav nav-pills nav-fill">
                          <li class="nav-item">
                            <a class="nav-link text-secondary" href="#"><i class="fa fa-truck" aria-hidden="true"></i> Envíos gratis por compras superiores a $50.000</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-secondary" href="mailto:ecommerce@viaunochile.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> postventa.online@viaunochile.com</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-secondary" href="#"><i class="fa fa-credit-card" aria-hidden="true"></i> 6 cuotas sin interés</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-secondary" href="/account"><i class="fa fa-user-o" aria-hidden="true"></i> Mi cuenta</a>
                          </li>
                        </ul>
                    </div>
                    <div class="row bg-white">
     					<nav class="nav col-md-6">
                            <vtex.cmc:departmentNavigator />
                            <h3 class="menu-item-texto"><a href="/calzados/outlet">OUTLET</a></h3>
                        </nav><!-- #top-menu -->   
         				<div class="search col-8 col-sm-10 col-md-5">
                            <vtex.cmc:fullTextSearchBox/>
                        </div><!-- .search -->
                        <div class="mini-cart col-mini-cart col-4 col-sm-2 col-md-1 bg-dark">
			                    <a title="Carrinho de Compras" href="/checkout/#/cart" class="btn btn-default btn-block btn-mini-cart text-light">
			                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
			                        <span class="badge bg-danger mini-cart-qty-admake">0</span>
			                    </a>
			                    <div id="mini-cart-admake-aux" class="hidden">
			                        <vtex.cmc:miniCart />
			                        <vtex.cmc:AmountItemsInCart />
			                    </div>
			                    <div id="mini-cart-admake" style="display: none;">
			                        <div class="mini-cart-header"></div>
			                        <div class="mini-cart-itens">
			                        </div>
			                        <div class="mini-cart-footer">
			                            <div class="mini-cart-totais">
			                                <strong id="mini-cart-admake-total"></strong>
			                                <span>Total</span>
			                            </div>
			                            <div class="mini-cart-botao">
			                                <a href="/checkout/#/cart" class="btn btn-block btn-verde btn-finalizar-compra">Realizar pedido</a>
			                            </div>
			                        </div>
			                    </div>
			                </div>                             
                    </div>
                </div>
                <div class="mini-cart mini-cart-xs col-xs-3 d-none d-block-xs">
                    <a title="Carrinho de Compras" href="/checkout/#/cart" class="btn btn-default">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <span class="badge bg-danger mini-cart-qty-admake">0</span>
                    </a>
                </div>         
            </div><!-- .row -->
    </div><!-- .header -->
	<div class="topbarCyber">
	    <div><img src="https://ficcus.vteximg.com.br/arquivos/cybermonday2019.jpg" alt="Cybermonday"/></div>
	    <div><p>Estamos en <span>Cybermonday</span>, las mejores ofertas están aquí</p></div>
	    <div><img src="https://viauno.vteximg.com.br/arquivos/seal.png" alt="Logo dorado Cybermonday"/></div>
    </div>
</header><!-- .header-container -->

<!--<div id="extra-header-bottom">
    <div class="cyberBotones">
        <div>
            <h3>Hasta 80% de descuento</h3>
            <a href="https://www.viaunochile.com/busca/?fq=H:187">ver ofertas</a>
        </div>
        <div>
            <h3>Hasta 60% dcto en Invierno</h3>
            <a href="https://www.viaunochile.com/busca/?fq=H:190">ver ofertas</a>
        </div>
    </div>
</div>-->

<div id="extra-banner-regua"></div>