<div id="nullcart" class="clearfix">
    <div id="image">
        <img src="/Control/ArquivoExibir.aspx?NomeArquivo=img_carrinho_vazio_print.png" alt="Carrinho Vazio" />
    </div>
    <div id="aboutnull">
        <h3>Por que meu carrinho está vazio?</h3>
        <ol>
            <li>Os itens selecionados permaneceram em seu carrinho por mais tempo do que o permitido pelo sistema. Este período pode variar de acordo com cada item selecionado.</li>
            <li>Você removeu os produtos do carrinho.</li>
            <li class="last">Você utilizou as opções Voltar / Avançar da barra de ferramentas de seu navegador.</li>
        </ol>
    </div>
</div>