<footer>
    <div id="wrapper_footer">
		<div class="column-esq">
			<div class="links_apoio area-1">
				<header>Via Uno</header>
				<a href="/sobre-viauno" alt="Sobre a ViaUno" title="Sobre a ViaUno">Sobre ViaUno</a>
				<a href="/tiendas" alt="Tiendas" title="Tiendas">Tiendas</a>
				<a href="/trabaja-viauno" alt="Trabaja en Via Uno" title="Trabaja en Via Uno">Trabaja en Via Uno</a>
				<a target="_blank" href="http://186.103.171.214/PERSONAL" alt="Web Manual" title="Web Manual">Web Personal</a>
				<!-- <a target="_blank" href="http://pc.docele.cl/home/" alt="Web Manual" title="Web Manual">Busca tu boleta</a> -->
			</div>

			<div class="links_apoio area-1 nomargin">
				<header>Via Uno Online</header>
				<a href="/preguntas-frecuentes" alt="Preguntas Frecuentes" title="Preguntas Frecuentes">Preguntas Frecuentes</a>
				<a href="/como-comprar-via-uno" alt="Cómo comprar en Via Uno" title="Cómo comprar en Via Uno">Cómo comprar en Via Uno</a>
				<a href="/cambios-devolucion" alt="Cambios o Devolución" title="Cambios o Devolución">Cambios o Devolución</a>
				<a href="/plazos-entrega" alt="Plazos de entrega" title="Plazos de entrega">Plazos de entrega</a>
				<a href="/terminos-condiciones" alt="Términos y Condiciones" title="Términos y Condiciones">Términos y Condiciones</a>
			</div>
		</div>

		<img class="alignleft" src="/arquivos/logo-viauno-footer.png" alt="Via UNO" title="Via UNO" />

		<div class="column-dir">
			<div class="links_apoio area-2">
				<header>Seguridad</header>
				<img src="/arquivos/img-selo-seguridad.jpg" />
				<img src="/arquivos/comercioEtico.jpg" class="comercioEtico" alt="Camara de Comercio" title="Camara de Comercio" style="float:left;margin-top: 10px;" />    		    
			</div>
			
			<div class="links_apoio area-2 medio-pago">
				<header>Medios de Pago</header>
                <img style="margin-top:-10px" src="https://www.viaunochile.com/arquivos/mediosdepago.png"/>
			</div>
		</div>
	</div>
	<div class="sub_footer">
		<div class="base_footer">
			<div class="wrap">
				<ul>
					<li>
						<img src="/arquivos/logo-vtex-pink.png" alt="Vtex" title="Vtex"/>
					</li>
					<li>
                        <a href="http://www.propulso.cl" target="_blank" title="Propulso">
						    <img src="/arquivos/logo-vtex-pink.png" alt="Propulso" />
                        </a>
					</li>
				</ul>

				<ul class="social">
					<li>
						<a class="twitter" href="https://twitter.com/viauno_cl" alt="Twitter" title="Twitter" target="_blank"></a>
					</li>
					<li>
						<a class="instagram" href="http://instagram.com/viauno_chile" alt="Instagram" title="Instagram" target="_blank"></a>
					</li>
					<!--<li>
						<a class="pinterest" href="#" alt="Pinterest" title="Pinterest" target="_blank"></a>
					</li>-->
					<li>
						<a class="face" href="https://www.facebook.com/ViaUnoChile" alt="Facebook" title="Facebook" target="_blank"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>