<vtex.cmc:CortinaCyber/>
<header>
    <div class="pre-header">
        <div class="conteiner">
            <div id="wrapper">
                <div id="search" class="search">
                    <!--<img src="/arquivos/cyberday-header.png" style="display: inline-block; width: 120px; float: left; margin-right: 20px;  margin-top: -5px;" />-->
                <vtex.cmc:fullTextSearchBox /></div>
                <ul class="menu_apoio cambio alignright">
            		<li>Para cambios de talla costo de envío gratis</li>
                </ul>
                <ul class="menu_apoio alignright">
            		<li>
            			<a href="/account">Mi Perfil</a>
            		</li>
            	</ul>
            	
            	<ul class="menu_apoio alignright">
            		<li>
            			<a href="/account/orders">Mis Pedidos</a>
            		</li>
            		<!-- <li class="last">
            			<a href="/contacto">Contácto</a>
            		</li> -->
            	</ul>                
            </div>
        </div>
    </div><!--FIN PRE HEADER-->
    <div class="conteiner">
        <div id="wrapper_header">
            <div class="header">
                <h1>
                    <a class="logo" href="/" alt="Via Uno" title="Via Uno">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        	 width="191.917px" height="46px" viewBox="0 0 191.917 46" enable-background="new 0 0 191.917 46" xml:space="preserve">
                        <polygon fill="#060606" points="2.482,3.115 17.823,43.66 33.635,3.115 29.564,3.115 17.823,34.58 6.709,3.115 "/>
                        <polygon fill="#060606" points="72.615,41.939 57.274,1.393 41.462,41.939 45.533,41.939 57.274,10.473 68.388,41.939 "/>
                        <path fill="none" stroke="#231F20" stroke-width="0.226" d="M35.043,3.115"/>
                        <polygon fill="#060606" points="35.043,3.115 35.043,42.252 38.879,42.33 38.957,3.115 "/>
                        <path fill="#060606" d="M83.123,3.085l-0.02,26.799c0,0-1.008,13.541,14.402,13.541s14.402-13.229,14.402-13.229l0.01-27.17
                        	l-3.846,0.01l-0.039,27.122c0,0,0.666,9.588-10.684,9.746C86,40.061,86.939,29.807,86.939,29.807L86.822,3.115L83.123,3.085z"/>
                        <polygon fill="#060606" points="114.882,1.628 114.805,42.486 118.562,42.486 118.405,11.177 146.035,43.738 146.113,3.193 
                        	142.513,3.115 142.513,33.955 "/>
                        <path fill="#060606" d="M190.65,22.84c0,11.369-9.444,20.586-21.095,20.586c-11.649,0-21.094-9.217-21.094-20.586
                        	c0-11.37,9.444-20.586,21.094-20.586C181.206,2.254,190.65,11.47,190.65,22.84z M169.517,5.542c-9.467,0-17.142,7.762-17.142,17.337
                        	c0,9.574,7.675,17.338,17.142,17.338c9.468,0,17.142-7.764,17.142-17.338C186.658,13.304,178.984,5.542,169.517,5.542z"/>
                    </svg>
                    </a>
                </h1>
                <div id="menu">
                    <vtex.cmc:departmentNavigator />
                    <!--<div class="menu-departamento-extra">
                        <ul class="menu-list-extra">
                            <li>
                                <h3>
                                    <a class="menu-item-texto" href="/kits">Mom Pack</a>
                                </h3>
                            </li>
                        </ul>
                    </div>-->
                </div>
            	<div class="sacola">
                	<div class="alignleft">
                        <p>Total de Productos:</p>
                        <div class="total-productos"><vtex.cmc:AmountItemsInCart /></div>
                        <div class="clear"></div>
                        <!-- O item abaixo não pode estar comentado, do contrário o <p>Total de Productos</p> não terá valor algum -->
                        <div class="clp"><vtex.cmc:AmountItemsInCart /></div>            
                		<strong>CLP</strong>
                        <a class="sacola-checkout" href="/checkout/"></a>
                    </div>
                    <div class="minicart"><vtex.cmc:miniCart /></div>
            	</div>                
            </div>
	        <div class="subheader">
		        <ul>
        			<li class="area-1">
        				<a href="#ancora_newsletter">
        					<span class="item-1"></span>
        					<strong>Newsletter</strong>
        					<p>Recibe todas las novedades</p>
        				</a>
        			</li>
        			<li class="area-2">
        				<span class="item-2"></span>
        				<strong>6 cuotas sin interés</strong>
        				<span class="item-5"></span>
        			</li>
        			<li class="area-3">
        				<a href="http://www.viaunochile.com/busca/?fq=H:142">
        					<span class="item-3"></span>
        					<strong>Promociones</strong>
        					<p>Ofertas de tiempo limitado</p>
        				</a>
        			</li>
        			<li class="area-4">
        				<span class="item-4"></span>
        				<strong style="font-size: 13px;">CallCenter</strong>
        				<p>56-02 27218411</p>
        			</li>
        		</ul>
	        </div>        
        </div><!-- FIN WRAPPER-->
    </div><!--FIN CONTEINER-->
	<div class="clear"></div>
	<div class="topbarCyber">
	    <div><img src="https://ficcus.vteximg.com.br/arquivos/cybermonday2019.jpg" alt="Cybermonday"/></div>
	    <div><p>Estamos en <span>Cybermonday</span>, las mejores ofertas están aquí</p></div>
    </div>
</header>