<div id="header">
	<p id="title"><a href="/" title="Loja Modelo - Página inicial"><span>Loja Modelo - </span>A maior loja do segmento no Brasil.</a></p>
	<div id="cart">
		<!--  Controle: valores do carrinho -->	
		<vtex.cmc:amountItemsInCart />
		<!-- /Controle: valores do carrinho -->	
		<a href="/Site/Carrinho.aspx" title="Concluir Compra">Meu carrinho</a>
	</div>
</div>
<div id="menu">
	<!--  Controle: Navegador superior de departamentos -->	
	<vtex.cmc:departmentNavigator />
	<!-- /Controle: Navegador superior de departamentos -->	
	<a id="linkVipClub" href="/">Hotsite</a>
</div>
<!--  Controle: Busca -->
<div id="search" class="search"><vtex.cmc:fullTextSearchBox /></div>
<!-- /Controle: Busca -->