<link rel="stylesheet" type="text/css" href="http://propulso.cl/clientes/viauno/style.css" />
<link rel="stylesheet" type="text/css" href="/arquivos/styles-4.css" />
<!--<link href="/arquivos/ViaUnoMobile.css" rel="stylesheet" type="text/css" />-->
<link href="/arquivos/ViaUnoMobile-2.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="shortcut icon" href="/arquivos/favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="~/arquivos/css_browser_selector.js"></script>
<script type="text/javascript" src="~/arquivos/js.js"></script>
<script type="text/javascript" src="~/arquivos/viaCookie.js"></script>
<!--[if IE 8]>
    <style type="text/css">
		#wrap {display:table;}
	</style>
<![endif]-->
<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<meta name="country" content="CHL" />
<meta name="google-site-verification" content="QZYe6JDq82w-p4tB4Pf_S7SmnLFueRxo45sXzfFT9ME" />

<!-- INÍCIO SCRIPT GOOGLE ANALYTICS -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
  ga('create', 'UA-44900903-1', 'viaunochile.com');
  ga('send', 'pageview');
 
</script>

<!-- FIM SCRIPT GOOGLE ANALYTICS -->

<!--<div id="backPopUp"></div>

<div id="promoPopUp" style="margin-top: 60px;">
    <a target="_new" href="https://play.google.com/store/apps/details?id=com.goodbarber.viauno"> 
    <div class="PopUpContent" style="background-image: url(/arquivos/banner-popup.jpg) !important;width:340px;height:510px;">
        <a href="javascript: closePopUp();" id="ClosePopUp"></a>
        <vtex.cmc:newsletterOptIn/>
    </div>
    </a>
</div>-->
 
        <!--<vtex.cmc:newsletterOptIn/>-->
<script type="text/javascript">
    var muestroPopUp = checkCookieLEV('ViaUnoAppM');
     muestroPopUp = 0;
   if(muestroPopUp == 1){
        $('#backPopUp').fadeIn(1000);
        $('#promoPopUp').fadeIn(1000);
    }
    function closePopUp(){
        $('#backPopUp').fadeOut(500);
        $('#promoPopUp').fadeOut(500);
    }
    
</script>



<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?2PuRpJYuJpIyCScEFYFEbTIIR7p6knzB';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->