<ul class="abas">
	<li class="meu-perfil"><a title="Meu Perfil" href="/Vitrine/MinhaConta/MinhaConta.aspx">Mi Perfil</a></li>
	<li class="meus-pedidos"><a title="Meus Pedidos" href="/site/MeusPedidos.aspx">Mis Pedidos</a></li>
	<li class="listas ativo">Listas</li>
</ul>

<div id="sideBar">
	<div class="sideBarItem linkList">
		<h2>Mi perfil</h2>
		<ul>
			<li><a href="/Vitrine/MinhaConta/MinhaConta.aspx" title="Meu Perfil">Mi Perfil</a></li>
			<li><a href="/Site/cadastroCliente.aspx" title="Editar dados">Editar datos</a></li>
			<li><a href="/site/AlterarSenha.aspx" title="Alterar senha">Cambiar contraseña</a></li>
		</ul>
	</div>
			
	<div class="sideBarItem linkList">
		<h2>Mis Direcciones</h2>
		<ul>
			<li><a href="/Site/Endereco.aspx" title="Catálogo de Endereços">Catálogo de Direcciones</a></li>
		</ul>
	</div>
		
	<div class="sideBarItem linkList">
		<h2>Listas</h2>
		<ul class="menu">
			<li><a href="/lista/">Buscar una Lista</a></li>
			<li><a href="/lista/criar/">Crear nueva Lista</a></li>
			<li><a href="/lista/gerenciar/">Administrar mis Listas</a></li>
		</ul>
	</div>
</div>