<script src="/arquivos/advanced-filter.js"></script>
<script src="/arquivos/admake-mini-cart.js"></script>
<script src="/arquivos/default.js"></script>
<!--<script src="/arquivos/new-script-ftp.js"></script>-->
<script src="/arquivos/lazy.js"></script>
<script src="/arquivos/slick.min.js"></script>
<script src="/arquivos/jquery.colorbox-min.js"></script>
<script src="/arquivos/jquery.accordion.js"></script>
<!--<script src="/arquivos/new-script-ftp-n.js"></script>-->
<script src="https://cdn.embluemail.com/pixeltracking/pixeltracking.js?code=9242631933a7408ee6443a20abbe0b49"></script>
<script src="/files/pruebas.js"></script>
<script src="/files/viaunochilecom.js"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/59e7899f4854b82732ff6526/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<!-- Custom Elment para Cyber -->
<vtex:cyberScript />
<!-- Fin Custom Elment para Cyber -->