<div id="extra-footer-top" class="container-fluid pt-3">
    <div class="row">
        <div class="col text-center">
            <p><i class="fa fa-shopping-bag" aria-hidden="true"></i> Envíos gratis por compras superiores a $50.000</p>
        </div>
        <div class="col text-center">
            <p><i class="fa fa-truck" aria-hidden="true"></i> Despacho a todo Chile</p>
        </div>
        <div class="col text-center">
            <p><i class="fa fa-credit-card" aria-hidden="true"></i> 6 Cuotas sin interes</p>
        </div>
    </div>
</div>

<footer class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="col-phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="col-llamanos">
                <p>¿Dudas? Llamanos</p>
            </div>
            <div class="col-envelope">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-newletter col-12 col-md-12 col-lg-3 text-center">
            <div class="p-5 bg-light">
                <vtex.cmc:newsletterOptIn/>                    
            </div>
        </div>
        <div class="col-footer col col-md-12 col-lg-9">
            <div class="row">
                <div class="col-12">
                    <div class="px-3">
                        <div class="row">
                            <div class="bg-light col px-6">
                                <h5 class="mt-5">TIENDA</h5>
                                <ul>
                                    <li><a href="/tiendas">Nuestras Tiendas</a></li>
                                    <li><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></li>
                                    <li><a href="/plazos-entrega">Plazos de entrega y Costos de envío</a></li>
                                    <li><a href="/cambios-devolucion">Cambios y Devoluciones</a></li>
                                    <li><a href="/terminos-condiciones">Términos y Condiciones</a></li>
                                </ul>
                            </div>
                            <div class="bg-light col px-4 d-none d-md-block">
                                <h5></h5>
                                <ul class="mt-5">
                                    <li><a href="http://192.168.2.45/PERSONAL2/app.php/l">Personal Via Uno</a></li>
                                    <li><a href="#">Mi cuenta</a></li>
                                    <li><a href="#">Casa Matriz</a>
                                        <ul class="direccion">
                                            <li>Av. del Parque 5275,</li>
                                            <li>oficina 203, Huechuraba</li>
                                        </ul>
                                    </li>
                                    <!-- <li><a href="http://pc.docele.cl/home/">Busca tu Boleta</a></li> -->
                                </ul>
                            </div>
                            <div class="bg-light col px-4 d-none d-md-block">
                                <h5 class="mt-5">SÍGUENOS</h5>
                                <ul>
                                    <li><a href="https://www.facebook.com/ViaUnoChile" target="_blank">Facebook</a></li>
                                    <li><a href="https://www.instagram.com/viauno_chile/" target="_blank">Instagram</a></li>
                                </ul>
                            </div>
                            <div class="bg-light col px-6">
                                <h5 class="mt-5">Servicio al cliente</h5>
                                <ul>
                                    <li>Nuestros horarios de atención</li>
                                    <li>Lunes a Jueves de 9 a 18 hrs. y</li>
                                    <li>Viernes hasta las 17 hrs. a través de:</li>
                                    <li><a href="postventa.online@viaunochile.com">postventa.online@viaunochile.com</a></li>
                                    <li><a href="+56227218410">+562 27218410</a></li>
                                    <li><a href="+56227218411">+562 27218411</a></li>
                                </ul>
                            </div>
                            <div class="col-redes">
                                <div class="col-facebook">
                                      <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                                </div>
                                <div class="col-instagram">
                                       <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                                </div>
                                <div class="col-twitter">
                                      <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="bg-light col-12 px-4 py-2">
                                <hr />
                                    <ul class="list-inline float-left">
                                        <li class="list-inline-item col-sm-6 col-md-4"><img src="/arquivos/logos-transbank.png" alt="compra-segura" title="compra-segura" class="img-fluid" /></li>
                                        <li class="list-inline-item col-sm-6 col-md-4"><img src="/arquivos/compra-segura-big.png" alt="compra-segura" title="compra-segura" class="compra-segura img-fluid" /></li>
                                        <li class="cel_margin_v list-inline-item col-6 col-md-2"><img src="/arquivos/logo-vtex-pink.png" alt="Vtex" title="Vtex" class=""/></li>
                                        <li class="list-inline-item col-6 col-md-2"><a href="http://www.propulso.cl" target="_blank" title="Propulso"><img src="/arquivos/logo-propulso-color2.png" alt="Propulso" /></a></li>
                                    </ul>                              
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- .footer -->

<div id="extra-footer-middle"></div>
<div id="extra-footer-bottom"></div>