<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
<link href="/arquivos/new-style-ftp-p.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/new-css.css" rel="stylesheet" type="text/css" />
<link href="/files/style-apoyo.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/banderines.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" type="image/x-icon" href="/arquivos/favicon.ico" />
<link href="/arquivos/slick.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/colorbox.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/jquery.accordion.css" rel="stylesheet" type="text/css" />

<!-- Custom Elment para Cyber -->
<vtex.cmc:cyberStyle />
<!-- Fin Custom Elment para Cyber -->