<div class="sidebar-viaunoonline">
    <h3>Via Uno Online</h3>
    <ul class="list-unstyled">
        <li><a href="/preguntas-frecuentes" alt="Preguntas Frecuentes" title="Preguntas Frecuentes">Preguntas Frecuentes</a></li>   
        <li><a href="/como-comprar-via-uno" alt="Cómo comprar en Via Uno" title="Cómo comprar en Via Uno">Cómo comprar en Via Uno</a></li>
        <li><a href="/cambios-devolucion" alt="Cambios o Devolución" title="Cambios o Devolución">Cambios o Devolución</a></li>
        <li><a href="/plazos-entrega" alt="Plazos de entrega" title="Plazos de entrega">Plazos de entrega</a></li>
        <li><a href="/terminos-condiciones" alt="Términos y Condiciones" title="Términos y Condiciones">Términos y Condiciones</a></li>
    </ul>
</div>