<div class="header">
	<div class="wrapper">
		<h1><a title="Loja Modelo" href="/.">Loja Modelo</a></h1>
		<div class="bannerHeader">Produtos especiais com desconto!</div>
		<ul class="menu-user">
			<li class="cadastre"><a href="/Site/cadastroCliente_DadosPessoais.aspx?" title="Cadastre-se">Cadastre-se</a></li>
			<li class="meus-dados"><a href="/Vitrine/MinhaConta/MinhaConta.aspx" title="Meus Dados">Meus Dados</a></li>
			<li class="meus-pedidos"><a href="/Site/MeusPedidos.aspx" title="Meus Pedidos">Meus Pedidos</a></li>
			<li class="faleconosco"><a href="/Site/FaleConosco.aspx" title="Fale Conosco">Fale Conosco</a></li>
			<li class="televendas">Televendas: (00) 0000-0000</li>
		</ul>
	</div>
</div>

<div class="topbar">
	<vtex.cmc:departmentLinks />
    <li id="confrarias"><a href="/" id="link_confrarias"  title="Hotsite">Hotsite</a></li>
    
    <a href="http://webstore.vazia.vtexlab.com.br:81/" id="link_empresa"  title="Venda para Empresas">Venda para Empresas</a>
	
    <div class="wrapper">
		<div class="welcomeWrapper"><vtex.cmc:welcomeMessage /></div>
		<div class="searchWrapper">
			<vtex.cmc:fullTextSearchBox />
		</div>
		<vtex.cmc:AmountItemsInCart />
		<a id="linkCarrinho" href="/Site/Carrinho.aspx">Carrinho</a>
	</div>
</div>


<div class="footer">
	<div class="wrapper">
		<p class="copyright">Loja Modelo LTDA – CNPJ 00.000.000/0000-00 Para fazer seu pedido por telefone, ligue: (00) 0000-0000. Loja Modelo - Todos os direitos reservados</p>
		<div class="selos">
			<div class="formaPagamento">formas de pagamento</div>
			<div class="certificados">
				<strong>Certificados</strong>
				<ul>
					<li class="certisign"><a href="#" target="_blank">certisign</a></li>
					<li class="blindado"><a href="#" target="_blank">site blindado</a></li>
					<li class="vtex"><a title="Vtex" href="http://www.vtex.com.br" target="_blank">vtex</a></li>
				</ul>
			</div>
			<div class="ebit"></div>
		</div>
	</div>
	<div class="wrapperLnkInst">
		<ul class="linksInstitucionais">
			<li><a title="Sobre A Loja Modelo" href="#">Sobre A Loja Modelo</a></li>
			<li><a title="Política de Privacidade" href="#">Política de Privacidade</a></li>
			<li><a title="Política de Compras" href="#">Política de Compras</a></li>
			<li><a title="Dúvidas" href="#">Dúvidas</a></li>
			<li><a title="Venda Corporativa" href="#">Venda Corporativa</a></li>
			<li class="last"><a title="Fale Conosco" href="/Site/FaleConosco.aspx">Fale Conosco</a></li>
		</ul>
	</div>
</div>