<div class="dropdown-menu" aria-labelledby="navbarDropdown-marcas">
    <div class="slider-marcas">
        <ul>
            <li><a href="/american-classic"><img src="/arquivos/A_Classics-Logo.jpg" alt=""></a></li>
            <li><a href="/ag-hair"><img src="/arquivos/AG-Hair-Logo.jpg" alt=""></a></li>
            <li><a href="/ag"><img src="/arquivos/AG-Logo.jpg" alt=""></a></li>
            <li><a href="/babylisspro"><img src="/arquivos/Babyliss-Pro-Logo.jpg" alt=""></a></li>
            <li><a href="/barburys"><img src="/arquivos/Barburys-Logo.jpg" alt=""></a></li>
            <li><a href="/beauty-secrets"><img src="/arquivos/Beauty-Secrets-Logo.jpg" alt=""></a></li>
            <li><a href="/biotera"><img src="/arquivos/Biotera-Logo.jpg" alt=""></a></li>
            <li><a href="/bitzy"><img src="/arquivos/Bitzy-Logo.jpg" alt=""></a></li>
            <li><a href="/bodyography"><img src="/arquivos/Bodyography-Logo.jpg" alt=""></a></li>
            <li><a href="/btz"><img src="/arquivos/BTZ-Logo.jpg" alt=""></a></li>
            <li><a href=""><img src="/arquivos/Beyond-Logo.jpg" alt=""></a></li>
            <li><a href="/california-mango"><img src="/arquivos/California-Mango-Logo.jpg" alt=""></a></li>
            <li><a href=""><img src="/arquivos/ColorClub-Logo.jpg" alt=""></a></li>
            <li><a href="/dermactin-ts"><img src="/arquivos/Dermactin-TS-Logo.jpg" alt=""></a></li>
            <li><a href="/difeel"><img src="/arquivos/Difeel-Logo.jpg" alt=""></a></li>
            <li><a href=""><img src="/arquivos/Exel-Logo.jpg" alt=""></a></li>
            <li><a href=""><img src="/arquivos/Face-Secrets-Logo.jpg" alt=""></a></li>
            <li><a href="/fingerpaints"><img src="/arquivos/FingerPaints-Logo.jpg" alt=""></a></li>
            <li><a href="/gelish"><img src="/arquivos/Gelish-Logo.jpg" alt=""></a></li>
            <li><a href="/gibs"><img src="/arquivos/Gibs-Logo.jpg" alt=""></a></li>
            <li><a href="/hair-chemist"><img src="/arquivos/Hair-Chemist-Logo.jpg" alt=""></a></li>
            <li><a href="/ion"><img src="/arquivos/ION-Logo.jpg" alt=""></a></li>
            <li><a href="/joico"><img src="/arquivos/Joico-Logo.jpg" alt=""></a></li>
            <li><a href="/lakme"><img src="/arquivos/Lakme-Logo.jpg" alt=""></a></li>
            <li><a href="/l-oreal"><img src="/arquivos/Loreal-Logo.jpg" alt=""></a></li>
            <li><a href=""><img src="/arquivos/Mini-Mani-Moo-Logo.jpg" alt=""></a></li>
            <li><a href="/morgan-taylor"><img src="/arquivos/Morgan-Taylor-Logo.jpg" alt=""></a></li>
            <li><a href="/mystic-divine"><img src="/arquivos/Mystic-Divine-Logo.jpg" alt=""></a></li>
            <li><a href="/nina-ultra-pro"><img src="/arquivos/Nina-Ultra-Pro-Logo.jpg" alt=""></a></li>
            <li><a href="/palladio"><img src="/arquivos/Palladio-Logo.jpg" alt=""></a></li>
            <li><a href="/paul-mitchell"><img src="/arquivos/Paul-Mitchell-Logo.jpg" alt=""></a></li>
            <li><a href="/proclaim"><img src="/arquivos/Proclaim-Logo.jpg" alt=""></a></li>
            <li><a href="/real-colors"><img src="/arquivos/Real-Colors-Logo.jpg" alt=""></a></li>
            <li><a href="/revlon"><img src="/arquivos/Revlon-Logo.jpg" alt=""></a></li>
            <li><a href=""><img src="/arquivos/Sally-Girl-Logo.jpg" alt=""></a></li>
            <li><a href="/schwarzkopf"><img src="/arquivos/Schwarzkopf-Logo.jpg" alt=""></a></li>
            <li><a href="/the-balm"><img src="/arquivos/The-Balm-Logo.jpg" alt=""></a></li>
            <li><a href=""><img src="/arquivos/Tigi-Logo.jpg" alt=""></a></li>
            <li><a href=""><img src="/arquivos/XP200-Logo.jpg" alt=""></a></li>
        </ul>
    </div>
    <div class="listado-marcas">
        <div class="col">
            <div class="row">
                <h3 class="letra-marca">A</h3>
            </div>
            <ul>
                <li><a href="/ag?PS=24">AG</a></li>
                <li><a href="/ag-hair">AG HAir</a></li>
                <li><a href="/american-classic">American Classic</a></li>
                <li><a href="/ardell">Ardell</a></li>
            </ul>
            <div class="row">
                <h3 class="letra-marca">B</h3>
            </div>
            <ul>
                <li><a href="/babylisspro">BabylissPRO</a></li>
                <li><a href="/barburys">Barburys</a></li>
                <li><a href="/beauty-secrets">Beauty Secrets</a></li>
                <li><a href="/beyond-belief">Beyond Belief</a></li>
                <li><a href="/beyond-the-zone">Beyond The Zone</a></li>
                <li><a href="/biotera">Biotera</a></li>
                <li><a href="/bitzy">Bitzy</a></li>
                <li><a href="/bodyography">Bodyography</a></li>
            </ul>
        </div>
        <div class="col">
            <div class="row">
                <h3 class="letra-marca">C</h3>
            </div>
            <ul>
                <li><a href="/california-mango">California Mango</a></li>
                <li><a href="/color-club">Color Club</a></li>
                <li><a href="/cricket">Cricket</a></li>
            </ul>
            <div class="row">
                <h3 class="letra-marca">D</h3>
            </div>
            <ul>
                <li><a href="/dermactin">Dermactin</a></li>
                <li><a href="/dermactin-ts">Dermactin-TS</a></li>
                <li><a href="/difeel">Difeel</a></li>
            </ul>
            <div class="row">
                <h3 class="letra-marca">E</h3>
            </div>
            <ul>
                <li><a href="/eurostil">Eurostil</a></li>
                <li><a href="/exel">Exel</a></li>
            </ul>
            <div class="row">
                <h3 class="letra-marca">F</h3>
            </div>
            <ul>
                <li><a href="/face-secrets">Face Secrets</a></li>
                <li><a href="/fingerpaints">FingerPaints</a></li>
            </ul>
        </div>
        <div class="col">
            <div class="row">
                <h3 class="letra-marca">G</h3>
            </div>
            <ul>
                <li><a href="/gelish">Gelish</a></li>
                <li><a href="/gibs">Gibs</a></li>
            </ul>
            <div class="row">
                <h3 class="letra-marca">H</h3>
            </div>
            <ul>
                <li><a href="/hair-chemist">Hair Chemist</a></li>
                <li><a href="/heel-to-toe">Heel to Toe</a></li>
                <li><a href="/henbor">Henbor</a></li>
            </ul>
            <div class="row">
                <h3 class="letra-marca">I</h3>
            </div>
            <ul>
                <li><a href="/ion">ION</a></li>
            </ul>
            <div class="row">
                <h3 class="letra-marca">J</h3>
            </div>
            <ul>
                <li><a href="/joico">Joico</a></li>
            </ul>
            <div class="row">
                <h3 class="letra-marca">K</h3>
            </div>
            <ul>
                <li><a href="/kocostar">Kocostar</a></li>
            </ul>
        </div>
        <div class="col">
            <div class="row">
                <h3 class="letra-marca">L</h3>
            </div>
            <ul>
                <li><a href="/l-oreal">L'Oréal</a></li>
                <li><a href="/lakme">Lakmé</a></li>
            </ul>
            <div class="row">
                <h3 class="letra-marca">M</h3>
            </div>
            <ul>
                <li><a href="/mini-mani-moo">Mini Mani Moo</a></li>
                <li><a href="/morgan-taylor">Morgan Taylor</a></li>
                <li><a href="/mystic-divine">Mystic Divine</a></li>
            </ul>
            <div class="row">
                <h3 class="letra-marca">N</h3>
            </div>
            <ul>
                <li><a href="/nina-ultra-pro">Nina Ultra Pro</a></li>
            </ul>
            <div class="row">
                <h3 class="letra-marca">O</h3>
            </div>
            <ul>
                <li><a href="/one-n-only">One N Only</a></li>
                <li><a href="/opi">OPI</a></li>
            </ul>
            <div class="row">
                <h3 class="letra-marca">P</h3>
            </div>
            <ul>
                <li><a href="/palladio">Palladio</a></li>
                <li><a href="/paul-mitchell">Paul Mitchell</a></li>
                <li><a href="/proclaim">Proclaim</a></li>
            </ul>
        </div>
        <div class="col">
            <div class="row">
                <h3 class="letra-marca">R</h3>
            </div>
            <ul>
                <li><a href="/real-colors">Real colors</a></li>
                <li><a href="/revlon">Revlon</a></li>
                <li><a href="/royal-brush">Royal Brush</a></li>
            </ul>
            <div class="row">
                <h3 class="letra-marca">S</h3>
            </div>
            <ul>
                <li><a href="/sally-girl">Sally Girl</a></li>
                <li><a href="/schwarzkopf">Schwarzkopf</a></li>
            </ul>
            <div class="row">
                <h3 class="letra-marca">T</h3>
            </div>
            <ul>
                <li><a href="/the-balm">The Balm</a></li>
            </ul>
            <div class="row">
                <h3 class="letra-marca">W</h3>
            </div>
            <ul>
                <li><a href="/wahl">Wahl</a></li>
                <li><a href="/wet-brush">Wet Brush</a></li>
            </ul>
            <div class="row">
                <h3 class="letra-marca">X</h3>
            </div>
            <ul>
                <li><a href="/xp201">XP201</a></li>
            </ul>
        </div>
    </div>
</div>