<div class="container">
    <div id="mainNavbarCollapse">
        <ul class="nav justify-content-center">
            <li class="nav-item cabello dropdown"><a href="/cabello" class="nav-link" id="navbarDropdown1" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span>CABELLO</a>
                <!--OK-->
                <ul id="menu-1" class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <div class="container">
                        <div class="row">
                            <div class="col col-principal">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a href="/cabello/shampoo-y-acondicionadores" class="nav-link">SHAMPOO Y ACONDICIONADORES</a></li>
                                    <li class="nav-item"><a href="/cabello/tratamientos-y-mascaras" class="nav-link">TRATAMIENTOS Y MÁSCARAS</a></li>
                                    <li class="nav-item"><a href="/cabello/aceites-y-serum" class="nav-link">ACEITES Y SERUM</a></li>
                                    <!--<li class="nav-item"><a href="/cabello/accesorios" class="nav-link">ACCESORIOS</a></li>-->
                                    <li class="nav-item"><a href="/cabello/pack" class="nav-link">PACKS</a></li>
                                    <li class="nav-item"><a href="/cabello" class="nav-link ver-mas">VER TODO CABELLO</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <h2><a href="#" class="nav-link">TIPO DE CABELLO</a></h2>
                                    </li>
                                    <li class="nav-item"><a href="/cabello/Seco?map=c,specificationFilter_19" class="nav-link">Seco</a></li>
                                    <li class="nav-item"><a href="/cabello/Dañado?map=c,specificationFilter_19" class="nav-link">Dañado</a></li>
                                    <li class="nav-item"><a href="/cabello/Tinturado?map=c,specificationFilter_19" class="nav-link">Tinturado</a></li>
                                    <li class="nav-item"><a href="/cabello/Liso?map=c,specificationFilter_19" class="nav-link">Liso</a></li>
                                    <li class="nav-item"><a href="/cabello/Rizo?map=c,specificationFilter_19" class="nav-link">Rizo</a></li>
                                    <li class="nav-item"><a href="/cabello/Dañado?map=c,specificationFilter_19" class="nav-link">Graso</a></li>
                                    <li class="nav-item"><a href="/cabello/Todo tipo de Cabello?map=c,specificationFilter_19" class="nav-link">Todo tipo de Cabello</a></li>
                                    <li class="nav-item"><a href="/cabello/Fino?map=c,specificationFilter_19" class="nav-link">Fino</a></li>
                                    <li class="nav-item"><a href="/cabello/Alisado?map=c,specificationFilter_19" class="nav-link">Alisado</a></li>
                                    <li class="nav-item"><a href="/cabello/Rubio@slash@Canoso?map=c,specificationFilter_19" class="nav-link">Rubio/Canoso</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <h2><a href="#" class="nav-link">SOLUCIÓN</a></h2>
                                    </li>
                                    <li class="nav-item"><a href="/cabello/Antifrizz?map=c,specificationFilter_20" class="nav-link">Antifrizz</a></li>
                                    <li class="nav-item"><a href="/cabello/Volumen?map=c,specificationFilter_20" class="nav-link">Volumen</a></li>
                                    <li class="nav-item"><a href="/cabello/Reparación, puntas partidas?map=c,specificationFilter_20" class="nav-link">Reparación, puntas partidas</a></li>
                                    <li class="nav-item"><a href="/cabello/Hidratación?map=c,specificationFilter_20" class="nav-link">Hidratación</a></li>
                                    <li class="nav-item"><a href="/cabello/Brillo?map=c,specificationFilter_20" class="nav-link">Brillo</a></li>
                                    <li class="nav-item"><a href="/cabello/Anticaída?map=c,specificationFilter_20" class="nav-link">Anticaída</a></li>
                                    <li class="nav-item"><a href="/cabello/Anticaspa?map=c,specificationFilter_20" class="nav-link">Anticaspa</a></li>
                                    <li class="nav-item"><a href="/cabello/Cuidados Especiales?map=c,specificationFilter_20" class="nav-link">Cuidados Especiales</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <a href="/shampoo-suavizante-con-keratina-para-el-cabello/p"><img src="/arquivos/destacado_cabello.png" alt="Destacado Cabello" /></a>
                            </div>
                        </div>
                    </div>
                </ul>
            </li>
            <li class="nav-item styling dropdown">
                <a class="nav-link" id="navbarDropdown2" data-target="#" href="/styling" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span>STYLING</a>
                <!--OK-->
                <ul id="menu-1" class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <div class="container">
                        <div class="row">
                            <div class="col col-principal">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a href="/styling/laca-spray" class="nav-link">LACA, SPRAY</a></li>
                                    <li class="nav-item"><a href="/styling/protector-termico" class="nav-link">PROTECTOR TÉRMICO</a></li>
                                    <li class="nav-item"><a href="/styling/crema-de-peinado" class="nav-link">CREMA DE PEINADO</a></li>
                                    <li class="nav-item"><a href="/styling/mousse" class="nav-link">MOUSSE</a></li>
                                    <li class="nav-item"><a href="/styling/cera" class="nav-link">CERA</a></li>
                                    <li class="nav-item"><a href="/styling/gel" class="nav-link">GEL</a></li>
                                    <li class="nav-item"><a href="/styling/aceites-y-serum" class="nav-link">ACEITE Y SERUM</a></li>
                                    <!--<li class="nav-item"><a href="/styling/accesorios" class="nav-link">ACCESORIOS</a></li>-->
                                    <li class="nav-item"><a href="/styling" class="nav-link ver-mas">VER TODO STYLING</a></li>
                                </ul>
                            </div>
                            <div class="col"></div>
                            <div class="col">
                                <a href="/spray-desenredante-styling-solutions/p"><img src="/arquivos/destacado_estilizador.png" alt="Destacados" /></a>
                            </div>
                        </div>
                    </div>
                </ul>
            </li>
            <li class="nav-item coloracion dropdown"><a href="/coloracion" class="nav-link" id="navbarDropdown3" data-target="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span>COLORACIÓN</a>
                <!--OK-->
                <ul id="menu-1" class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    <div class="container">
                        <div class="row">
                            <div class="col col-principal">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a href="/coloracion/tintes" class="nav-link">TINTES</a></li>
                                    <li class="nav-item"><a href="/coloracion/oxidantes-y-decolorantes" class="nav-link">OXIDANTES Y DECOLORANTES</a></li>
                                    <!--<li class="nav-item"><a href="/coloracion/tratamientos-especificos" class="nav-link">TRATAMIENTOS ESPECÍFICOS</a></li>-->
                                    <li class="nav-item"><a href="/coloracion/accesorios" class="nav-link">ACCESORIOS</a></li>
                                    <li class="nav-item"><a href="/coloracion" class="nav-link ver-mas">VER TODO COLORACIÓN</a></li>
                                </ul>
                            </div>
                            <div class="col"></div>
                            <div class="col">
                                <a href="/coloracion/tintes"><img src="/arquivos/destacado_coloracion.png" alt="Destacados Coloración" /></a>
                            </div>
                        </div>
                    </div>
                </ul>
            </li>
            <li class="nav-item electricos dropdown"><a href="/electricos" class="nav-link" id="navbarDropdown8" data-target="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span>ELÉCTRICOS</a>
                <!--OK-->
                <ul id="menu-1" class="dropdown-menu" aria-labelledby="navbarDropdown8">
                    <div class="container">
                        <div class="row">
                            <div class="col col-principal">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a href="/electricos/secadores" class="nav-link">SECADORES</a></li>
                                    <li class="nav-item"><a href="/electricos/planchas-alisadores" class="nav-link">PLANCHAS/ALISADORES</a></li>
                                    <li class="nav-item"><a href="/electricos/onduladores-rizadores" class="nav-link">ONDULADORES/RIZADORES</a></li>
                                    <li class="nav-item"><a href="/electricos/cortadoras-de-pelo-barba" class="nav-link">CORTADORAS DE PELO/BARBA (CLIPPER)</a></li>
                                    <li class="nav-item"><a href="/electricos/desvelladoras" class="nav-link">DESVELLADORAS (TRIMMER)</a></li>
                                    <li class="nav-item"><a href="/electricos/lamparas-esmaltado-permanente" class="nav-link">LÁMPARAS ESMALTADO PERMANENTE</a></li>
                                    <!--<li class="nav-item"><a href="/electricos/ollas-depilacion" class="nav-link">OLLAS DEPILACIÓN</a></li>-->
                                    <li class="nav-item"><a href="/electricos" class="nav-link ver-mas">VER TODO ELÉCTRICOS</a></li>
                                </ul>
                            </div>
                            <div class="col"></div>
                            <div class="col">
                                <a href="/plancha-alisadora-titanium-digital/p"><img src="/arquivos/destacado-electrico.png" alt="Destacados Eléctrico" /></a>
                            </div>
                        </div>
                    </div>
                </ul>
            </li>
            <li class="nav-item unas dropdown"><a href="/unas" class="nav-link" id="navbarDropdown4" data-target="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span>UÑAS</a>
                <!--OK-->
                <ul id="menu-1" class="dropdown-menu" aria-labelledby="navbarDropdown4">
                    <div class="container">
                        <div class="row">
                            <div class="col col-principal">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a href="/unas/esmaltes" class="nav-link">ESMALTES</a></li>
                                    <li class="nav-item"><a href="/unas/base-y-top-coat" class="nav-link">BASE Y TOP COAT</a></li>
                                    <li class="nav-item"><a href="/unas/tratamientos" class="nav-link">TRATAMIENTOS</a></li>
                                    <li class="nav-item"><a href="/unas/quita-esmaltes" class="nav-link">QUITA ESMALTES</a></li>
                                    <li class="nav-item"><a href="/unas/accesorios" class="nav-link">ACCESORIOS</a></li>
                                    <li class="nav-item"><a href="/unas/lamparas-esmaltado-permanente" class="nav-link">LÁMPARAS ESMALTADO PERMANENTE</a></li>
                                    <li class="nav-item"><a href="/unas/packs" class="nav-link">PACKS</a></li>
                                    <li class="nav-item"><a href="/unas" class="nav-link ver-mas">VER TODO UÑAS</a></li>
                                </ul>
                            </div>
                            <div class="col"></div>
                            <div class="col">
                                <a href="/esmalte-para-unas-morgan-taylor/p"><img src="/arquivos/destacado_nails.png" alt="Destacados Uñas" /></a>
                            </div>
                        </div>
                    </div>
                </ul>
            </li>
            <li class="nav-item maquillaje dropdown"><a href="/maquillaje" class="nav-link" id="navbarDropdown5" data-target="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span>MAQUILLAJE</a>
                <!--OK-->
                <ul id="menu-1" class="dropdown-menu" aria-labelledby="navbarDropdown5">
                    <div class="container">
                        <div class="row">
                            <div class="col col-principal">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a href="/maquillaje/rostro" class="nav-link">ROSTRO</a></li>
                                    <li class="nav-item"><a href="/maquillaje/mejillas" class="nav-link">MEJILLAS</a></li>
                                    <li class="nav-item"><a href="/maquillaje/ojos" class="nav-link">OJOS</a></li>
                                    <li class="nav-item"><a href="/maquillaje/labios" class="nav-link">LABIOS</a></li>
                                    <li class="nav-item"><a href="/maquillaje/paletas-y-sets" class="nav-link">PALETAS Y SETS</a></li>
                                    <li class="nav-item"><a href="/maquillaje/brochas-y-aplicadores" class="nav-link">BROCHAS Y APLICADORES</a></li>
                                    <li class="nav-item"><a href="/maquillaje/accesorios" class="nav-link">ACCESORIOS</a></li>
                                    <li class="nav-item"><a href="/maquillaje" class="nav-link ver-mas">VER TODO MAQUILLAJE</a></li>
                                </ul>
                            </div>
                            <div class="col"></div>
                            <div class="col">
                                <a href="https://sallybeauty.myvtex.com/paleta-de-sombras-nude-dude-naughty/p"><img src="/arquivos/destacado_makeup.png" alt="Destacados Maquillaje" /></a>
                            </div>
                        </div>
                    </div>
                </ul>
            </li>
            <li class="nav-item piel dropdown"><a href="/piel" class="nav-link" id="navbarDropdown6" data-target="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span>PIEL</a>
                <!--OK-->
                <ul id="menu-1" class="dropdown-menu" aria-labelledby="navbarDropdown6">
                    <div class="container">
                        <div class="row">
                            <div class="col col-principal">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a href="/piel/rostro" class="nav-link">ROSTRO</a></li>
                                    <li class="nav-item"><a href="/piel/ojos" class="nav-link">OJOS</a></li>
                                    <li class="nav-item"><a href="/piel/cuerpo-y-manos" class="nav-link">CUERPO Y MANOS</a></li>
                                    <li class="nav-item"><a href="/piel/pies" class="nav-link">PIES</a></li>
                                    <li class="nav-item"><a href="/piel" class="nav-link ver-mas">VER TODO PIEL</a></li>
                                </ul>
                            </div>
                            <div class="col"></div>
                            <div class="col">
                                <a href="/piel/rostro"><img src="/arquivos/destacado_piel.png" alt="Destacados Piel" /></a>
                            </div>
                        </div>
                    </div>
                </ul>
            </li>
            <!--<li class="nav-item hombre dropdown"><a href="/hombre" class="nav-link" id="navbarDropdown7" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span></span>HOMBRE</a>
                <ul id="menu-1" class="dropdown-menu" aria-labelledby="navbarDropdown7">
                    <div class="container">
                        <div class="row">
                            <div class="col col-principal">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a href="#" class="nav-link">BARBA/AFEITADO</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">CABELLO</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">CIUDADO DE LA PIEL</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">MÁQUINAS</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">CEPILLOS Y PEINETAS</a></li>
                                    <li class="nav-item"><a href="/hombre" class="nav-link ver-mas">VER TODO HOMBRE</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <h2><a href="#" class="nav-link">TIPO DE CABELLO</a></h2>
                                    </li>
                                    <li class="nav-item"><a href="#" class="nav-link">Seco</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Dañado</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Tinturado</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Liso</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Rizo</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Graso</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Todo tipo de Cabello</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Fino</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Alisado</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Rubio/Canoso</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <h2><a href="#" class="nav-link">SOLUCIÓN</a></h2>
                                    </li>
                                    <li class="nav-item"><a href="#" class="nav-link">Volumen</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Reparación, puntas partidas</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Hidratación</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Brillo</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Anticaída</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Anticaspa</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <img src="/" alt="" />
                            </div>
                        </div>
                    </div>
                </ul>
            </li>-->
        </ul>
    </div>
</div>