#set($id = $product.Id)

#set($idSku = $product.productVariantId)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)

#if ($product.IsInStock)
<span class="box-item text-center">
    #else
    <span class="box-item text-center product-off">
        #end
        <a class="product-image" title="$escapedName" href="$uri">
            <div class="box-image js--lazyload has--lazyload" data-noscript="">
              <noscript>$product.GetImageTag(2)</noscript>
          </div>
          $product.HightLight
      </a>
    <!--<a class="product-image" title="$escapedName" href="$uri">
        $product.HightLight
        $product.GetImageTag(2)
    </a>-->
    
    <b class="product-name">
        <a title="$escapedName" href="$uri">
            $product.Name
        </a>
    </b>
    #if ($product.IsInStock)
    <span class="price">
        <a title="$escapedName" href="$uri">
            #if ($product.HasBestPrice)
            <span class="old-price">
                $product.ListPrice
            </span>
            <span class="best-price">
                $product.BestPrice
            </span>
            #else
            <span class="best-price">
                $product.BestPrice
            </span>                    
            #end
            #if ($product.NumbersOfInstallment > 1)
            <span class="installment">
                ou ${product.NumbersOfInstallment}x de $product.InstallmentValue
            </span>
            #end
        </a>
    </span>
    $product.BottomBuyAsynchronous

    #else
    <span class="out-of-stock">Producto Agotado</span> 
    #end
</span>