<div class="d-block d-md-none">
    <div id="sidebar-terminos">
        <ul>
            <li><a href="/Institucional/politicas-comerciales"><h3>Política de Privacidad</h3></a></li>
            <li><a href="/Institucional/politicas-cambio-y-devolucion"><h3>Políticas de Cambios y Devoluciones</h3></a></li>
            <li><a href="/Institucional/preguntas-frecuentes"><h3>Preguntas Frecuentes</h3></a></li>
        </ul>
    </div>
</div>
<div class="d-none d-md-block">
    <div id="sidebar-terminos">
        <ul>
            <li>
                <h3>Política de Privacidad</h3>
                <ul>
                    <li><a href="/Institucional/politicas-comerciales">Política de Privacidad</a></li>
                </ul>
            </li>
            <li>
                <h3>Políticas de Cambios y Devoluciones</h3>
                <ul>
                    <li><a href="/Institucional/politicas-cambio-y-devolucion#CondicionesCambio">Condiciones para Cambio</a></li>
                    <li><a href="/Institucional/politicas-cambio-y-devolucion#GarantiaVoluntaria">Garantía Voluntaria</a></li>
                    <li><a href="/Institucional/politicas-cambio-y-devolucion#GarantiaLegal">Garantía Legal y Beneficios Ofrecidos por el Fabricante</a></li>
                    <li><a href="/Institucional/politicas-cambio-y-devolucion#Reembolso">Reembolso</a></li>
                </ul>
            </li>
            <li>
                <h3>Preguntas Frecuentes</h3>
                <ul>
                    <li><a href="/Institucional/preguntas-frecuentes#RastrearPedido">¿Cómo puedo rastrear mi pedido</a></li>
                    <li><a href="/Institucional/preguntas-frecuentes#OpcionesEnvio">¿Cuáles son las opciones de envío?</a></li>
                    <li><a href="/Institucional/preguntas-frecuentes#EnviosInter">¿Realizan envíos Internacionales?</a></li>
                    <li><a href="/Institucional/preguntas-frecuentes#Descontinuar">Se descontinuó mi producto favorito, ¿Cómo lo puedo adquirir?</a></li>
                    <li><a href="/Institucional/preguntas-frecuentes#ProductoDanado">Mi producto llegó dañado, ¿Qué puedo hacer en estos casos?</a></li>
                    <li><a href="/Institucional/preguntas-frecuentes#ProductGarantia">¿Qué productos manejan garantía?</a></li>
                    <li><a href="/Institucional/preguntas-frecuentes#Equivocado">Recibí el artículo equivocado, ¿Puedo Devolverlo?</a></li>
                    <li><a href="/Institucional/preguntas-frecuentes#MediosPagos">¿Cuáles son los métodos de pago que aceptan?</a></li>
                    <li><a href="/Institucional/preguntas-frecuentes#PagoEfectivo">¿Aceptan pagos en efectivo?</a></li>
                    <li><a href="/Institucional/preguntas-frecuentes#PostPago">¿Qué pasa después de que realicé mi pago?</a></li>
                    <li><a href="/Institucional/preguntas-frecuentes#DatosSeguros">¿Mis datos están seguros?</a></li>
                    <li><a href="/Institucional/preguntas-frecuentes#ProblemasCompra">¿Qué hago si tengo problemas para comprar?</a></li>
                    <li><a href="/Institucional/preguntas-frecuentes#Facturacion">¿Dónde genero mi factura?</a></li>
                    <li><a href="/Institucional/preguntas-frecuentes#AsistenciaOnline">¿Requieres asistencia para comprar en línea?</a></li>
                    <li><a href="/Institucional/preguntas-frecuentes#DctosPromo">¿Cómo puedo recibir descuentos y promociones?</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>