<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">CENTRO DE DISTRIBUCIÓN Y CASA MATRIZ</a></h3>
    <p class="dirección">AV Miraflores 8770</p>
    <p class="comuna"> RENCA <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-c1">Más info</p>
    <div class="info-mas" id="info-mas-c1">
        <ul class="ul-tiendas-2">
            <li class="telefono"> 228769000 </li>
            <li class="correo-tienda"> info@kayser.cl </li>
            <li class="atención"> Lunes a Jueves: <span class="desde">8:00hrs</span> a <span class="hasta">18.30hrs</span></li>
            <li class="atención"> Viernes: <span class="desde">8:00hrs</span> a <span class="hasta">14.00hrs</span></li>
            <li class="atención"> Sábado: <span class="desde">CERRADO</span></li>
            <li class="atención"> Domingo: <span class="desde">CERRADO</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion">  Lat: -33.397, Lng: -70.763 </span></li>
        </ul>
    </div>
</li>