<link href="/arquivos/slick.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"/>
<!--<link rel="stylesheet" href="/arquivos/jquery-ui.min.css" />-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
<link href="/arquivos/sidebar.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/banderines.css" rel="stylesheet" type="text/css" />
<!--<link href="/arquivos/style.css" rel="stylesheet" type="text/css" />-->
<link href="https://propulso.cl/clientes/sallybeauty/style.css" rel="stylesheet" type="text/css" />
<!--Favicon-->
<link rel="icon" type="image/ico" href="/arquivos/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/arquivos/apple-touch-icon.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="/arquivos/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/arquivos/favicon-16x16.png"/>
<link rel="mask-icon" href="/arquivos/safari-pinned-tab.svg" color="#5bbad5"/>
<meta name="msapplication-TileColor" content="#e62a77"/>
<meta name="theme-color" content="#ffffff"/> 