<script src="/arquivos/bootstrap.js?u=1"></script>
<script src="/arquivos/pace.min.js"></script>
<!--<script src="/arquivos/owl.carousel.min.js"></script>
	<script src="/arquivos/menu-responsivo.js"></script>-->
	<script src="/arquivos/advanced-filter.js"></script>
	<script src="/arquivos/admake-mini-cart.js"></script>
	<!--<script src="/arquivos/default.js"></script>-->
	<script src="/arquivos/slick.min.js"></script>
	<script src="/arquivos/sidebar.js"></script>
	<script src="/arquivos/transition.js"></script>
	<script src="https://propulso.cl/clientes/sallybeauty/vtex-lazyload.js"></script>
	<script src="https://propulso.cl/clientes/sallybeauty/functions.js"></script> 