<footer>
	<div class="container-fluid footer-info">
		<div class="row">
			<div class="col">
				<a href="#">
					<svg viewBox="0 0 50 50"><style type="text/css">  
						.pantonera{fill:#AEAEAE;}
					</style><path class="pantonera" d="M42.4 25c-0.2-0.5-0.7-0.7-1.1-0.5l-8.3 3.1 6.7-6.7c0.2-0.2 0.3-0.4 0.3-0.6 0-0.2-0.1-0.5-0.3-0.6l-5.2-5.2c-0.3-0.3-0.9-0.3-1.3 0l-6.6 6.6 3.7-8.8c0.1-0.2 0.1-0.5 0-0.7 -0.1-0.2-0.3-0.4-0.5-0.5L23 8.1c-0.5-0.2-1 0-1.2 0.5l-3.7 8.7V8c0-0.5-0.4-0.9-0.9-0.9H9.5C9 7.1 8.6 7.5 8.6 8v33.9c0 0.5 0.4 0.9 0.9 0.9h7.7c0.1 0 0.2 0 0.3-0.1 0.1 0 0.2 0.1 0.3 0.1 0.1 0 0.2 0 0.3-0.1l26.2-9.6c0.5-0.2 0.7-0.7 0.5-1.1L42.4 25zM13.9 41h-3.5v-1.5 -1 -0.7 -2.3V8.9h5.9v12.6 2.3 2.3 5 1.3 1.2 0 5.5 0.9 0.3 0.1V41h-0.2 -0.5H13.9zM28.3 12.3l-5.1 12 -0.9 2.2 -0.9 2.2 -1.6 3.7 -0.9 2.2 -0.7 1.7v-1.4V33v-1.1 -1.3 -1.3 -7.5l5-11.8L28.3 12.3zM21.1 33.7l0.9-2.2 2.6-6.2 9.1-9.1 4 4L28.9 29l-3 3 -7 7L21.1 33.7zM20.5 40l9.4-9.4L41 26.5l1.9 5.3L20.5 40z"/><path class="pantonera" d="M13.4 37.3c0 0-0.1 0-0.1 0 -0.3 0-0.6 0.2-0.8 0.4 -0.1 0.2-0.2 0.3-0.3 0.6 0 0.1 0 0.2 0 0.3 0 0.3 0.1 0.5 0.2 0.8 0.2 0.3 0.6 0.5 1 0.5 0.1 0 0.1 0 0.2 0 0.3 0 0.5-0.1 0.7-0.3 0.1-0.1 0.2-0.2 0.2-0.3 0.1-0.2 0.2-0.4 0.2-0.6 0 0 0-0.1 0-0.1C14.7 37.9 14.1 37.3 13.4 37.3"/></svg>
					<p>MILES DE PRODUCTOS DE BELLEZA<br/>PROFESIONAL</p>							
				</a>
			</div>
			<div class="col">
				<a href="/Institucional/politicas-cambio-y-devolucion">
					<svg viewBox="0 0 50 50"><style type="text/css">  
						.reparto{fill:#AEAEAE;}
					</style><path class="reparto" d="M40.4 18.7h-3.1l0.9-10.9c0 0 0 0 0-0.1v0 0c0-0.3-0.2-0.6-0.4-0.7 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0h0 0H22.5c-0.4 0-0.7 0.3-0.7 0.7 0 0.4 0.3 0.7 0.7 0.7h14.1l-1.5 16.7c0 0 0 0 0 0l-0.4 4.2H9.5L9.9 25h4.8c0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7H10l0.9-9.2h7.7c0.4 0 0.7-0.3 0.7-0.7 0-0.4-0.3-0.7-0.7-0.7h-7.5l0.4-4.3h8.1c0.4 0 0.7-0.3 0.7-0.7C20.3 7.4 20 7 19.6 7h-8.8 0c-0.3 0-0.6 0.2-0.7 0.6l0 0c0 0 0 0 0 0.1 0 0 0 0 0 0 0 0 0 0 0 0l-0.5 5.1H0.8c-0.4 0-0.7 0.3-0.7 0.7 0 0.4 0.3 0.7 0.7 0.7h8.7l-0.9 9.2H6c-0.4 0-0.7 0.3-0.7 0.7C5.2 24.7 5.6 25 6 25h2.5l-0.5 5v0l-0.8 7.8v0l0 0c0 0 0 0 0 0 0 0 0 0 0 0v0c0 0 0 0 0 0.1 0 0 0 0 0 0 0 0 0 0 0 0.1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0.1 0.2 0.2 0.3 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0 0.1 0.1 0.2 0.1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0 0 0 0 0 0 0 0 0 0 0 0.1 0 0 0 0 0 0 0 0 0 0 0 0.1 0h0c0 0 0 0 0.1 0h0 3.3c0.4 2.7 2.7 4.8 5.5 4.8 2.8 0 5.2-2.1 5.5-4.8h11.7c0.4 2.7 2.7 4.8 5.5 4.8s5.2-2.1 5.5-4.8h3.3 0c0 0 0 0 0.1 0 0 0 0 0 0 0 0 0 0 0 0.1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0s0 0 0 0c0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0-0.1 0 0 0 0 0 0 0 0 0 0 0-0.1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0-0.2 0.6-4.8 0.9-7.8 0 0 0 0 0 0 0.1-0.9 0.1-1.6 0.1-2C49.9 22.9 45.6 18.7 40.4 18.7M37.1 20.1h3l-0.4 4.4h-3L37.1 20.1zM16.7 42c-2.3 0-4.1-1.8-4.1-4.1 0-2.3 1.8-4.1 4.1-4.1 2.3 0 4.1 1.8 4.1 4.1C20.8 40.2 18.9 42 16.7 42M39.4 42c-2.3 0-4.1-1.8-4.1-4.1 0-2.3 1.8-4.1 4.1-4.1s4.1 1.8 4.1 4.1C43.5 40.2 41.7 42 39.4 42M47.5 37.2h-2.6c-0.4-2.7-2.7-4.8-5.5-4.8s-5.2 2.1-5.5 4.8H22.2c-0.4-2.7-2.7-4.8-5.5-4.8 -2.8 0-5.2 2.1-5.5 4.8H8.7l0.6-6.3h26.2v0h0c0 0 0 0 0.1 0 0 0 0 0 0 0 0 0 0 0 0.1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0l0 0c0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0l0.4-4.2h3.8c2.2 0 3.2 1.2 4.3 2.4 0.9 1 1.9 2.1 3.5 2.4C48 33 47.7 35.9 47.5 37.2M48.4 29.3c-1.1-0.2-1.8-1-2.6-1.9 -1-1.2-2.2-2.6-4.6-2.8l0.4-4.3c3.9 0.6 6.9 3.9 6.9 7.9C48.4 28.4 48.4 28.8 48.4 29.3"/><path class="reparto" d="M16.7 35.2c-1.5 0-2.7 1.2-2.7 2.7 0 1.5 1.2 2.7 2.7 2.7 1.5 0 2.7-1.2 2.7-2.7C19.3 36.4 18.1 35.2 16.7 35.2M16.7 39.1c-0.7 0-1.2-0.5-1.2-1.2s0.5-1.2 1.2-1.2c0.7 0 1.2 0.5 1.2 1.2S17.3 39.1 16.7 39.1"/><path class="reparto" d="M39.4 35.2c-1.5 0-2.7 1.2-2.7 2.7 0 1.5 1.2 2.7 2.7 2.7 1.5 0 2.7-1.2 2.7-2.7C42.1 36.4 40.9 35.2 39.4 35.2M39.4 39.1c-0.7 0-1.2-0.5-1.2-1.2s0.5-1.2 1.2-1.2c0.7 0 1.2 0.5 1.2 1.2S40.1 39.1 39.4 39.1"/><path class="reparto" d="M6.9 18.7H3.4c-0.4 0-0.7 0.3-0.7 0.7 0 0.4 0.3 0.7 0.7 0.7h3.6c0.4 0 0.7-0.3 0.7-0.7C7.7 19 7.3 18.7 6.9 18.7"/></svg>
					<p>DESPACHO<br/>A DOMICILIO</p>							
				</a>
			</div>
			<div class="col">
				<a href="/Institucional/politicas-comerciales">
					<svg viewBox="0 0 50 50"><style type="text/css">  
						.compra-segura{fill:#AEAEAE;}
					</style><path class="compra-segura" d="M41 6.8H10c-3 0-5.5 2.5-5.5 5.5v17.9c0 3 2.5 5.5 5.5 5.5h16.5v4.8c0 1.7 1.4 3 3 3h9.2c1.7 0 3-1.4 3-3v-4.9c2.7-0.3 4.9-2.6 4.9-5.5V12.4C46.6 9.3 44.1 6.8 41 6.8M40.1 40.6c0 0.8-0.6 1.4-1.4 1.4h-9.2c-0.8 0-1.4-0.6-1.4-1.4V32h12V40.6zM30.8 30.4v-3.1c0-1.7 1.5-3.1 3.3-3.1 1.8 0 3.3 1.4 3.3 3.1v3.1H30.8zM44.9 30.3c0 1.9-1.4 3.5-3.3 3.8v-2.9c0-0.4-0.4-0.8-0.8-0.8h-1.9v-3.1c0-2.6-2.2-4.7-4.9-4.7s-4.9 2.1-4.9 4.7v3.1h-1.9c-0.4 0-0.8 0.4-0.8 0.8v3H10c-2.2 0-3.9-1.8-3.9-3.9V19.4h38.9V30.3zM44.9 17.8H6.1V15h38.9V17.8zM44.9 13.4H6.1v-1.1c0-2.2 1.8-3.9 3.9-3.9H41c2.2 0 3.9 1.8 3.9 3.9V13.4z"/><path class="compra-segura" d="M10.1 31.1h12.8c0.4 0 0.8-0.4 0.8-0.8s-0.4-0.8-0.8-0.8H10.1c-0.4 0-0.8 0.4-0.8 0.8S9.6 31.1 10.1 31.1"/><path class="compra-segura" d="M33.3 38.1v1.8c0 0.4 0.4 0.8 0.8 0.8 0.4 0 0.8-0.4 0.8-0.8v-1.8c1-0.3 1.8-1.3 1.8-2.5 0-1.4-1.2-2.6-2.6-2.6 -1.4 0-2.6 1.2-2.6 2.6C31.5 36.8 32.2 37.8 33.3 38.1M34.1 34.7c0.5 0 1 0.4 1 1s-0.4 1-1 1c-0.5 0-1-0.4-1-1S33.5 34.7 34.1 34.7"/></svg>
					<p>COMPRA<br/>SEGURA</p>							
				</a>

			</div>
		</div>				
	</div>
	<div class="pre-footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-md bg-gris">
					<a href="http://clubsally.cl/" target="_blank">
						<svg id="club-sally" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 42"><style type="text/css">.club-sally{fill:#FFFFFF;}</style><path class="club-sally" d="M17.3 39.2l1.1-1.3c0.8 0.6 1.5 1 2.5 1 0.8 0 1.2-0.3 1.2-0.8v0c0-0.5-0.3-0.7-1.7-1.1 -1.7-0.4-2.7-0.9-2.7-2.5v0c0-1.5 1.2-2.5 2.9-2.5 1.2 0 2.2 0.4 3.1 1.1l-0.9 1.4c-0.7-0.5-1.4-0.8-2.2-0.8 -0.7 0-1.1 0.3-1.1 0.7v0c0 0.6 0.4 0.7 1.8 1.1 1.7 0.4 2.6 1 2.6 2.5v0c0 1.6-1.3 2.6-3 2.6C19.6 40.5 18.3 40.1 17.3 39.2"/><path class="club-sally" d="M29.4 32h1.7l3.6 8.4h-1.9l-0.8-1.9h-3.5l-0.8 1.9h-1.9L29.4 32zM31.3 36.9l-1.1-2.7 -1.1 2.7H31.3z"/><polygon class="club-sally" points="37 32.1 38.8 32.1 38.8 38.7 42.9 38.7 42.9 40.4 37 40.4 "/><polygon class="club-sally" points="45.4 32.1 47.2 32.1 47.2 38.7 51.3 38.7 51.3 40.4 45.4 40.4 "/><polygon class="club-sally" points="56.1 37.1 52.9 32.1 55 32.1 57 35.4 59 32.1 61.1 32.1 57.9 37.1 57.9 40.4 56.1 40.4 "/><path class="club-sally" d="M1.4 27.3C1.5 26.2 1.6 25 1.9 24c1.4-5.1 3.8-9.6 7.2-13.7 2.5-3.1 5.3-5.7 9-7.3 0.5-0.2 1-0.4 1.5-0.4 2.9-0.4 4.8 1.6 4.1 4.5 -0.8 3.1-2.5 5.7-4.5 8.2 -0.7 0.8-1.4 1.6-2.1 2.3 -0.6 0.7-0.7 0.6-1.5 0 2.1-3.1 4.4-6.2 5.8-9.8 0.3-0.7 0.5-1.4 0.6-2.1 0.1-1.9 0-2.1-1.9-1.7 -1 0.2-1.9 0.7-2.8 1.3 -2.8 1.6-4.8 4-6.7 6.5 -3 4-5.3 8.3-6.3 13.2 -0.4 1.8-0.4 3.6 0.1 5.4 0.4 1.6 1.8 2.3 3.6 1.7 4.7-1.5 8.9-4 12.7-7 1.2-1 2.4-2 3.5-3 0.3-0.3 0.4-0.7 0.5-1.1 1.3-4.6 3-8.9 5.5-12.9 0.6-0.9 1.3-1.8 2.1-2.5 0.4-0.4 1-0.6 1.5-0.7 0.8-0.1 1.1 0.3 1 1.1 -0.2 2.5-1.7 4.5-2.7 6.7 -1.3 2.8-2.7 5.5-4 8.3 -0.7 1.5-1.4 3.1-1.9 4.8 -0.3 1-0.3 2.1-0.4 3.2 1.4 0 2.4-0.7 3.2-1.4 1.6-1.5 3.1-3 4.6-4.6 0.6-0.7 0.9-1.6 1.4-2.4 0.4-0.7 0.9-1.4 1.4-2 0.8-1.1 1.3-1.2 2.6-0.3 -1.1 2.5-2.8 4.8-3.4 7.6 0.1 0.1 0.2 0.1 0.2 0.2 1-1 2.1-2 3.1-3.1 1.2-1.3 2.4-2.6 3.5-3.9 0.6-0.7 1.2-1.5 1.7-2.3 0.4-0.6 1.4-0.8 1.9-0.3 0.4 0.4 0.5 1.4 0.2 1.9C44.5 21 43.4 23.8 43 27c0 0.1 0 0.3 0.1 0.5 0.2-0.2 0.4-0.3 0.6-0.4 1.8-1.7 3.6-3.4 5.4-5.1 0.2-0.2 0.5-0.5 0.8-0.6 1.4-0.5 1.5-1.8 2-3 2-5.3 3.7-10.7 7-15.3 0.4-0.6 1-1.1 1.5-1.7 0.2-0.2 0.5-0.3 0.9-0.5 0 0.4-0.1 0.6-0.1 0.8 0.2-0.2 0.4-0.3 0.6-0.4 0.1 0 0.2 0 0.3 0.1 -0.1 0.4-0.1 0.8-0.3 1.1 -1.9 3.9-3.9 7.8-5.7 11.8 -0.8 1.6-1.3 3.4-2 5 -0.1 0.2-0.1 0.5-0.2 1 1-0.9 1.9-1.8 2.8-2.5 0.9-0.6 1.8-1.2 2.8-1.7 2.2-1 4.2 0.5 4.1 2.9 0 0.3 0 0.6-0.1 1.1 1.3-0.2 2.5-0.4 3.9-0.6 -0.2 0.2-0.3 0.4-0.4 0.5 -1 0.3-1.9 0.7-2.9 1 -0.7 0.2-1.1 0.6-1.3 1.2 -0.8 2.4-2.5 4.3-4.6 5.7 -0.5 0.3-1.1 0.6-1.7 0.7 -0.8 0.2-1.3-0.2-1.8-0.8 -0.4-0.6-0.1-1 0.3-1.5 1.5-2 3.3-3.8 5.5-4.9 0.8-0.4 0.9-1.2 1.1-1.9 0.1-0.3 0.2-0.5 0.2-0.8 0-0.5 0-0.9-0.1-1.4 -0.6 0.1-1.2 0-1.6 0.3 -2.4 1.2-4.3 3-6 5 -1.9 2.2-3 4.8-3.5 7.6 -0.1 0.7 0 1.5 0 2.2 -1.2-0.1-1.9-0.6-1.8-1.7 0.1-1.7 0.5-3.4 0.8-5.1 0.3-1.2 0.8-2.3 1.1-3.4 -0.7 0.6-1.5 1.3-2.2 2 -1.3 1.2-2.6 2.5-3.8 3.8 -0.7 0.7-1.4 0.8-2.3 0.4 -0.8-0.4-0.9-1-0.9-1.7 -0.1-1.9 0.2-3.7 0.9-5.4 -0.1-0.1-0.3-0.2-0.4-0.4 -0.2 0.4-0.3 0.8-0.6 1.1 -1.5 1.8-3 3.5-4.5 5.3 -0.6 0.7-1.3 1-2.2 0.5 -0.8-0.5-1.8-0.9-1.6-2.1 0-0.1 0-0.2 0-0.4 -1 0.9-1.8 1.8-2.8 2.5 -1.2 0.8-2.4 1.6-3.7 2.2 -0.9 0.4-1.9 0-2.3-0.9 -0.6-1.2-0.5-2.4-0.4-3.6 0-0.3 0.1-0.6 0.2-1 -1.5 1.3-2.9 2.5-4.4 3.6 -3.2 2.3-6.6 4.4-10.6 5.4 -3.3 0.9-7.2-0.8-7.3-4.9 0-0.2-0.1-0.3-0.2-0.5V27.3zM28.3 18.5c1.9-3.9 3.8-7.7 5.8-11.8C32.5 7.3 28.3 16 28.3 18.5M56 26.8c0.1 0.1 0.2 0.2 0.3 0.3 1.1-1.1 2.2-2.3 3.3-3.4 -0.1-0.1-0.2-0.2-0.3-0.3C58.3 24.5 57.2 25.6 56 26.8M37.5 18.5c-1.4 1.9-2.8 3.8-3.4 6.3C35.3 22.6 36.4 20.5 37.5 18.5M53.6 21.2C53.6 21.2 53.6 21.2 53.6 21.2c0.8-0.8 1.6-1.6 2.4-2.5 0 0 0 0 0 0L53.6 21.2M10 10.1c0.1 0.1 0.2 0.1 0.2 0.2 0.9-1 1.7-1.9 2.6-2.9 -0.1 0-0.1-0.1-0.2-0.1C11.8 8.2 10.9 9.2 10 10.1M27 17.3l-0.2-0.1c-0.4 1.2-0.8 2.5-1.2 3.7 0.1 0 0.1 0 0.2 0.1C26.2 19.7 26.6 18.5 27 17.3"/></svg>
					</a>	
				</div>
				<div class="col-12 col-sm bg-gris">
					<a href="mailto:ecommerce-chile@sallybeauty.cl">
						<i class="far fa-envelope"></i>
						<p>ECOMMERCE-CHILE@SALLYBEAUTY.COM</p>								
					</a>
				</div>
				<div class="col-12 col-sm bg-gris">
					<a href="/institucional/preguntas-frecuentes">
						<i class="far fa-comments"></i>
						<p>PREGUNTAS FRECUENTES</p>								
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="sociales">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm">
					<h3 class="d-none d-sm-block">CONÉCTATE CON NOSOTROS</h3>
					<ul class="list-inline">
                        <li class="list-inline-item"><a href="https://www.youtube.com/channel/UC-ubFBN7FnqBEyyYBc1f0NA" target="_blank"><i class="fab fa-youtube"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/sallybeauty_cl/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/SallyBeautyChile/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
					</ul>
					<p class="d-none d-sm-block">Agreganos a tus redes sociales y entérate de noticias promociones y<br/> tips que te ayudarán a ocupar todos nuestros productos.</p>
				</div>
				<div class="col-12 col-sm text-left">
					<h3>NEWSLETTER<br/>
					<small>Inscríbete y obten descuentos y promociones.</small></h3>
					<vtex.cmc:newsletterOptIn/>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<ul class="list-inline">
			<li class="list-inline-item logo-sally">
				<svg viewBox="0 0 116 67"><style type="text/css">.magenta-b{fill:#fff;}</style><rect x="66.2" y="0.2" class="magenta-b" width="6.6" height="47.3"/><path class="magenta-b" d="M108.6 13.1L97 40.3 85.2 13.1h-4V0.2h-6.6v47.3h6.6V20.9l12.4 27.2L92 51.2c-2.1 4.4-3.1 5.3-7.2 5.3 -1.6 0-2.6-0.2-3.8-0.3v5.5c1.7 0.1 3.4 0.3 5 0.3 6.1 0 8.7-1.2 12-8.5l18-40.3H108.6z"/><path class="magenta-b" d="M48.3 11.9c-8.2 0-13.6 2.1-15.9 7.3 -2.2-4.3-7.1-7.3-15.5-7.3C7.1 11.9 1.1 16.1 1.1 23c0 5.3 4.4 8.5 9.3 9.1l10.8 1.4c5.3 0.7 6.5 2.2 6.5 4.6 0 2.4-2 5.4-10.5 5.4 -8.3 0-10.8-3.8-10.8-6.9h-6.6c0.7 10 9.7 12 17.6 12 6.3 0 11.3-1.4 14.3-4.2 2 2.4 5.6 4.2 11.9 4.2 5.6 0 12-2 14.7-5.6v4.4h3 2.8v-7.3V21.7C64.1 13.7 55.3 11.9 48.3 11.9M20.9 27.7l-7.5-0.9c-1.1-0.1-2.1-0.3-3-0.6 -1.4-0.4-2.3-1.2-2.7-2.5 -0.2-0.5-0.3-1-0.3-1.6 0-0.1 0-0.3 0-0.5 0-0.1 0-0.2 0.1-0.3 1.1-5.2 8-5 11.5-4.7 3.4 0.3 9 2.5 12 6.6 0.7 0.9 1.2 1.9 1.5 3 0.3-1.1 0.9-2.1 1.5-3 3-4.2 8.6-6.3 12-6.6 3.4-0.3 10.4-0.4 11.5 4.7 0 0.1 0 0.2 0.1 0.3 0 0.2 0 0.3 0 0.5 0 0.6-0.1 1.1-0.3 1.6 -0.4 1.3-1.4 2-2.7 2.5 -0.8 0.3-1.8 0.4-3 0.6l-7.5 0.9c-5.9 0.8-9.4 2.2-11.7 4.5C30.3 29.9 26.8 28.5 20.9 27.7M57.9 34c0 5.7-6.2 9.7-13.7 9.7 -4.8 0-8-2.2-8-5.5 0-3.6 2.7-5 7.8-5.7l7.4-0.9c3.7-0.5 5.5-0.9 6.4-2V34z"/><path class="magenta-b" d="M0.6 62.3c0.1-0.7 0.1-1.8 0.1-2.8V46.2h3v6.9h0.1c1.1-1.2 3-2 5.6-2 4.1 0 7 2.3 6.9 5.6 0 3.9-3.7 5.8-7.4 5.8 -2.4 0-4.3-0.6-5.5-2.1H3.4l-0.1 1.8H0.6zM3.7 57.9c0 0.2 0.1 0.5 0.1 0.7 0.6 1.4 2.3 2.3 4.5 2.3 3.1 0 5-1.7 5-4.2 0-2.2-1.7-4.1-4.9-4.1 -2 0-3.9 0.9-4.6 2.4 -0.1 0.2-0.2 0.5-0.2 0.8V57.9z"/><path class="magenta-b" d="M18.7 57.2c0.1 2.7 2.7 3.8 5.6 3.8 2.1 0 3.4-0.2 4.6-0.6l0.5 1.4c-1.1 0.3-2.9 0.7-5.5 0.7 -5.1 0-8.1-2.2-8.1-5.5s2.9-5.9 7.7-5.9c5.4 0 6.8 3.1 6.8 5.1 0 0.4-0.1 0.7-0.1 0.9H18.7zM27.5 55.7c0-1.3-0.8-3.2-4.1-3.2 -3 0-4.4 1.8-4.6 3.2H27.5z"/><path class="magenta-b" d="M40.2 62.3l-0.2-1.4h-0.1c-0.9 0.9-2.7 1.6-5 1.6 -3.3 0-5-1.6-5-3.1 0-2.6 3.5-4.1 9.9-4.1v-0.2c0-0.9-0.4-2.5-3.7-2.5 -1.5 0-3.1 0.3-4.3 0.8l-0.7-1.3c1.4-0.6 3.3-1 5.4-1 5 0 6.3 2.3 6.3 4.5v4.1c0 0.9 0.1 1.9 0.3 2.6H40.2zM39.7 56.7c-3.3 0-7 0.3-7 2.5 0 1.3 1.3 1.9 2.8 1.9 2.1 0 3.5-0.9 4-1.8 0.1-0.2 0.2-0.4 0.2-0.6V56.7z"/><path class="magenta-b" d="M57.1 59.3c0 1.1 0 2.1 0.1 3h-2.7l-0.2-1.8h-0.1c-0.8 0.9-2.5 2-5.4 2 -2.6 0-5.7-0.9-5.7-4.8v-6.4h3v6c0 2.1 1 3.5 3.7 3.5 2 0 3.4-0.9 3.9-1.8 0.2-0.3 0.3-0.7 0.3-1v-6.7h3V59.3z"/><path class="magenta-b" d="M62.3 48.2v3.1h4.3v1.5h-4.3v5.9c0 1.4 0.6 2.1 2.2 2.1 0.8 0 1.4-0.1 1.7-0.1l0.1 1.5c-0.6 0.2-1.5 0.3-2.7 0.3 -1.4 0-2.5-0.3-3.2-0.8 -0.9-0.6-1.2-1.6-1.2-2.8v-6h-2.5v-1.5h2.5v-2.6L62.3 48.2z"/><path class="magenta-b" d="M68.9 51.3l3.6 6.5c0.4 0.7 0.8 1.6 1.1 2.2h0.1c0.3-0.7 0.6-1.5 1.1-2.3l3.3-6.4h3.2l-4.5 7.8c-2.1 3.7-3.6 5.7-5.6 6.8 -1.5 0.9-2.9 1.2-3.7 1.3l-0.7-1.7c0.7-0.2 1.7-0.5 2.6-1 0.8-0.4 1.8-1.2 2.5-2.2 0.1-0.2 0.2-0.4 0.2-0.5 0-0.1-0.1-0.3-0.2-0.5l-6.1-10.1H68.9z"/></svg></li>
				<li class="list-inline-item"><a href="/institucional/quienes-somos">QUIÉNES SOMOS</a></li>
				<li class="list-inline-item"><a href="/Institucional/trabaja-con-nosotros">TRABAJA CON NOSOTROS</a></li>
				<li class="list-inline-item"><a href="/Institucional/politicas-comerciales">PRIVACIDAD</a></li>
				<li class="list-inline-item"><a href="/Institucional/politicas-cambio-y-devolucion">TÉRMINOS</a></li>
				<li class="list-inline-item"><a href="/contacto">CONTÁCTANOS</a></li>
				<li class="list-inline-item"><a href="/tiendas">TIENDAS</a></li>
			</ul>
			<hr/>
			<div class="logo-footer">
				<div class="vtex">
					<a href="#">
						<svg version="1.1" id="vtex" x="0px" y="0px" viewBox="0 0 112.9 43.3" style="enable-background:new 0 0 112.9 43.3;" xml:space="preserve"><style type="text/css">.st0{fill:#DDDDDD;}</style><g><path class="st0" d="M43.7,2.5H8.4c-2.7,0-4.5,2.9-3.2,5.3l3.5,6.7H2.4c-1.8,0-2.9,1.9-2.1,3.4l11.3,21.5c0.9,1.7,3.3,1.7,4.2,0l3.1-5.8l3.9,7.3c1.4,2.6,5,2.6,6.4,0L46.8,7.6C48,5.3,46.3,2.5,43.7,2.5 M27.8,16.7L20.2,31c-0.6,1.1-2.2,1.1-2.8,0L9.9,16.7c-0.6-1,0.2-2.3,1.4-2.3h15.2C27.6,14.4,28.4,15.7,27.8,16.7"/><path class="st0" d="M81.1,17.9h-3.9v13.2c0,0.2-0.2,0.5-0.5,0.5h-3c-0.2,0-0.5-0.2-0.5-0.5V17.9h-3.9c-0.2,0-0.5-0.2-0.5-0.4v-2.3c0-0.2,0.2-0.4,0.5-0.4h11.6c0.2,0,0.5,0.2,0.5,0.4v2.3C81.6,17.7,81.4,17.9,81.1,17.9"/><path class="st0" d="M93.5,31.4c-0.8,0.1-2.1,0.3-4.6,0.3c-2.9,0-5.5-0.7-5.5-4.9v-7.5c0-4.1,2.6-4.9,5.5-4.9c2.5,0,3.8,0.2,4.6,0.3c0.3,0,0.5,0.2,0.5,0.5v2.1c0,0.2-0.2,0.5-0.5,0.5h-4.8c-1.1,0-1.5,0.4-1.5,1.5v2.1h6.1c0.2,0,0.5,0.2,0.5,0.5V24c0,0.2-0.2,0.5-0.5,0.5h-6.1v2.4c0,1.2,0.4,1.5,1.5,1.5h4.8c0.2,0,0.5,0.2,0.5,0.5V31C94,31.3,93.8,31.4,93.5,31.4"/><path class="st0" d="M110.6,31.5H107c-0.3,0-0.4-0.1-0.6-0.3l-3.1-5l-2.8,4.9c-0.2,0.3-0.3,0.5-0.6,0.5h-3.4c-0.2,0-0.3-0.1-0.3-0.3c0,0,0-0.1,0-0.2l4.9-8.2l-5-7.8c0,0,0-0.1,0-0.1c0-0.2,0.2-0.3,0.3-0.3h3.7c0.2,0,0.4,0.2,0.6,0.4l2.9,4.6l2.8-4.6c0.1-0.2,0.3-0.4,0.6-0.4h3.4c0.2,0,0.3,0.1,0.3,0.3c0,0,0,0.1,0,0.1l-4.9,7.8l5.1,8.1c0,0.1,0.1,0.2,0.1,0.2C110.9,31.4,110.8,31.5,110.6,31.5"/><path class="st0" d="M63.6,14.7c-0.2,0-0.3,0.1-0.3,0.3L60,27.2c0,0.2-0.1,0.3-0.3,0.3c-0.2,0-0.3-0.1-0.3-0.3L56.1,15c0-0.2-0.2-0.3-0.3-0.3h-3.2c-0.2,0-0.4,0.2-0.3,0.4c0,0,4,14,4.1,14.1c0.5,1.7,1.8,2.5,3.5,2.5c1.6,0,3-0.8,3.5-2.5c0.1-0.2,4-14.1,4-14.1c0.1-0.2-0.1-0.4-0.3-0.4H63.6z"/><path class="st0" d="M43.7,2.5H8.4c-2.7,0-4.5,2.9-3.2,5.3l3.5,6.7H2.4c-1.8,0-2.9,1.9-2.1,3.4l11.3,21.5c0.9,1.7,3.3,1.7,4.2,0l3.1-5.8l3.9,7.3c1.4,2.6,5,2.6,6.4,0L46.8,7.6C48,5.3,46.3,2.5,43.7,2.5 M27.8,16.7L20.2,31c-0.6,1.1-2.2,1.1-2.8,0L9.9,16.7c-0.6-1,0.2-2.3,1.4-2.3h15.2C27.6,14.4,28.4,15.7,27.8,16.7"/></g></svg>
					</a>
				</div>
				<div class="propulso">
					<a href="#">
						<svg version="1.1" id="propulso" x="0px" y="0px" viewBox="0 0 169.2 43.3" style="enable-background:new 0 0 169.2 43.3;" xml:space="preserve"><style type="text/css">.st0{fill:#DDDDDD;}.st1{fill:#F4F4F4;}.st2{fill:url(#SVGID_1_);}.st3{fill:url(#SVGID_5_);}</style><g><g><path class="st0" d="M206.3,572.2c-0.4-0.2-0.8-0.4-1.3-0.4c-0.7,0-1.4,0.3-1.9,0.8c-0.5,0.5-0.8,1.2-0.8,1.9c0,0.5,0.1,1,0.3,1.4c0.2,0.4,0.5,0.7,1,1c0.4,0.2,0.9,0.4,1.3,0.4c0.5,0,0.9-0.1,1.3-0.4c0.4-0.2,0.7-0.6,1-1c0.2-0.4,0.4-0.9,0.4-1.3c0-0.5-0.1-0.9-0.4-1.3C207,572.7,206.7,572.4,206.3,572.2z"/><path class="st0" d="M212.2,558.3l-12.3,12.4v14.6h14.1l12.6-12.6L212.2,558.3z M207.5,576.9c-0.7,0.7-1.5,1-2.4,1c-0.5,0-1-0.1-1.5-0.3c-0.4-0.2-0.8-0.5-1.2-1v3.6h-0.9v-9.1h0.9v1.2c0.3-0.5,0.7-0.8,1.2-1c0.4-0.2,0.9-0.3,1.5-0.3c0.9,0,1.7,0.3,2.4,1c0.7,0.7,1,1.5,1,2.5C208.5,575.4,208.2,576.3,207.5,576.9z M209.8,577.8H209v-9.2h0.9V577.8z M216.3,574.4c0,0.9-0.1,1.6-0.3,2.1s-0.5,0.8-1,1.1c-0.4,0.3-1,0.4-1.6,0.4c-0.6,0-1.2-0.1-1.6-0.4c-0.4-0.3-0.8-0.6-1-1.1c-0.2-0.5-0.3-1.2-0.3-2.1v-3.2h0.9v3.1c0,0.8,0,1.3,0.1,1.6c0.1,0.4,0.4,0.7,0.7,1c0.3,0.2,0.8,0.4,1.2,0.4c0.5,0,0.9-0.1,1.2-0.3c0.3-0.2,0.6-0.5,0.7-0.9c0.1-0.3,0.1-0.8,0.1-1.6v-3.1h0.9V574.4z M218.5,578c-0.4,0-0.7-0.1-1.1-0.2c-0.3-0.2-0.6-0.4-0.9-0.7l0.5-0.6c0.4,0.5,0.9,0.7,1.4,0.7c0.3,0,0.6-0.1,0.9-0.3c0.2-0.2,0.4-0.5,0.4-0.8c0-0.2-0.1-0.5-0.2-0.7c-0.2-0.2-0.5-0.4-1.1-0.7c-0.6-0.3-1-0.6-1.2-0.9c-0.2-0.3-0.3-0.6-0.3-1c0-0.5,0.2-0.9,0.5-1.3c0.3-0.3,0.8-0.5,1.3-0.5c0.6,0,1.2,0.3,1.8,0.9l-0.5,0.6c-0.5-0.4-0.9-0.7-1.3-0.7c-0.3,0-0.5,0.1-0.7,0.3c-0.2,0.2-0.3,0.4-0.3,0.6c0,0.2,0.1,0.4,0.2,0.6c0.2,0.2,0.5,0.4,1,0.7c0.6,0.3,1.1,0.6,1.3,1c0.2,0.3,0.3,0.7,0.3,1c0,0.5-0.2,1-0.6,1.4C219.6,577.8,219.1,578,218.5,578z"/></g><g><path class="st0" d="M133.9,550.8h4.6l3.7,11.1l4-11.1h2.8l4,11l3.7-11h4.6l-6.8,19.6h-3l-4-11.2l-4.1,11.2h-2.9L133.9,550.8z"/><path class="st0" d="M178.6,562h-15.8c0.2,1.4,0.8,2.5,1.8,3.3c1,0.8,2.3,1.2,3.8,1.2c1.8,0,3.4-0.6,4.7-1.9c0,0,3.1,0,4.8,0c0,1-0.6,1.9-0.6,1.9c-1,1.5-2.3,2.5-3.7,3.2c-1.4,0.7-3.1,1.1-5.1,1.1c-3.1,0-5.6-1-7.5-2.9c-1.9-1.9-2.9-4.4-2.9-7.3c0-3,1-5.5,2.9-7.4c1.9-2,4.3-3,7.2-3c3.1,0,5.6,1,7.5,3c1.9,2,2.9,4.6,2.9,7.8L178.6,562z M173.7,558.1c-0.3-1.1-1-2-1.9-2.7c-1-0.7-2.1-1-3.3-1c-1.4,0-2.6,0.4-3.6,1.2c-0.6,0.5-1.2,1.3-1.8,2.5H173.7z"/><path class="st0" d="M183,544.3v8.6c0.9-0.9,1.8-1.6,2.9-2c1-0.4,2.1-0.7,3.3-0.7c2.6,0,4.7,1,6.5,2.9c1.8,1.9,2.7,4.4,2.7,7.4c0,2.9-0.9,5.4-2.8,7.3c-1.8,2-4,2.9-6.6,2.9c-1.1,0-2.2-0.2-3.1-0.6c-1-0.4-1.9-1.1-2.9-2v2.1h-4.9v-26H183z M188.2,554.8c-1.5,0-2.8,0.5-3.9,1.6c-1,1.1-1.5,2.4-1.5,4.1c0,1.7,0.5,3.1,1.5,4.2c1,1.1,2.3,1.6,3.9,1.6c1.5,0,2.8-0.5,3.8-1.6c1-1.1,1.5-2.5,1.5-4.2c0-1.7-0.5-3.1-1.5-4.1C191,555.3,189.7,554.8,188.2,554.8z"/><path class="st1" d="M145.5,570.1v2.1c0.9-0.9,1.8-1.5,2.8-1.9c1-0.4,2.1-0.6,3.2-0.6c2.5,0,4.6,0.9,6.4,2.8c1.7,1.9,2.6,4.3,2.6,7.3c0,2.8-0.9,5.2-2.7,7.1c-1.8,1.9-3.9,2.9-6.4,2.9c-1.1,0-2.1-0.2-3.1-0.6c-0.9-0.4-1.9-1-2.8-1.9v8.4h-4.8v-25.4H145.5z M150.5,574c-1.5,0-2.8,0.5-3.8,1.5c-1,1-1.5,2.4-1.5,4c0,1.7,0.5,3.1,1.5,4.1c1,1,2.2,1.6,3.8,1.6c1.5,0,2.7-0.5,3.7-1.6c1-1.1,1.5-2.4,1.5-4.1c0-1.6-0.5-3-1.5-4C153.3,574.6,152,574,150.5,574z"/><path class="st1" d="M175.2,570.1h4.2v19.1h-4.2v-2c-1,0.9-2,1.5-3,1.9c-1,0.4-2.1,0.6-3.2,0.6c-2.6,0-4.9-1-6.8-2.9c-1.9-1.9-2.9-4.3-2.9-7.1c0-2.9,0.9-5.4,2.8-7.3c1.8-1.9,4.1-2.8,6.7-2.8c1.2,0,2.4,0.2,3.4,0.6c1.1,0.4,2.1,1.1,3,1.9V570.1z M169.8,574c-1.6,0-2.9,0.5-3.9,1.6c-1,1-1.6,2.4-1.6,4c0,1.7,0.5,3,1.6,4.1c1.1,1.1,2.4,1.6,3.9,1.6c1.6,0,2.9-0.5,4-1.6c1.1-1,1.6-2.4,1.6-4.1c0-1.7-0.5-3-1.6-4C172.8,574.5,171.5,574,169.8,574z"/><path class="st1" d="M179.4,570.1h4.9l5,12l5.5-12h4.9l-12,26.1h-4.9l3.9-8.4L179.4,570.1z"/></g></g><g><path class="st0" d="M741.5,569.3c2.8-3.7,8.4-3.8,9.6-3.8c2.3,0,4,0.7,5.2,2.2c1.2,1.5,1.7,3.8,1.7,7c0,1.6-0.2,3-0.6,4.2c-0.4,1.3-0.9,2.3-1.6,3.2c-0.7,0.9-1.6,1.6-2.6,2c-1,0.5-2.2,0.7-3.6,0.7c-0.8,0-1.4-0.1-1.9-0.2c-0.5-0.1-1-0.3-1.5-0.5v7.5h-4.8V569.3z M749.7,569.5c-0.9,0-2.5,0.3-3.4,1.7v8.7c0.3,0.3,0.7,0.5,1.1,0.6c0.4,0.2,0.9,0.2,1.6,0.2c1.4,0,2.4-0.5,3.1-1.5c0.7-1,1-2.6,1-4.8c0-1.6-0.3-2.9-0.8-3.7C751.8,569.9,750.9,569.5,749.7,569.5"/><path class="st0" d="M790.4,569.3c2.8-3.7,8.4-3.8,9.6-3.8c2.3,0,4,0.7,5.2,2.2c1.2,1.5,1.7,3.8,1.7,7c0,1.6-0.2,3-0.5,4.2c-0.4,1.3-0.9,2.3-1.6,3.2c-0.7,0.9-1.6,1.6-2.6,2c-1,0.5-2.2,0.7-3.6,0.7c-0.8,0-1.4-0.1-1.9-0.2c-0.5-0.1-1-0.3-1.5-0.5v7.5h-4.8V569.3z M798.6,569.5c-0.9,0-2.5,0.3-3.4,1.7v8.7c0.3,0.3,0.7,0.5,1.1,0.6c0.4,0.2,0.9,0.2,1.6,0.2c1.4,0,2.4-0.5,3.1-1.5c0.7-1,1-2.6,1-4.8c0-1.6-0.3-2.9-0.8-3.7C800.6,569.9,799.8,569.5,798.6,569.5"/><path class="st0" d="M770.2,569.8c-0.8-0.3-1.5-0.1-2.1-0.1c-0.9,0-3.1,0.8-3.4,2v12.6H760v-14.7c0.8-3,5.1-4.1,8.6-4c0.5,0,1,0.1,1.6,0.2L770.2,569.8z"/><path class="st0" d="M771.2,575.1c0-3.1,0.8-5.5,2.3-7.2c1.5-1.7,3.6-2.5,6.4-2.5c1.5,0,2.7,0.2,3.8,0.7c1.1,0.5,2,1.1,2.7,2c0.7,0.8,1.2,1.9,1.6,3.1c0.4,1.2,0.5,2.5,0.5,4c0,3.1-0.8,5.5-2.3,7.2c-1.5,1.7-3.6,2.5-6.4,2.5c-1.5,0-2.7-0.2-3.8-0.7c-1.1-0.5-2-1.1-2.7-2c-0.7-0.8-1.3-1.9-1.6-3.1C771.4,577.9,771.2,576.6,771.2,575.1 M776.1,575.1c0,0.8,0.1,1.6,0.2,2.2c0.1,0.7,0.4,1.3,0.7,1.8c0.3,0.5,0.7,0.9,1.2,1.2c0.5,0.3,1,0.4,1.7,0.4c1.3,0,2.2-0.5,2.8-1.4c0.6-0.9,0.9-2.3,0.9-4.3c0-1.7-0.3-3.1-0.8-4.1c-0.6-1-1.5-1.6-2.9-1.6c-1.2,0-2.1,0.4-2.8,1.3C776.4,571.7,776.1,573.1,776.1,575.1"/><path class="st0" d="M813.6,565.7v10.7c0,1.5,0.2,2.6,0.5,3.2c0.4,0.7,1,1,2.1,1c0.9,0,1.7-0.3,2.3-0.8c0.6-0.5,1-1.2,1.3-2v-12.2h4.8v13.1c0,1,0,2,0.1,3c0.1,1,0.2,1.8,0.4,2.6h-3.6l-0.8-2.7h-0.1c-0.6,0.9-1.3,1.7-2.4,2.3c-1,0.6-2.2,0.9-3.6,0.9c-0.9,0-1.8-0.1-2.5-0.4c-0.7-0.2-1.3-0.6-1.8-1.2c-0.5-0.6-0.9-1.3-1.1-2.3c-0.3-1-0.4-2.2-0.4-3.6v-11.7H813.6z"/><path class="st0" d="M832,578.2c0,0.9,0.1,1.5,0.3,1.9c0.2,0.4,0.6,0.6,1.1,0.6c0.3,0,0.6,0,0.9-0.1c0.3-0.1,0.6-0.2,1-0.3l0,4c-0.3,0.1-0.8,0.2-1.3,0.4c-0.8,0.2-1.6,0.3-2.5,0.3c-1.4,0-2.5-0.3-3.2-1c-0.7-0.7-1.1-1.7-1.1-3.2v-22h4.8V578.2z"/><path class="st0" d="M845.6,579.3c0-0.5-0.2-0.9-0.6-1.2c-0.4-0.3-0.9-0.6-1.5-0.8c-0.6-0.2-1.3-0.5-2-0.8c-0.7-0.3-1.4-0.6-2-1.1c-0.6-0.5-1.1-1-1.5-1.7c-0.4-0.7-0.6-1.6-0.6-2.7c0-1.8,0.5-3.2,1.6-4.2c1.1-1,2.6-1.4,4.7-1.4c1.4,0,2.7,0.1,3.8,0.4c0.6,0.2,1.1,0.3,1.6,0.5l0,3.9c-0.6-0.2-1.3-0.5-2.1-0.7c-0.9-0.2-1.7-0.4-2.6-0.4c-1.4,0-2.1,0.5-2.1,1.7c0,0.4,0.2,0.8,0.6,1.1c0.4,0.3,0.9,0.5,1.5,0.8c0.6,0.2,1.3,0.5,2,0.8c0.7,0.3,1.4,0.6,2,1c0.6,0.4,1.1,1,1.5,1.7c0.4,0.7,0.6,1.6,0.6,2.6c0,1.9-0.6,3.3-1.8,4.4c-1.2,1.1-3,1.6-5.3,1.6c-1.9,0-4.9-0.3-6-0.7v-4c0.3,0.2,2.8,0.7,3.2,0.7c1.1,0.1,1.8,0.1,2.8,0.1c0.7,0,1.3-0.1,1.7-0.4C845.4,580.3,845.6,579.9,845.6,579.3"/><path class="st0" d="M851.9,575.1c0-3.1,0.8-5.5,2.3-7.2c1.5-1.7,3.7-2.5,6.4-2.5c1.5,0,2.7,0.2,3.8,0.7c1.1,0.5,2,1.1,2.7,2c0.7,0.8,1.2,1.9,1.6,3.1c0.4,1.2,0.5,2.5,0.5,4c0,3.1-0.8,5.5-2.3,7.2c-1.5,1.7-3.6,2.5-6.4,2.5c-1.5,0-2.7-0.2-3.8-0.7c-1.1-0.5-2-1.1-2.7-2c-0.7-0.8-1.3-1.9-1.6-3.1C852.1,577.9,851.9,576.6,851.9,575.1 M856.9,575.1c0,0.8,0.1,1.6,0.2,2.2c0.1,0.7,0.4,1.3,0.7,1.8c0.3,0.5,0.7,0.9,1.2,1.2c0.5,0.3,1,0.4,1.7,0.4c1.3,0,2.2-0.5,2.8-1.4c0.6-0.9,0.9-2.3,0.9-4.3c0-1.7-0.3-3.1-0.8-4.1c-0.6-1-1.5-1.6-2.9-1.6c-1.2,0-2.1,0.4-2.8,1.3C857.2,571.7,856.9,573.1,856.9,575.1"/><linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="872.0328" y1="573.0656" x2="889.2222" y2="578.7589"><stop offset="0.1047" style="stop-color:#DDDDDD"/><stop offset="0.1832" style="stop-color:#DDDDDD"/><stop offset="1" style="stop-color:#4D4D4D"/></linearGradient><path class="st2" d="M875.5,565.5c-1.5,0-2.7,1.2-2.7,2.7c0,0.4,0.1,0.8,0.2,1.1l0,0l3.9,12.3c0.5,1.7,2,2.9,3.7,2.9c1.7,0,3.3-1.2,3.7-2.9l0.7-2.1c-0.4,0.1-0.8,0.2-1.3,0.2c-0.9,0-2-0.4-2.5-2.2l-1-3.8l-1.9-6.1l0,0l-0.1-0.4C877.7,566.2,876.7,565.5,875.5,565.5"/><g><defs><path id="SVGID_2_" d="M883.4,566.2l-0.1,0.4l0,0l-2.2,7.2l-1.5,5.4c-0.4,2-1.8,2.5-2.6,2.4c0,0,0.1,0.3,0.2,0.5c0.6,1.4,2,2.4,3.6,2.4c1.7,0,3.3-1.2,3.7-2.9l2.7-8.8l2.9,9.2l0,0.1c0.6,1.5,2,2.4,3.6,2.4c1.6,0,3-1,3.6-2.5l0-0.1l4.3-14.1h-5.8l-2.2,7.3l-2.7-8.5l0,0l-0.1-0.4c-0.5-1.6-2-2.7-3.7-2.7C885.4,563.5,883.8,564.6,883.4,566.2"/></defs><linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="880.7874" y1="569.4355" x2="904.765" y2="586.187"><stop offset="0.1047" style="stop-color:#DDDDDD"/><stop offset="0.1832" style="stop-color:#F8F8F7"/><stop offset="1" style="stop-color:#4D4D4D"/></linearGradient><use style="overflow:visible;fill:url(#SVGID_3_);"/><clipPath id="SVGID_4_"><use style="overflow:visible;"/></clipPath></g><g><path class="st0" d="M890,582.1L890,582.1c0.6,1.5,2,2.5,3.6,2.5c1.6,0,3-1,3.6-2.5l0-0.1l5.3-17.4c0-0.1,0.1-0.2,0.1-0.3c0.3-0.8,1.4-1.5,2.7-1.5s2,0.2,2,0.2l0-4.1c0,0-1.3-0.5-3.1-0.5c-3.5,0-5.5,1.2-6.6,3.9l-0.1,0.3l-4.6,14.8c-0.8,2.2-1.1,3.7-2.6,4.2c0,0-0.2,0.1-0.5,0.1L890,582.1z"/></g></g><g><path class="st0" d="M3.4,16.4c2.8-3.7,8.4-3.8,9.6-3.8c2.3,0,4,0.7,5.2,2.2c1.2,1.5,1.7,3.8,1.7,7c0,1.6-0.2,3-0.6,4.2c-0.4,1.3-0.9,2.3-1.6,3.2c-0.7,0.9-1.6,1.6-2.6,2c-1,0.5-2.2,0.7-3.6,0.7c-0.8,0-1.4-0.1-1.9-0.2c-0.5-0.1-1-0.3-1.5-0.5v7.5H3.4V16.4z M11.6,16.7c-0.9,0-2.5,0.3-3.4,1.7v8.7c0.3,0.3,0.7,0.5,1.1,0.6c0.4,0.2,0.9,0.2,1.6,0.2c1.4,0,2.4-0.5,3.1-1.4c0.7-1,1-2.6,1-4.8c0-1.6-0.3-2.9-0.8-3.7C13.7,17.1,12.8,16.7,11.6,16.7"/><path class="st0" d="M52.2,16.4c2.8-3.7,8.4-3.8,9.6-3.8c2.3,0,4,0.7,5.2,2.2c1.2,1.5,1.7,3.8,1.7,7c0,1.6-0.2,3-0.5,4.2c-0.4,1.3-0.9,2.3-1.6,3.2c-0.7,0.9-1.6,1.6-2.6,2c-1,0.5-2.2,0.7-3.6,0.7c-0.8,0-1.4-0.1-1.9-0.2c-0.5-0.1-1-0.3-1.5-0.5v7.5h-4.8V16.4z M60.4,16.7c-0.9,0-2.5,0.3-3.4,1.7v8.7c0.3,0.3,0.7,0.5,1.1,0.6c0.4,0.2,0.9,0.2,1.6,0.2c1.4,0,2.4-0.5,3.1-1.4c0.7-1,1-2.6,1-4.8c0-1.6-0.3-2.9-0.8-3.7C62.5,17.1,61.6,16.7,60.4,16.7"/><path class="st0" d="M32.1,17c-0.8-0.3-1.5-0.1-2.1-0.1c-0.9,0-3.1,0.8-3.4,2v12.6h-4.8V16.8c0.8-3,5.1-4.1,8.6-4c0.5,0,1,0.1,1.6,0.2L32.1,17z"/><path class="st0" d="M33.1,22.3c0-3.1,0.8-5.5,2.3-7.2c1.5-1.7,3.6-2.5,6.4-2.5c1.5,0,2.7,0.2,3.8,0.7c1.1,0.5,2,1.1,2.7,2c0.7,0.8,1.2,1.9,1.6,3.1c0.4,1.2,0.5,2.5,0.5,4c0,3.1-0.8,5.5-2.3,7.2c-1.5,1.7-3.6,2.5-6.4,2.5c-1.5,0-2.7-0.2-3.8-0.7c-1.1-0.5-2-1.1-2.7-2c-0.7-0.8-1.3-1.9-1.6-3.1C33.2,25.1,33.1,23.8,33.1,22.3 M38,22.3c0,0.8,0.1,1.6,0.2,2.2c0.1,0.7,0.4,1.3,0.7,1.8c0.3,0.5,0.7,0.9,1.2,1.2c0.5,0.3,1,0.4,1.7,0.4c1.3,0,2.2-0.5,2.8-1.4c0.6-0.9,0.9-2.3,0.9-4.3c0-1.7-0.3-3.1-0.8-4.1c-0.6-1-1.5-1.6-2.9-1.6c-1.2,0-2.1,0.4-2.8,1.3C38.3,18.9,38,20.3,38,22.3"/><path class="st0" d="M75.4,12.9v10.7c0,1.5,0.2,2.6,0.5,3.2c0.4,0.7,1,1,2.1,1c0.9,0,1.7-0.3,2.3-0.8c0.6-0.5,1-1.2,1.3-2V12.9h4.8v13.1c0,1,0,2,0.1,3c0.1,1,0.2,1.8,0.4,2.6h-3.6l-0.8-2.7h-0.1c-0.6,0.9-1.3,1.7-2.4,2.3c-1,0.6-2.2,0.9-3.6,0.9c-0.9,0-1.8-0.1-2.5-0.4c-0.7-0.2-1.3-0.6-1.8-1.2c-0.5-0.6-0.9-1.3-1.1-2.3c-0.3-1-0.4-2.2-0.4-3.6V12.9H75.4z"/><path class="st0" d="M93.9,25.3c0,0.9,0.1,1.5,0.3,1.9c0.2,0.4,0.6,0.6,1.1,0.6c0.3,0,0.6,0,0.9-0.1c0.3-0.1,0.6-0.2,1-0.3l0,4c-0.3,0.1-0.8,0.2-1.3,0.4c-0.8,0.2-1.6,0.3-2.5,0.3c-1.4,0-2.5-0.3-3.2-1c-0.7-0.7-1.1-1.7-1.1-3.2v-22h4.8V25.3z"/><path class="st0" d="M107.5,26.4c0-0.5-0.2-0.9-0.6-1.2c-0.4-0.3-0.9-0.6-1.5-0.8c-0.6-0.2-1.3-0.5-2-0.8c-0.7-0.3-1.4-0.6-2-1.1c-0.6-0.5-1.1-1-1.5-1.7c-0.4-0.7-0.6-1.6-0.6-2.7c0-1.8,0.5-3.2,1.6-4.2c1.1-1,2.6-1.4,4.7-1.4c1.4,0,2.7,0.1,3.8,0.4c0.6,0.2,1.1,0.3,1.6,0.5l0,3.9c-0.6-0.2-1.3-0.5-2.1-0.7c-0.9-0.2-1.7-0.4-2.6-0.4c-1.4,0-2.1,0.5-2.1,1.7c0,0.4,0.2,0.8,0.6,1.1c0.4,0.3,0.9,0.5,1.5,0.8c0.6,0.2,1.3,0.5,2,0.8c0.7,0.3,1.4,0.6,2,1c0.6,0.4,1.1,1,1.5,1.7c0.4,0.7,0.6,1.6,0.6,2.6c0,1.9-0.6,3.3-1.8,4.4c-1.2,1.1-3,1.6-5.3,1.6c-1.9,0-4.9-0.3-6-0.7v-4c0.3,0.2,2.8,0.7,3.2,0.7c1.1,0.1,1.8,0.1,2.8,0.1c0.7,0,1.3-0.1,1.7-0.4C107.2,27.5,107.5,27.1,107.5,26.4"/><path class="st0" d="M113.8,22.3c0-3.1,0.8-5.5,2.3-7.2c1.5-1.7,3.7-2.5,6.4-2.5c1.5,0,2.7,0.2,3.8,0.7c1.1,0.5,2,1.1,2.7,2c0.7,0.8,1.2,1.9,1.6,3.1c0.4,1.2,0.5,2.5,0.5,4c0,3.1-0.8,5.5-2.3,7.2c-1.5,1.7-3.6,2.5-6.4,2.5c-1.5,0-2.7-0.2-3.8-0.7c-1.1-0.5-2-1.1-2.7-2c-0.7-0.8-1.3-1.9-1.6-3.1C114,25.1,113.8,23.8,113.8,22.3 M118.7,22.3c0,0.8,0.1,1.6,0.2,2.2c0.1,0.7,0.4,1.3,0.7,1.8c0.3,0.5,0.7,0.9,1.2,1.2c0.5,0.3,1,0.4,1.7,0.4c1.3,0,2.2-0.5,2.8-1.4c0.6-0.9,0.9-2.3,0.9-4.3c0-1.7-0.3-3.1-0.8-4.1c-0.6-1-1.5-1.6-2.9-1.6c-1.2,0-2.1,0.4-2.8,1.3C119.1,18.9,118.7,20.3,118.7,22.3"/><linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="133.905" y1="20.2534" x2="151.0944" y2="25.9467"><stop offset="0.1047" style="stop-color:#DDDDDD"/><stop offset="0.1832" style="stop-color:#DDDDDD"/><stop offset="1" style="stop-color:#4D4D4D"/></linearGradient><path class="st3" d="M137.4,12.7c-1.5,0-2.7,1.2-2.7,2.7c0,0.4,0.1,0.8,0.2,1.1l0,0l3.9,12.3c0.5,1.7,2,2.9,3.7,2.9c1.7,0,3.3-1.2,3.7-2.9l0.7-2.1c-0.4,0.1-0.8,0.2-1.3,0.2c-0.9,0-2-0.4-2.5-2.2l-1-3.8l-1.9-6.1l0,0l-0.1-0.4C139.6,13.4,138.5,12.7,137.4,12.7"/><g><defs><path id="SVGID_6_" d="M145.2,13.4l-0.1,0.4l0,0l-2.2,7.2l-1.5,5.4c-0.4,2-1.8,2.5-2.6,2.4c0,0,0.1,0.3,0.2,0.5c0.6,1.4,2,2.4,3.6,2.4c1.7,0,3.3-1.2,3.7-2.9l2.7-8.8l2.9,9.2l0,0.1c0.6,1.5,2,2.4,3.6,2.4c1.6,0,3-1,3.6-2.5l0-0.1l4.3-14.1h-5.8l-2.2,7.3l-2.7-8.5l0,0l-0.1-0.4c-0.5-1.6-2-2.7-3.7-2.7C147.2,10.7,145.7,11.8,145.2,13.4"/></defs><linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="142.6596" y1="16.6234" x2="166.6372" y2="33.3749"><stop offset="0.1047" style="stop-color:#DDDDDD"/><stop offset="0.1832" style="stop-color:#F8F8F7"/><stop offset="1" style="stop-color:#4D4D4D"/></linearGradient><use style="overflow:visible;fill:url(#SVGID_7_);"/><clipPath id="SVGID_8_"><use style="overflow:visible;"/></clipPath></g><g><path class="st0" d="M151.9,29.3L151.9,29.3c0.6,1.5,2,2.5,3.6,2.5c1.6,0,3-1,3.6-2.5l0-0.1l5.3-17.4c0-0.1,0.1-0.2,0.1-0.3c0.3-0.8,1.4-1.5,2.7-1.5s2,0.2,2,0.2l0-4.1c0,0-1.3-0.5-3.1-0.5c-3.5,0-5.5,1.2-6.6,3.9l-0.1,0.3l-4.6,14.8c-0.8,2.2-1.1,3.7-2.6,4.2c0,0-0.2,0.1-0.5,0.1L151.9,29.3z"/></g></g></svg>
					</a>
				</div>
			</div>
		</div>    
	</footer>  
	<div id="extra-footer-bottom"></div>