<header>
    <div class="pre-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col nav-tendencias d-none d-md-block">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item d-none">
                            <vtex.cmc:welcomeMessage/>
                        </li>
                        <li class="nav-item dropdown"><a href="#" id="navbarDropdown-tendencias" class="nav-link" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TENDENCIAS</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown-tendencias">
                                <li><a href="/looks"><img src="/arquivos/baner-look-tendencias.jpg" alt="Banner Look Tendencias"/></a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="/tutoriales">TUTORIALES</a></li>
                        <li class="nav-item nav-marcas dropdown">
                            <a href="#" id="navbarDropdown-marcas" class="nav-link" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MARCAS</a>
                            <vtex.cmc:menumarcas/>
                        </li>
                        <li class="nav-item"><a href="http://www.clubsally.cl" target="_blank">CLUB SALLY</a></li>
                        <li class="nav-item"><a href="/tiendas">TIENDAS</a></li>
                        <li class="nav-item"><a href="/profesionales">PROFESIONAL</a></li>
                    </ul>
                </div>
                <div class="col col-md-5"><span><strong>DESPACHO GRATIS</strong> en compras sobre $24.990.-</span></div>
                <div class="col col-md-3 nav-serviciocliente d-none d-md-block">
                    <ul class="nav justify-content-end row">
                        <li class="list-inline-item col p-0">
                            <select class="custom-select custom-select-sm">
                                <option>Chile</option>
                                <!--<option value="1">One</option>
<option value="2">Two</option>
<option value="3">Three</option>-->
</select></li>
<li class="list-inline-item col"><a href="/tiendas"><i class="fas fa-map-marker-alt"></i> Tiendas</a></li>
<li class="list-inline-item col"><a href="/institucional/preguntas-frecuentes"><i class="far fa-comment"></i> Ayuda</a></li>
<li class="list-inline-item col"><a href="/account"><i class="far fa-user-circle"></i> Login</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="sticky-top">
    <div class="header">
        <div class="container-fluid">
            <div class="row d-flex">
                <div class="col-2 d-block d-md-none order-1 p-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbarCollapse"><i class="fas fa-bars"></i></button>
                </div>
                <div class="col d-md-block order-2">
                    <div id="buscador" class="search">
                        <vtex.cmc:fullTextSearchBox/>
                    </div>
                </div>
                <div class="col-2 d-block d-md-none order-5 order-md-3 p-0 text-center">
                    <div class="search-mobile"><a href="#"><svg version="1.1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve">
                        <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23 s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92 c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17 s-17-7.626-17-17S14.61,6,23.984,6z"></path>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                    </svg></a></div>
                </div>
                <div class="col-6 col-md order-3 order-md-4">
                    <a href="/" class="logo-sallybeauty"><svg viewBox="0 0 116 67">
                        <style type="text/css">	.magenta{fill:#E62A77;}</style>
                        <rect x="66.2" y="0.2" class="magenta" width="6.6" height="47.3"></rect>
                        <path class="magenta" d="M108.6 13.1L97 40.3 85.2 13.1h-4V0.2h-6.6v47.3h6.6V20.9l12.4 27.2L92 51.2c-2.1 4.4-3.1 5.3-7.2 5.3 -1.6 0-2.6-0.2-3.8-0.3v5.5c1.7 0.1 3.4 0.3 5 0.3 6.1 0 8.7-1.2 12-8.5l18-40.3H108.6z"></path><path class="magenta" d="M48.3 11.9c-8.2 0-13.6 2.1-15.9 7.3 -2.2-4.3-7.1-7.3-15.5-7.3C7.1 11.9 1.1 16.1 1.1 23c0 5.3 4.4 8.5 9.3 9.1l10.8 1.4c5.3 0.7 6.5 2.2 6.5 4.6 0 2.4-2 5.4-10.5 5.4 -8.3 0-10.8-3.8-10.8-6.9h-6.6c0.7 10 9.7 12 17.6 12 6.3 0 11.3-1.4 14.3-4.2 2 2.4 5.6 4.2 11.9 4.2 5.6 0 12-2 14.7-5.6v4.4h3 2.8v-7.3V21.7C64.1 13.7 55.3 11.9 48.3 11.9M20.9 27.7l-7.5-0.9c-1.1-0.1-2.1-0.3-3-0.6 -1.4-0.4-2.3-1.2-2.7-2.5 -0.2-0.5-0.3-1-0.3-1.6 0-0.1 0-0.3 0-0.5 0-0.1 0-0.2 0.1-0.3 1.1-5.2 8-5 11.5-4.7 3.4 0.3 9 2.5 12 6.6 0.7 0.9 1.2 1.9 1.5 3 0.3-1.1 0.9-2.1 1.5-3 3-4.2 8.6-6.3 12-6.6 3.4-0.3 10.4-0.4 11.5 4.7 0 0.1 0 0.2 0.1 0.3 0 0.2 0 0.3 0 0.5 0 0.6-0.1 1.1-0.3 1.6 -0.4 1.3-1.4 2-2.7 2.5 -0.8 0.3-1.8 0.4-3 0.6l-7.5 0.9c-5.9 0.8-9.4 2.2-11.7 4.5C30.3 29.9 26.8 28.5 20.9 27.7M57.9 34c0 5.7-6.2 9.7-13.7 9.7 -4.8 0-8-2.2-8-5.5 0-3.6 2.7-5 7.8-5.7l7.4-0.9c3.7-0.5 5.5-0.9 6.4-2V34z"></path><path class="magenta" d="M0.6 62.3c0.1-0.7 0.1-1.8 0.1-2.8V46.2h3v6.9h0.1c1.1-1.2 3-2 5.6-2 4.1 0 7 2.3 6.9 5.6 0 3.9-3.7 5.8-7.4 5.8 -2.4 0-4.3-0.6-5.5-2.1H3.4l-0.1 1.8H0.6zM3.7 57.9c0 0.2 0.1 0.5 0.1 0.7 0.6 1.4 2.3 2.3 4.5 2.3 3.1 0 5-1.7 5-4.2 0-2.2-1.7-4.1-4.9-4.1 -2 0-3.9 0.9-4.6 2.4 -0.1 0.2-0.2 0.5-0.2 0.8V57.9z"></path><path class="magenta" d="M18.7 57.2c0.1 2.7 2.7 3.8 5.6 3.8 2.1 0 3.4-0.2 4.6-0.6l0.5 1.4c-1.1 0.3-2.9 0.7-5.5 0.7 -5.1 0-8.1-2.2-8.1-5.5s2.9-5.9 7.7-5.9c5.4 0 6.8 3.1 6.8 5.1 0 0.4-0.1 0.7-0.1 0.9H18.7zM27.5 55.7c0-1.3-0.8-3.2-4.1-3.2 -3 0-4.4 1.8-4.6 3.2H27.5z"></path><path class="magenta" d="M40.2 62.3l-0.2-1.4h-0.1c-0.9 0.9-2.7 1.6-5 1.6 -3.3 0-5-1.6-5-3.1 0-2.6 3.5-4.1 9.9-4.1v-0.2c0-0.9-0.4-2.5-3.7-2.5 -1.5 0-3.1 0.3-4.3 0.8l-0.7-1.3c1.4-0.6 3.3-1 5.4-1 5 0 6.3 2.3 6.3 4.5v4.1c0 0.9 0.1 1.9 0.3 2.6H40.2zM39.7 56.7c-3.3 0-7 0.3-7 2.5 0 1.3 1.3 1.9 2.8 1.9 2.1 0 3.5-0.9 4-1.8 0.1-0.2 0.2-0.4 0.2-0.6V56.7z"></path><path class="magenta" d="M57.1 59.3c0 1.1 0 2.1 0.1 3h-2.7l-0.2-1.8h-0.1c-0.8 0.9-2.5 2-5.4 2 -2.6 0-5.7-0.9-5.7-4.8v-6.4h3v6c0 2.1 1 3.5 3.7 3.5 2 0 3.4-0.9 3.9-1.8 0.2-0.3 0.3-0.7 0.3-1v-6.7h3V59.3z"></path><path class="magenta" d="M62.3 48.2v3.1h4.3v1.5h-4.3v5.9c0 1.4 0.6 2.1 2.2 2.1 0.8 0 1.4-0.1 1.7-0.1l0.1 1.5c-0.6 0.2-1.5 0.3-2.7 0.3 -1.4 0-2.5-0.3-3.2-0.8 -0.9-0.6-1.2-1.6-1.2-2.8v-6h-2.5v-1.5h2.5v-2.6L62.3 48.2z"></path><path class="magenta" d="M68.9 51.3l3.6 6.5c0.4 0.7 0.8 1.6 1.1 2.2h0.1c0.3-0.7 0.6-1.5 1.1-2.3l3.3-6.4h3.2l-4.5 7.8c-2.1 3.7-3.6 5.7-5.6 6.8 -1.5 0.9-2.9 1.2-3.7 1.3l-0.7-1.7c0.7-0.2 1.7-0.5 2.6-1 0.8-0.4 1.8-1.2 2.5-2.2 0.1-0.2 0.2-0.4 0.2-0.5 0-0.1-0.1-0.3-0.2-0.5l-6.1-10.1H68.9z"></path></svg>
                    </a>
                </div>
                <div class="col-2 col-md order-6 p-0 col-mini-cart">
                    <div class="mini-cart">
                        <div class="align-items-center carritoCompra"><button type="button" class="navbar-toggle toggle-left btn btn-link float-right" data-toggle="sidebar" data-target=".sidebar"><svg version="1.1" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
                            <path d="M26.8,29L24.9,9.4c0-0.4-0.4-0.7-0.8-0.7h-3.6V5.5C20.5,2.5,18,0,15,0S9.4,2.5,9.4,5.5v3.2H5.8C5.4,8.7,5.1,9,5,9.4 L3.1,29.1c0,0.2,0.1,0.5,0.2,0.6C3.4,29.9,3.7,30,3.9,30H26h0c0.4,0,0.8-0.4,0.8-0.8C26.8,29.1,26.8,29.1,26.8,29 M11.1,5.5  c0-2.1,1.7-3.9,3.9-3.9s3.9,1.7,3.9,3.9v3.2h-7.8V5.5z M6.6,10.3h2.9v1.6c0,0.4,0.4,0.8,0.8,0.8c0.4,0,0.8-0.4,0.8-0.8v-1.6h7.8v1.6 c0,0.4,0.4,0.8,0.8,0.8c0.4,0,0.8-0.4,0.8-0.8v-1.6h2.9l1.5,14.9H5.1L6.6,10.3z M4.8,28.4l0.2-1.6h20l0.2,1.6H4.8z"></path>
                        </svg><span class="badge bg-danger mini-cart-qty-admake pantone-sally">1</span></button>
                        <div class="col-xs-7 col-sm-3 col-md-3 sidebar sidebar-right sidebar-animate"><button type="button" class="navbar-toggle toggle-left btn btn-link close" data-toggle="sidebar" data-target=".sidebar"><svg version="1.1" id="x" x="0px" y="0px" viewBox="0 0 22.88 22.88" style="enable-background:new 0 0 22.88 22.88;" xml:space="preserve">
                            <path style="fill:#1E201D;" d="M0.324,1.909c-0.429-0.429-0.429-1.143,0-1.587c0.444-0.429,1.143-0.429,1.587,0l9.523,9.539                               l9.539-9.539c0.429-0.429,1.143-0.429,1.571,0c0.444,0.444,0.444,1.159,0,1.587l-9.523,9.524l9.523,9.539                               c0.444,0.429,0.444,1.143,0,1.587c-0.429,0.429-1.143,0.429-1.571,0l-9.539-9.539l-9.523,9.539c-0.444,0.429-1.143,0.429-1.587,0                               c-0.429-0.444-0.429-1.159,0-1.587l9.523-9.539L0.324,1.909z"></path><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                        </svg></button>
                        <!-- INICIO CARRO DE COMPRAS NEW -->
                        <div id="mini-cart-admake-aux">
                            <vtex.cmc:miniCart />
                            <vtex.cmc:AmountItemsInCart />
                        </div>
                        <!-- #mini-cart-admake-aux -->
                        <div id="mini-cart-admake" style="display: none;">
                            <div class="mini-cart-header"></div>
                            <div class="mini-cart-itens">
                                <!-- recebe itens -->
                            </div>
                            <div class="mini-cart-footer">
                                <div class="mini-cart-totais">
                                    <strong id="mini-cart-admake-total" class="pull-right"><!-- recebe valor total --></strong>
                                    <span>Total</span>
                                </div>
                                <div class="mini-cart-botao">
                                    <a href="/checkout/#/cart" class="btn btn-block btn-verde btn-finalizar-compra">Realizar pedido</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="menuMovil d-block d-md-none">
    <div id="menu-movil">
        <input type="checkbox" id="menu" name="menu" class="menu-checkbox"/>
        <div class="menu">
            <label class="menu-toggle menu-close" for="menu">
                <span class="iconMenu d-block d-lg-none">
                    <i class="fas fa-bars"></i>
                </span>
            </label>
            <ul>
                <li>      
                    <label for="menu-1">
                        <span class="iconMenuMovil cabello">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="cabello" x="0px" y="0px" viewBox="0 0 268.1 340.5" style="enable-background:new 0 0 268.1 340.5;" xml:space="preserve">
                                <g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M105.3,291.9c-5.8-2.9-9.5-8.7-9.5-15.2V165.9c0-13.2,3.5-26.1,10.2-37.3c1.4-2.4,0.6-5.4-1.8-6.8     c-2.4-1.4-5.4-0.6-6.8,1.8c-7.6,12.8-11.6,27.5-11.6,42.4v110.8c0,10.3,5.8,19.6,15,24.1c0.7,0.3,1.5,0.5,2.2,0.5     c1.8,0,3.6-1,4.5-2.8C108.8,296.1,107.8,293.1,105.3,291.9z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M243.1,109.7c-13.9-15.3-32.9-24.8-53.4-26.9c-2.7-0.3-5.2,1.7-5.5,4.5c-0.3,2.7,1.7,5.2,4.5,5.5     c18,1.8,34.7,10.2,47,23.7c12.3,13.6,19.1,31.1,19.1,49.5v110.8c0,6.6-3.8,12.6-9.8,15.3c-2.5,1.2-3.6,4.1-2.4,6.6     c0.8,1.8,2.6,2.9,4.5,2.9c0.7,0,1.4-0.1,2.1-0.5c9.5-4.4,15.6-13.9,15.6-24.4V165.9C264.8,145.1,257.1,125.1,243.1,109.7z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M267.1,332.5c-16.8-21.5-40.4-36.4-66.8-42.2v-15.4c21.5-8.3,36.7-29.1,36.7-53.4v-39c0-1.6-0.8-3.1-2.1-4     c-1.3-0.9-3-1.2-4.5-0.7c-2.5,0.8-5.1,1.2-7.7,1.2c-12.9,0-23.8-10.1-24.7-22.9c-0.2-2.3-1.9-4.2-4.1-4.5     c-2.3-0.4-4.5,0.8-5.4,2.9c-11.2,25.6-36.4,42.2-64.3,42.2c-1.7,0-3.4-0.1-5.1-0.2c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0h-10.3     c-2.8,0-5,2.2-5,5c0,2.8,2.2,5,5,5h5.3v15.1c0,24.3,15.3,45.2,36.7,53.4v15.4c-26.4,5.8-50,20.7-66.8,42.2     c-1.7,2.2-1.3,5.3,0.9,7c2.2,1.7,5.3,1.3,7-0.9c16.1-20.7,39.1-34.7,64.8-39.3c2.4-0.4,4.1-2.5,4.1-4.9v-16.7     c0.4,0.1,0.8,0.1,1.2,0.2c0.3,0.1,0.6,0.1,1,0.2c0.6,0.1,1.2,0.2,1.8,0.2c0.3,0,0.6,0.1,1,0.1c0.6,0.1,1.3,0.1,1.9,0.1     c0.3,0,0.6,0,0.9,0.1c0.9,0,1.9,0.1,2.8,0.1h0h8.9h0c0.9,0,1.9,0,2.8-0.1c0.3,0,0.6,0,0.9-0.1c0.6,0,1.3-0.1,1.9-0.1     c0.3,0,0.7-0.1,1-0.1c0.6-0.1,1.2-0.1,1.8-0.2c0.3,0,0.6-0.1,1-0.2c0.4-0.1,0.8-0.1,1.2-0.2v16.7c0,2.4,1.7,4.5,4.1,4.9     c25.7,4.7,48.7,18.6,64.8,39.3c1,1.3,2.5,1.9,3.9,1.9c1.1,0,2.1-0.3,3.1-1.1C268.4,337.8,268.8,334.6,267.1,332.5z M191.6,267.2     C191.6,267.2,191.6,267.2,191.6,267.2c-0.7,0.2-1.4,0.3-2.1,0.5c-0.1,0-0.2,0-0.2,0.1c-1.4,0.3-2.9,0.5-4.4,0.7     c-0.2,0-0.3,0-0.5,0c-0.6,0.1-1.1,0.1-1.7,0.1c-0.2,0-0.4,0-0.6,0c-0.7,0-1.5,0.1-2.2,0.1h-8.9c-0.7,0-1.5,0-2.2-0.1     c-0.2,0-0.4,0-0.6,0c-0.6,0-1.1-0.1-1.7-0.1c-0.2,0-0.3,0-0.5,0c-1.5-0.2-3-0.4-4.4-0.7c-0.1,0-0.2,0-0.2-0.1     c-0.7-0.1-1.4-0.3-2.1-0.5c0,0,0,0,0,0c-20.4-5.3-35.5-23.8-35.5-45.8v-14.9c27.8,0.2,53.3-14,68-36.9     c5.7,11.4,17.6,19.3,31.1,19.3c1.5,0,2.9-0.1,4.3-0.3v32.8C227.1,243.4,212,261.9,191.6,267.2z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M160.3,36.2L156.8,22c-2-8-7.2-14.7-14.5-18.6c-7.2-3.9-15.8-4.5-23.5-1.7L78.6,16.4     C40.6,30.2,11.9,66.5,0.3,96.2c-1,2.6,0.3,5.5,2.8,6.5c2.6,1,5.5-0.3,6.5-2.8c5.4-14,15-29.1,26.3-41.7     c13.7-15.2,29.6-26.4,46.1-32.4l40.2-14.6c5-1.8,10.7-1.4,15.4,1.1c4.7,2.5,8.2,7,9.5,12.2l2.4,9.8l-3.8,1.4l0,0l-44,16     c0,0,0,0,0,0l-2.2,0.8L95,48.6c-1.4-1.2-3.2-1.5-4.9-0.9c-23.7,8.6-44.6,21.2-69.9,54.7c-1.7,2.2-1.2,5.3,1,7c0.9,0.7,2,1,3,1     c1.5,0,3-0.7,4-2C51,78,69.3,66.3,90.8,58.1l4.5,3.8c1.4,1.2,3.2,1.5,4.9,0.9l0.2-0.1l3.9,10.6c0.5,1.2,1.4,2.3,2.6,2.8     c0.7,0.3,1.4,0.5,2.1,0.5c0.6,0,1.2-0.1,1.7-0.3l44-16c2.6-0.9,3.9-3.8,3-6.4l-3.9-10.6l3.3-1.2     C159.6,41.2,160.9,38.7,160.3,36.2z M112,65.2l-2.2-5.9l34.6-12.6l2.2,5.9L112,65.2z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M149.7,100.5l-9.5-26.2c-0.9-2.6-3.8-3.9-6.4-3c-2.6,0.9-3.9,3.8-3,6.4l9.5,26.2c0.7,2,2.6,3.3,4.7,3.3     c0.6,0,1.1-0.1,1.7-0.3C149.3,105.9,150.7,103.1,149.7,100.5z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M122.3,100.7l-1-18c-0.1-2.8-2.5-4.9-5.2-4.7c-2.8,0.1-4.9,2.5-4.7,5.2l1,18c0.1,2.7,2.3,4.7,5,4.7     c0.1,0,0.2,0,0.3,0C120.3,105.8,122.5,103.4,122.3,100.7z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M170.4,83.6l-12.9-17.2c-1.7-2.2-4.8-2.6-7-1c-2.2,1.7-2.6,4.8-1,7l12.9,17.2c1,1.3,2.5,2,4,2     c1,0,2.1-0.3,3-1C171.6,89,172.1,85.8,170.4,83.6z"/>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <span class="palito"></span>
                            Cabello
                        </span>
                    </label>
                    <input type="checkbox" id="menu-1" name="menu-1" class="menu-checkbox"/>
                    <div class="menu">
                        <ul>
                            <li>
                                <label class="menu-toggle menu-close" for="menu-1"><span><i class="fas fa-chevron-left"></i></span>Menú Principal</label>
                            </li>
                            <li>
                                <label for="menu-1-1">Tipo de cabello</label>
                                <input type="checkbox" id="menu-1-1" name="menu-1-1" class="menu-checkbox"/>
                                <div class="menu">
                                    <ul>
                                        <li><label class="menu-toggle menu-close" for="menu-1-1"><span><i class="fas fa-chevron-left"></i></span>Accesorios mujeres</label></li>
                                        <li>
                                            <a href="/cabello/Seco?map=c,specificationFilter_19" class="">Seco</a>
                                        </li>
                                        <li>
                                            <a href="/cabello/Dañado?map=c,specificationFilter_19" class="">Dañado</a>
                                        </li>
                                        <li>
                                            <a href="/cabello/Tinturado?map=c,specificationFilter_19" class="">Tinturado</a>
                                        </li>
                                        <li>
                                            <a href="/cabello/Liso?map=c,specificationFilter_19" class="">Liso</a>
                                        </li>
                                        <li>
                                            <a href="/cabello/Rizo?map=c,specificationFilter_19" class="">Rizo</a>
                                        </li>
                                        <li>
                                            <a href="/cabello/Dañado?map=c,specificationFilter_19" class="">Graso</a>
                                        </li>
                                        <li>
                                            <a href="/cabello/Todo tipo de Cabello?map=c,specificationFilter_19" class="">Todo tipo de Cabello</a>
                                        </li>
                                        <li>
                                            <a href="/cabello/Fino?map=c,specificationFilter_19" class="">Fino</a>
                                        </li>
                                        <li>
                                            <a href="/cabello/Alisado?map=c,specificationFilter_19" class="">Alisado</a>
                                        </li>
                                        <li>
                                            <a href="/cabello/Rubio@slash@Canoso?map=c,specificationFilter_19" class="">Rubio/Canoso</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <label for="menu-1-2">Solución</label>
                                <input type="checkbox" id="menu-1-2" name="menu-1-2" class="menu-checkbox"/>
                                <div class="menu">
                                    <ul>
                                        <li><label class="menu-toggle" for="menu-1-2"><span><i class="fas fa-chevron-left"></i></span>Bottom mujeres</label></li>
                                        <li>
                                            <a href="/cabello/Antifrizz?map=c,specificationFilter_20" class="">Antifrizz</a>
                                        </li>
                                        <li>
                                            <a href="/cabello/Volumen?map=c,specificationFilter_20" class="">Volumen</a>
                                        </li>
                                        <li>
                                            <a href="/cabello/Reparación, puntas partidas?map=c,specificationFilter_20" class="">Reparación, puntas partidas</a>
                                        </li>
                                        <li>
                                            <a href="/cabello/Hidratación?map=c,specificationFilter_20" class="">Hidratación</a>
                                        </li>
                                        <li>
                                            <a href="/cabello/Brillo?map=c,specificationFilter_20" class="">Brillo</a>
                                        </li>
                                        <li>
                                            <a href="/cabello/Anticaída?map=c,specificationFilter_20" class="">Anticaída</a>
                                        </li>
                                        <li>
                                            <a href="/cabello/Anticaspa?map=c,specificationFilter_20" class="">Anticaspa</a>
                                        </li>
                                        <li>
                                            <a href="/cabello/Cuidados Especiales?map=c,specificationFilter_20" class="">Cuidados Especiales</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="/cabello/shampoo-y-acondicionadores" class="">SHAMPOO Y ACONDICIONADORES</a>
                            </li>
                            <li>
                                <a href="/cabello/tratamientos-y-mascaras" class="">TRATAMIENTOS Y MÁSCARAS</a>
                            </li>
                            <li>
                                <a href="/cabello/aceites-y-serum" class="">ACEITES Y SERUM</a>
                            </li>
                            <li><a href="/cabello/accesorios" class="">ACCESORIOS</a></li>
                            <li>
                                <a href="/cabello/pack" class="">PACKS</a>
                            </li>
                            <li>
                                <a href="/cabello" class=" ver-mas">VER TODO CABELLO</a>
                            </li>
                        </ul>
                    </div>
                </li> 
                <li>      
                    <label for="menu-2">
                        <span class="iconMenuMovil styling">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="styling" x="0px" y="0px" viewBox="0 0 281.9 282.3" style="enable-background:new 0 0 281.9 282.3;" xml:space="preserve">
                                <g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M279,3.6c-2.1-2.3-5-3.6-8.1-3.6H146.3c-3.1,0-6,1.3-8.1,3.6c-2.1,2.3-3.1,5.3-2.9,8.4L148.7,174     c-1.5-1.9-3.6-3.3-6-3.9V166c0-23.3-31.6-54.1-60.9-69.2C80,95.9,78,95.9,76.3,97c-1.7,1-2.6,2.9-2.6,4.8     c0.3,11.5-14.3,18.9-26.6,23.1c-20.2,6.9-34.3,25.2-35.9,46.3c-3.4,1.9-5.7,5.5-5.7,9.6v12.5c-3.3,1.9-5.5,5.5-5.5,9.5v68.4     c0,6.1,4.9,11,11,11h134.6c6.1,0,11-4.9,11-11v-3c1.8,8,9,14,17.4,14h69.2c9.2,0,17-7.2,17.7-16.3l3.9-47.4     c0.3-4.1-0.9-8.2-3.4-11.4c2.9-2.7,4.8-6.5,5.2-10.7l15.2-184.6C282.1,8.9,281,5.8,279,3.6z M50.6,135.4     c21-7.2,29.7-16.6,32.7-25.1c26.4,15.7,48.3,40.5,48.3,55.7v3.9H22.4C24.5,154.1,35.3,140.6,50.6,135.4z M16.5,180.9h119.4     c0.4,0.1,0.8,0.1,1.2,0.1s0.8-0.1,1.2-0.1h1.7v11H16.5L16.5,180.9L16.5,180.9z M145.6,271.3L145.6,271.3H11v-41.9h58.1     c3,0,5.5-2.5,5.5-5.5s-2.5-5.5-5.5-5.5H11v-15.4h134.6L145.6,271.3L145.6,271.3z M253.8,217.7l-3.9,47.4     c-0.3,3.5-3.2,6.2-6.7,6.2H174c-3.5,0-6.5-2.7-6.7-6.2l-3.9-47.4c-0.1-1.6,0.4-3,1.4-4.2c1.1-1.1,2.5-1.8,4.1-1.8h79.5     c1.6,0,3,0.6,4.1,1.8C253.4,214.7,254,216.2,253.8,217.7z M255.6,195.7c-0.2,2.8-2.6,5.1-5.5,5.1h-1.8h-79.5H167     c-2.8,0-5.3-2.2-5.5-5.1l-13-158.2h57.4c3,0,5.5-2.5,5.5-5.5s-2.5-5.5-5.5-5.5h-58.3L146.3,11h124.5L255.6,195.7z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M208.6,65c-22.5,0-40.9,18.3-40.9,40.9s18.3,40.9,40.9,40.9s40.9-18.3,40.9-40.9S231.1,65,208.6,65z      M208.6,135.7c-16.5,0-29.8-13.4-29.8-29.8S192.1,76,208.6,76s29.8,13.4,29.8,29.8S225,135.7,208.6,135.7z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M229.7,28.1c-1-1-2.4-1.6-3.9-1.6s-2.9,0.6-3.9,1.6c-1,1-1.6,2.4-1.6,3.9c0,1.5,0.6,2.9,1.6,3.9     c1,1,2.4,1.6,3.9,1.6s2.9-0.6,3.9-1.6c1-1,1.6-2.4,1.6-3.9S230.7,29.1,229.7,28.1z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M92.9,220c-1-1-2.4-1.6-3.9-1.6c-1.5,0-2.9,0.6-3.9,1.6c-1,1-1.6,2.4-1.6,3.9s0.6,2.9,1.6,3.9     c1,1,2.4,1.6,3.9,1.6c1.5,0,2.9-0.6,3.9-1.6c1-1,1.6-2.4,1.6-3.9S93.9,221,92.9,220z"/>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <span class="palito"></span>
                            Styling
                        </span>
                    </label>
                    <input type="checkbox" id="menu-2" name="menu-2" class="menu-checkbox"/>
                    <div class="menu">
                        <ul>
                            <li>
                                <label class="menu-toggle" for="menu-2"><span><i class="fas fa-chevron-left"></i></span>Menú Principal</label>
                            </li>
                            <li>
                                <a href="/styling/laca-spray" class="">LACA, SPRAY</a>
                            </li>
                            <li>
                                <a href="/styling/protector-termico" class="">PROTECTOR TÉRMICO</a>
                            </li>
                            <li>
                                <a href="/styling/crema-de-peinado" class="">CREMA DE PEINADO</a>
                            </li>
                            <li>
                                <a href="/styling/mousse" class="">MOUSSE</a>
                            </li>
                            <li>
                                <a href="/styling/cera" class="">CERA</a>
                            </li>
                            <li>
                                <a href="/styling/gel" class="">GEL</a>
                            </li>
                            <li>
                                <a href="/styling/aceites-y-serum" class="">ACEITE Y SERUM</a>
                            </li>
                            <!--<li><a href="/styling/accesorios" class="">ACCESORIOS</a></li>-->
                            <li>
                                <a href="/styling" class=" ver-mas">VER TODO STYLING</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>      
                    <label for="menu-3">
                        <span class="iconMenuMovil coloracion">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="coloracion" x="0px" y="0px" viewBox="0 0 367.6 373.8" style="enable-background:new 0 0 367.6 373.8;" xml:space="preserve">
                                <g>
                                    <path class="st0" d="M90.2,70.1v-34c0,0,0,0,0-0.1c0-5.4-4.4-9.7-9.8-9.7H59.3c-5.4,0-9.8,4.4-9.8,9.8v34h12.1L90.2,70.1L90.2,70.1   z"/>
                                    <path class="st0" d="M90.2,70.1v-34c0,0,0,0,0-0.1c0-5.4-4.4-9.7-9.8-9.7H59.3c-5.4,0-9.8,4.4-9.8,9.8v34h12.1L90.2,70.1L90.2,70.1   z"/>
                                    <path class="st0" d="M49.9,249.9c1.7-1.9,4.2-3,6.8-3h20.1c5.1-9.8,18-28.5,44.7-36.7v-63.8c-0.8-27.5-19.4-50.6-26.1-58.1H56.5   H44.3c-6.7,7.5-25.3,30.6-26.1,58.1v178.8c0,4.6,2.9,8.5,6.4,8.5h12.1h36c-11.1-17.9-21.3-42.9-25-76.7   C47.4,254.4,48.2,251.9,49.9,249.9z"/>
                                    <path class="st0" d="M90.2,70.1v-34c0,0,0,0,0-0.1c0-5.4-4.4-9.7-9.8-9.7H59.3c-5.4,0-9.8,4.4-9.8,9.8v34h12.1L90.2,70.1L90.2,70.1   z"/>
                                    <path class="st0" d="M49.9,249.9c1.7-1.9,4.2-3,6.8-3h20.1c5.1-9.8,18-28.5,44.7-36.7v-63.8c-0.8-27.5-19.4-50.6-26.1-58.1H56.5   H44.3c-6.7,7.5-25.3,30.6-26.1,58.1v178.8c0,4.6,2.9,8.5,6.4,8.5h12.1h36c-11.1-17.9-21.3-42.9-25-76.7   C47.4,254.4,48.2,251.9,49.9,249.9z"/>
                                    <path class="st0" d="M116.8,355.6h3.1h95.3c6.1-4.2,26.5-20.2,39.8-53.9c3.1-7.8,10.1-11.4,16.4-14.6c5.7-2.9,11-5.6,14.5-11.1   c1.8-2.8,3.2-6.3,3.9-10.9H67.1C76.7,324.9,108.8,350.2,116.8,355.6z"/>
                                    <g>
                                        <path class="st1" d="M299.6,246.9h-28.5c-0.9-28.8-16.8-45.2-30.8-54c-16.2-10.2-32.9-12.4-33.6-12.5c-3.8-0.5-7.5,1.5-9.3,5    c-1.7,3.5-1.1,7.6,1.6,10.4c8.5,8.8,9,16.2,6.9,19.8c-1,1.7-3,3.3-5.6,2.7c-2.8-0.7-5.7-2.1-9-3.6c-10.2-4.8-24-11.2-51.7-8v-60.3    c0-0.1,0-0.2,0-0.3c-1-34.4-23.3-61.7-31.3-70.4V36.1c0-15.4-12.5-27.9-27.9-27.9H59.3c-15.4,0-28,12.5-28,27.9v39.5    C23.3,84.3,1,111.6,0,146c0,0.1,0,0.2,0,0.3v179c0,14.7,11,26.6,24.6,26.6H86c12.2,14.1,22.8,20.2,23.7,20.8    c1.4,0.8,2.9,1.2,4.4,1.2h103.7c1.6,0,3.1-0.4,4.4-1.2c1.3-0.7,31.3-18,49.6-64.2c0.6-1.4,4.4-3.4,7.8-5.1    c10.8-5.6,29-14.8,29-47.3C308.7,251,304.6,246.9,299.6,246.9z M182.2,230.4c0.5,0.2,1,0.5,1.5,0.7c3.8,1.8,7.7,3.6,12.1,4.7    c0.6,0.2,1.2,0.3,1.9,0.4c9.5,1.6,18.9-2.8,24-11.5c3-5.1,4.5-12.1,2.9-19.9c4.7,2.3,9.6,5.4,13.9,9.6    c7.6,7.2,13.7,17.6,14.4,32.5H116H98.3c6.6-8.4,18.6-18.7,38.8-21.6C161.7,221.7,172.8,226.1,182.2,230.4z M49.5,36.1    c0-5.4,4.4-9.8,9.8-9.8h21.1c5.4,0,9.7,4.3,9.8,9.7c0,0,0,0,0,0.1v34H61.6H49.5V36.1z M36.7,333.7H24.6c-3.5,0-6.4-3.9-6.4-8.5    V146.4c0.8-27.5,19.4-50.6,26.1-58.1h12.1h38.9c6.7,7.5,25.3,30.6,26.1,58.1v63.8c-26.7,8.2-39.6,26.9-44.7,36.7H56.7    c-2.6,0-5,1.1-6.8,3c-1.7,1.9-2.5,4.5-2.3,7.1c3.8,33.8,14,58.8,25,76.7H36.7z M285.9,276c-3.5,5.5-8.8,8.2-14.5,11.1    c-6.2,3.2-13.3,6.8-16.4,14.6c-13.4,33.7-33.7,49.6-39.8,53.9h-95.3h-3.1c-8-5.4-40.1-30.7-49.7-90.5h222.7    C289.1,269.7,287.7,273.2,285.9,276z"/>
                                        <path class="st1" d="M367.4,332l-46.3-184.4c14.4-17.8,18-49.5,8.3-78.3l-5.5-16.1c-0.8-2.3-2.4-4.2-4.6-5.2    c-2.2-1.1-4.7-1.2-6.9-0.5l-1.2,0.4L296.8,6.1c-1.6-4.7-6.8-7.3-11.5-5.7c-4.8,1.6-7.3,6.8-5.7,11.5l14.3,41.8l-7.4,2.5    l-14.3-41.7c-1.6-4.7-6.8-7.3-11.5-5.7c-4.8,1.6-7.3,6.8-5.7,11.5l14.3,41.7l-7.4,2.5L247.7,23c-1.6-4.7-6.8-7.3-11.5-5.7    c-4.8,1.6-7.3,6.8-5.7,11.5l14.3,41.6l-7.4,2.5l-14.2-41.6c-1.6-4.7-6.8-7.3-11.5-5.7c-4.8,1.6-7.3,6.8-5.7,11.5l14.2,41.6    c-4.3,1.9-6.5,6.7-4.9,11.2l5.5,16.1c10.2,30.2,34.5,50.8,54.3,56.7l75.2,175c1.5,3.4,4.8,5.5,8.4,5.5    C359.3,343.3,369.3,342.7,367.4,332z M290.3,152.4c-1-3.1-3.6-5.6-7.1-6.2c-1-0.2-2.1-0.4-3.2-0.8c-14.9-4.4-34.2-21.9-42.1-45.1    l-2.5-7.5l74.2-25.1l2.5,7.5c0.6,1.7,1.1,3.3,1.5,5c6.8,25,1.2,48.9-8.9,58.4c-2.7,2.6-3.5,6.4-2.3,9.7l19.7,78.3L290.3,152.4z"/>
                                    </g>
                                </g>
                            </svg>
                            <span class="palito"></span>
                            Coloración
                        </span>
                    </label>
                    <input type="checkbox" id="menu-3" name="menu-3" class="menu-checkbox"/>
                    <div class="menu">
                        <ul>
                            <li>
                                <label class="menu-toggle" for="menu-3"><span><i class="fas fa-chevron-left"></i></span>Menú Principal</label>
                            </li>
                            <li>
                                <a href="/coloracion/tintes" class="">TINTES</a>
                            </li>
                            <li>
                                <a href="/coloracion/oxidantes-y-decolorantes" class="">OXIDANTES Y DECOLORANTES</a>
                            </li>
                            <!--<li><a href="/coloracion/tratamientos-especificos" class="">TRATAMIENTOS ESPECÍFICOS</a></li>-->
                            <li>
                                <a href="/coloracion/accesorios" class="">ACCESORIOS</a>
                            </li>
                            <li>
                                <a href="/coloracion" class=" ver-mas">VER TODO COLORACIÓN</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>      
                    <label for="menu-4">
                        <span class="iconMenuMovil electricos">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="electricos" x="0px" y="0px" viewBox="0 0 300.8 234.6" style="enable-background:new 0 0 300.8 234.6;" xml:space="preserve">
                                <g>
                                    <path d="M300.8,62.8C300.8,27.4,267,0,238,0c-26.6,0-130.3,18.6-134.7,19.4c-3.2,0.6-5.5,3.3-5.5,6.6v73.6c0,3.2,2.3,6,5.5,6.6   c3.2,0.6,59.3,10.7,99.7,16.1v86.1c0,14.5,11.8,26.3,26.3,26.3c14.5,0,26.3-11.8,26.3-26.3v-85.9   C279.2,114.3,300.8,91.1,300.8,62.8z M245.5,66.1c-5.9,0-9.5-2.1-10.3-3.2c0.8-1.1,4.4-3.2,10.3-3.2c5.9,0,9.5,2.1,10.3,3.2   C255,63.9,251.4,66.1,245.5,66.1z M221.7,62.8c0,7.5,6.5,13.6,15.9,15.7c-1.8,12-5.8,23.3-11.7,33c-23.2-2.2-64.5-8.9-92.1-13.6   V27.7c27.5-4.7,68.5-11.3,91.8-13.5c5.9,9.7,10,21,11.9,33C228.2,49.3,221.7,55.3,221.7,62.8L221.7,62.8z M111.2,31.6   c2.4-0.4,5.6-1,9.3-1.6v65.7c-3.7-0.6-6.9-1.2-9.3-1.6V31.6z M242.3,208.3c0,7.1-5.8,12.9-12.9,12.9c-7.1,0-12.9-5.8-12.9-12.9   v-84.4c9.1,1,16.6,1.7,21.6,1.7c1.4,0,2.9-0.1,4.3-0.2L242.3,208.3L242.3,208.3z M240.9,112.1c5.1-10.1,8.5-21.4,10.2-33.1   c10.7-1.7,18.2-8.1,18.2-16.2c0-8.1-7.6-14.6-18.3-16.2c-1.7-11.8-5.2-23-10.4-33.1c21.8,1.6,46.8,23,46.8,49.3   C287.4,89,262.7,110.3,240.9,112.1L240.9,112.1z"/>
                                    <path d="M72.1,42.1c-1.1,0-1.5-0.2-3.4-2.2c-2.4-2.5-6.1-6.3-13-6.3s-10.6,3.8-13,6.3c-1.9,2-2.2,2.2-3.4,2.2   c-1.1,0-1.5-0.2-3.4-2.2c-2.4-2.5-6.1-6.3-13-6.3c-6.9,0-10.6,3.8-13,6.3c-1.9,2-2.2,2.2-3.4,2.2c-3.7,0-6.7,3-6.7,6.7   s3,6.7,6.7,6.7c6.9,0,10.6-3.8,13-6.3c1.9-2,2.2-2.2,3.4-2.2s1.5,0.2,3.4,2.2c2.4,2.5,6.1,6.3,13,6.3s10.6-3.8,13-6.3   c1.9-2,2.2-2.2,3.4-2.2c1.1,0,1.5,0.2,3.4,2.2c2.4,2.5,6.1,6.3,13,6.3c3.7,0,6.7-3,6.7-6.7S75.8,42.1,72.1,42.1z"/>
                                    <path d="M72.1,78.6c-1.1,0-1.5-0.2-3.4-2.2c-2.4-2.5-6.1-6.3-13-6.3s-10.6,3.8-13,6.3c-1.9,2-2.2,2.2-3.4,2.2   c-1.1,0-1.5-0.2-3.4-2.2c-2.4-2.5-6.1-6.3-13-6.3s-10.6,3.8-13,6.3c-1.9,2-2.2,2.2-3.4,2.2c-3.7,0-6.7,3-6.7,6.7C0,89,3,92,6.7,92   c6.9,0,10.6-3.8,13-6.3c1.9-2,2.2-2.2,3.4-2.2c1.1,0,1.5,0.2,3.4,2.2c2.4,2.5,6.1,6.3,13,6.3s10.6-3.8,13-6.3   c1.9-2,2.2-2.2,3.4-2.2s1.5,0.2,3.4,2.2c2.4,2.5,6.1,6.3,13,6.3c3.7,0,6.7-3,6.7-6.7C78.8,81.6,75.8,78.6,72.1,78.6z"/>
                                </g>
                            </svg>
                            <span class="palito"></span>
                            Eléctricos
                        </span>
                    </label>
                    <input type="checkbox" id="menu-4" name="menu-4" class="menu-checkbox"/>
                    <div class="menu">
                        <ul>
                            <li>
                                <label class="menu-toggle" for="menu-4"><span><i class="fas fa-chevron-left"></i></span>Menú Principal</label>
                            </li>
                            <li>
                                <a href="/electricos/secadores" class="">SECADORES</a>
                            </li>
                            <li>
                                <a href="/electricos/planchas-alisadores" class="">PLANCHAS/ALISADORES</a>
                            </li>
                            <li>
                                <a href="/electricos/onduladores-rizadores" class="">ONDULADORES/RIZADORES</a>
                            </li>
                            <li>
                                <a href="/electricos/cortadoras-de-pelo-barba" class="">CORTADORAS DE PELO/BARBA (CLIPPER)</a>
                            </li>
                            <li>
                                <a href="/electricos/desvelladoras" class="">DESVELLADORAS (TRIMMER)</a>
                            </li>
                            <li>
                                <a href="/electricos/lamparas-esmaltado-permanente" class="">LÁMPARAS ESMALTADO PERMANENTE</a>
                            </li>
                            <!--<li><a href="/electricos/ollas-depilacion" class="">OLLAS DEPILACIÓN</a></li>-->
                            <li>
                                <a href="/electricos" class=" ver-mas">VER TODO ELÉCTRICOS</a>
                            </li>
                        </ul>
                    </div>
                </li>      
                <li>      
                    <label for="menu-5">
                        <span class="iconMenuMovil unas">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="unas" x="0px" y="0px" viewBox="0 0 276.9 276.9" style="enable-background:new 0 0 276.9 276.9;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path class="st0" d="M276.2,5.7c-1.4-3.5-4.8-5.7-8.6-5.7h-78c-3.7,0-7.3,1.5-9.9,4.1l-29.4,29.3c-2.6,2.6-4.1,6.1-4.1,9.8    c0,3.7,1.5,7.2,4.1,9.8l6.6,6.6l-33.3,32.8c-0.7-1.3-1.3-2.6-2.1-3.8l0,0l0-0.1l-0.1-0.1l-0.1-0.1c-0.5-0.9-1.1-1.7-1.7-2.5l0,0    l0-0.1c-1.1-1.6-2.3-3.1-3.6-4.5l0,0l-0.1-0.1l0,0c-0.1-0.1-0.2-0.2-0.3-0.4c-0.6-0.7-1.3-1.3-1.9-1.9c-0.1-0.1-0.2-0.2-0.2-0.3    l0,0c-7.7-7.5-17.6-12.2-28.3-13.5c-0.9-0.2-1.9-0.3-2.8-0.3c-0.3,0-0.5-0.1-0.8-0.1c-0.4,0-0.7,0-1.1,0c-0.1,0-0.3,0-0.4,0l0,0    c-0.5,0-1,0-1.6,0h-9.2c-1,0-2.1,0-2.8,0.1c-0.1,0-0.2,0-0.3,0l-0.1,0c-0.3,0-0.5,0-0.8,0.1c-0.9,0-1.7,0.1-2.6,0.3l-0.1,0l-0.1,0    l0,0c-10.6,1.3-20.6,6.1-28.3,13.6c-0.7,0.7-1.4,1.4-2.2,2.3c-0.1,0.1-0.2,0.2-0.3,0.3l0,0l0,0l0,0l0,0c-1.3,1.4-2.4,2.8-3.5,4.3    l-0.1,0.1l0,0c-0.6,0.9-1.2,1.7-1.7,2.6c0,0.1-0.1,0.1-0.1,0.2l0,0.1l0,0c-3.8,6.1-6.2,12.9-7.2,19.9C6.9,120,0,135.8,0,152.3    v115.4c0,5.1,4.1,9.2,9.2,9.2h129.2c5.1,0,9.2-4.1,9.2-9.2V152.3c0-12.1-3.7-24-10.6-34l39.7-39.1l6.7,6.6    c5.5,5.4,14.3,5.4,19.7,0l70.9-70.1C276.9,13.1,277.7,9.2,276.2,5.7z M27.7,115.4c0-1.4,0.1-2.8,0.2-4.1l0-0.1l0,0l0,0    c0-0.1,0-0.1,0-0.2h0c0.7-6.3,2.8-12.3,6.2-17.6c0.5-0.7,1-1.4,1.4-2.1c0.9-1.3,1.9-2.5,2.9-3.6c0.1-0.1,0.2-0.2,0.3-0.3    c0.5-0.5,1-1.1,1.5-1.6c0.1-0.1,0.1-0.2,0.2-0.2l0,0l0,0C47,79.2,55.2,75.3,64,74.2c0.7-0.1,1.4-0.2,2.1-0.2c0.1,0,0.3,0,0.4,0    l0,0c0.8,0,1.7-0.1,2.6-0.1h9.2c0.4,0,0.8,0,1.6,0c0.2,0,0.5,0,0.7,0c0.1,0,0.2,0,0.3,0c0.2,0,0.3,0,0.5,0c0.8,0,1.5,0.1,2.3,0.2    c8.8,1.1,17,5,23.3,11.2c0.6,0.6,1.2,1.2,1.8,1.8c0.1,0.1,0.2,0.2,0.3,0.3c1,1.2,2,2.4,2.9,3.6l0.1,0.1c0.5,0.7,1,1.4,1.5,2.2    c1.2,1.9,2.2,3.9,3.1,5.9l-25.8,25.4c-4.4,0.5-17.4,3.2-32.6,18.4c-5.8,5.8-2.8,17.4,6.9,27.1c3.8,3.9,8.4,6.9,13.5,8.8    c1.9,0.7,3.9,1,5.9,1c2.9,0.1,5.7-1,7.7-3c15.3-15.3,17.9-28.4,18.4-32.7l9.3-9.2v40.2c0,9.3-2.8,18.4-8.1,26    c-9.4-7.9-21.2-12.2-33.5-12.2h-9.2c-12.2,0-24.1,4.3-33.5,12.2c-5.3-7.7-8.1-16.7-8.1-26L27.7,115.4L27.7,115.4z M91.2,134    l10.2,10.1c-0.5,3.5-3.2,13.9-15.6,26.4c-0.3,0.3-1.6,0.5-4.1-0.3c-3.7-1.4-7.1-3.7-9.9-6.6c-6.7-6.7-7.7-13.1-6.9-14    C77.3,137.3,87.6,134.6,91.2,134z M106,208.5c-17.9,17.4-46.4,17.4-64.2,0c7.7-6.5,17.4-10,27.5-10h9.2    C88.5,198.5,98.3,202,106,208.5z M138.5,152.3v115.4H9.2V152.3c0-10.4,3.2-20.6,9.2-29.1v52.2c0,13.1,4.7,25.9,13.2,35.8    c0.1,0.1,0.2,0.3,0.3,0.4c0.1,0.1,0.1,0.1,0.2,0.1c10.5,12.1,25.7,19,41.7,19s31.2-6.9,41.7-19c0.1-0.1,0.1-0.1,0.2-0.1    c0.1-0.1,0.2-0.3,0.3-0.4c8.5-10,13.2-22.7,13.2-35.8v-49.3l1.2-1.2C135.7,133.1,138.5,142.6,138.5,152.3z M106.2,135.9l-6.7-6.6    l25.3-25c0.4-0.3,0.7-0.6,1-0.9l37.8-37.2l2.2,2.2l4.5,4.5L106.2,135.9z M196.8,79.3c-1.9,1.8-4.9,1.8-6.8,0l-9.9-9.8l0,0    l-13.3-13.1l0,0l-9.9-9.8c-0.9-0.9-1.4-2.1-1.4-3.3c0-1.2,0.5-2.4,1.4-3.3l29.4-29.3c0.9-0.9,2.1-1.4,3.4-1.4h78l0,0L196.8,79.3z"/>
                                    </g>
                                </g>
                            </svg>
                            <span class="palito"></span>
                            Uñas
                        </span>
                    </label>
                    <input type="checkbox" id="menu-5" name="menu-5" class="menu-checkbox"/>
                    <div class="menu">
                        <ul>
                            <li><label class="menu-toggle" for="menu-5"><span><i class="fas fa-chevron-left"></i></span>Menú Principal</label></li>
                            <li>
                                <a href="/unas/esmaltes" class="">ESMALTES</a>
                            </li>
                            <li>
                                <a href="/unas/base-y-top-coat" class="">BASE Y TOP COAT</a>
                            </li>
                            <li>
                                <a href="/unas/tratamientos" class="">TRATAMIENTOS</a>
                            </li>
                            <li>
                                <a href="/unas/quita-esmaltes" class="">QUITA ESMALTES</a>
                            </li>
                            <li>
                                <a href="/unas/accesorios" class="">ACCESORIOS</a>
                            </li>
                            <li>
                                <a href="/unas/lamparas-esmaltado-permanente" class="">LÁMPARAS ESMALTADO PERMANENTE</a>
                            </li>
                            <li>
                                <a href="/unas/packs" class="">PACKS</a>
                            </li>
                            <li>
                                <a href="/unas" class=" ver-mas">VER TODO UÑAS</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>      
                    <label for="menu-6">
                        <span class="iconMenuMovil maquillaje">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="maquillaje" x="0px" y="0px" viewBox="0 0 301.9 302" style="enable-background:new 0 0 301.9 302;" xml:space="preserve">
                                <g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M297.5,106.3c2.8-2.8,4.4-6.7,4.4-10.7c0-8.3-6.8-15.1-15.1-15.1h-0.1c-4,0-7.8,1.6-10.6,4.5L259,102.1     c-4.1-1-8.3-1.4-12.4-1.5v-49L266,17.6c0-0.1,0-0.2,0.1-0.3c0.1-0.3,0.2-0.6,0.3-1c0.1-0.3,0.2-0.6,0.2-1c0-0.1,0.1-0.2,0.1-0.3     c0-0.3-0.1-0.6-0.2-1c0-0.2,0-0.3-0.1-0.5C264.2,0.4,230.4,0,226.4,0c-4,0-37.7,0.4-40,13.7c0,0.1,0,0.3-0.1,0.5     c-0.1,0.3-0.1,0.6-0.2,1c0,0.1,0.1,0.2,0.1,0.3c0,0.3,0.1,0.7,0.2,1c0.1,0.3,0.2,0.6,0.3,1c0,0.1,0,0.2,0.1,0.3l19.5,34.1v49     h-20.1V67.3c3.6-5.3,5.4-11.6,5-18c0-14.1-15.2-26.7-17-28.1c-0.1-0.1-0.3-0.1-0.4-0.2c-0.5-0.3-1.2-0.6-1.8-0.7     c-1.3-0.2-2.6,0-3.7,0.7c-0.1,0.1-0.3,0.1-0.4,0.2c-1.7,1.4-17,14-17,28.1c-0.4,6.4,1.4,12.7,5,18v33.4h-15.1V55.4     c0-0.2-0.1-0.3-0.1-0.5c0-0.2,0-0.3,0-0.5l-5.2-26.6c-1.1-4.5-5.2-7.7-9.9-7.6c-4.7,0.1-8.7,3.3-9.7,7.9l-5.2,26.4     c0,0.2,0,0.3,0,0.5c0,0.2-0.1,0.3-0.1,0.5v45.3h-10.1V80.5c0-5.6-4.5-10.1-10.1-10.1V59c3.1-1.8,5-5.1,5-8.7V10.1     C95.6,4.5,91.1,0,85.5,0H60.4c-5.6,0-10.1,4.5-10.1,10.1v40.3c0,3.6,1.9,6.9,5,8.7v11.5c-5.6,0-10.1,4.5-10.1,10.1v21.1     C19,106.5,0,129.4,0,156.1l0.1,135.6C0,294.4,1.1,297,3,299c1.9,1.9,4.5,3,7.2,3h281.6c2.7,0,5.3-1.1,7.2-3     c1.9-1.9,2.9-4.5,2.9-7.2l0.1-135.7c0-14.4-5.6-28.2-15.6-38.5L297.5,106.3z M283.3,92.1c0.9-0.9,2.2-1.5,3.5-1.5h0     c2,0,3.9,1.2,4.7,3.1c0.8,1.9,0.3,4.1-1.1,5.5L278.6,111c-2.8-2-5.8-3.8-9-5.2L283.3,92.1z M197,15.2c3.2-2.1,13.4-5.1,29.4-5.1     s26.1,3,29.4,5.1l0,0l-17.2,30.1h-24.4L197,15.2z M216.4,65.4V55.4h20.1v10.1L216.4,65.4z M236.5,75.5v25.2h-20.1V75.5     L236.5,75.5z M161,49.3c0-6.1,5.8-13.2,10.1-17.4c4.3,4.2,10.1,11.2,10.1,17.4c0.2,3.8-0.6,7.7-2.4,11.1h-15.3     C161.6,57,160.8,53.2,161,49.3z M166,80.5V70.5h10.1v10.1H166z M176.1,90.6v10.1H166V90.6H176.1z M125.7,29.9l4,20.4h-7.9     L125.7,29.9z M120.7,60.4h10.1v40.3h-10.1V60.4z M60.4,10.1h25.2l0,40.3H60.4L60.4,10.1L60.4,10.1z M55.3,80.5     c5.6,0,10.1-4.5,10.1-10.1V60.4h15.1v10.1c0,5.6,4.5,10.1,10.1,10.1v20.1H55.4l0,0L55.3,80.5L55.3,80.5z M291.8,156.1l-0.1,135.9     l-281.6-0.1L10.1,156c0-12,4.8-23.5,13.3-32.1c8.5-8.5,20-13.3,32-13.3h191.2c12,0,23.5,4.8,32,13.3     C287.1,132.5,291.8,144,291.8,156.1z"/>
                                            <path class="st0" d="M189.3,141L189.3,141c-8.7,0-17,3.7-22.9,10.1l-15.5,16.6L135.4,151c-5.9-6.4-14.2-10-22.8-10h0     c-8.7,0-16.9,3.7-22.8,10c-12.4,13.5-12.4,34.3,0,47.8l57.5,61.4c1,1,2.3,1.6,3.7,1.6c1.4,0,2.7-0.6,3.7-1.6l57.5-61.4     c12.4-13.5,12.4-34.3,0-47.8C206.2,144.6,198,141,189.3,141z M204.7,191.9L204.7,191.9L204.7,191.9l-53.8,57.4l-53.8-57.4     c-8.8-9.6-8.8-24.4,0-34c4-4.3,9.6-6.8,15.4-6.9h0c5.9,0,11.5,2.5,15.5,6.9l19.2,20.5c1,1,2.3,1.5,3.7,1.5c1.4,0,2.7-0.5,3.7-1.5     l19.1-20.5c4-4.4,9.6-6.8,15.5-6.9h0c5.9,0,11.5,2.5,15.4,6.9C213.5,167.5,213.6,182.3,204.7,191.9z"/>
                                            <path class="st0" d="M25.1,156.1c-1.3,0-2.6,0.5-3.6,1.5c-0.9,0.9-1.5,2.2-1.5,3.6v65.4c0,2.8,2.3,5,5,5s5-2.3,5-5v-65.4     c0-1.3-0.5-2.6-1.5-3.6C27.7,156.6,26.5,156.1,25.1,156.1z"/>
                                            <path class="st0" d="M25.1,241.6c-1.3,0-2.6,0.5-3.6,1.5c-0.9,0.9-1.5,2.2-1.5,3.6v20.1c0,2.8,2.3,5,5,5s5-2.3,5-5v-20.1     c0-1.3-0.5-2.6-1.5-3.6C27.7,242.1,26.5,241.6,25.1,241.6z"/>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <span class="palito"></span>
                            Maquillaje
                        </span>
                    </label>
                    <input type="checkbox" id="menu-6" name="menu-6" class="menu-checkbox"/>
                    <div class="menu">
                        <ul>
                            <li><label class="menu-toggle" for="menu-6"><span><i class="fas fa-chevron-left"></i></span>Menú Principal</label></li>
                            <li>
                                <a href="/maquillaje/rostro" class="">ROSTRO</a>
                            </li>
                            <li>
                                <a href="/maquillaje/mejillas" class="">MEJILLAS</a>
                            </li>
                            <li>
                                <a href="/maquillaje/ojos" class="">OJOS</a>
                            </li>
                            <li>
                                <a href="/maquillaje/labios" class="">LABIOS</a>
                            </li>
                            <li>
                                <a href="/maquillaje/paletas-y-sets" class="">PALETAS Y SETS</a>
                            </li>
                            <li>
                                <a href="/maquillaje/brochas-y-aplicadores" class="">BROCHAS Y APLICADORES</a>
                            </li>
                            <li>
                                <a href="/maquillaje/accesorios" class="">ACCESORIOS</a>
                            </li>
                            <li>
                                <a href="/maquillaje" class=" ver-mas">VER TODO MAQUILLAJE</a>
                            </li>
                        </ul>
                    </div>
                </li> 
                <li>      
                    <label for="menu-7">
                        <span class="iconMenuMovil piel">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="piel" x="0px" y="0px" viewBox="0 0 281.9 282.3" style="enable-background:new 0 0 281.9 282.3;" xml:space="preserve">
                                <g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M279,3.6c-2.1-2.3-5-3.6-8.1-3.6H146.3c-3.1,0-6,1.3-8.1,3.6c-2.1,2.3-3.1,5.3-2.9,8.4L148.7,174     c-1.5-1.9-3.6-3.3-6-3.9V166c0-23.3-31.6-54.1-60.9-69.2C80,95.9,78,95.9,76.3,97c-1.7,1-2.6,2.9-2.6,4.8     c0.3,11.5-14.3,18.9-26.6,23.1c-20.2,6.9-34.3,25.2-35.9,46.3c-3.4,1.9-5.7,5.5-5.7,9.6v12.5c-3.3,1.9-5.5,5.5-5.5,9.5v68.4     c0,6.1,4.9,11,11,11h134.6c6.1,0,11-4.9,11-11v-3c1.8,8,9,14,17.4,14h69.2c9.2,0,17-7.2,17.7-16.3l3.9-47.4     c0.3-4.1-0.9-8.2-3.4-11.4c2.9-2.7,4.8-6.5,5.2-10.7l15.2-184.6C282.1,8.9,281,5.8,279,3.6z M50.6,135.4     c21-7.2,29.7-16.6,32.7-25.1c26.4,15.7,48.3,40.5,48.3,55.7v3.9H22.4C24.5,154.1,35.3,140.6,50.6,135.4z M16.5,180.9h119.4     c0.4,0.1,0.8,0.1,1.2,0.1s0.8-0.1,1.2-0.1h1.7v11H16.5L16.5,180.9L16.5,180.9z M145.6,271.3L145.6,271.3H11v-41.9h58.1     c3,0,5.5-2.5,5.5-5.5s-2.5-5.5-5.5-5.5H11v-15.4h134.6L145.6,271.3L145.6,271.3z M253.8,217.7l-3.9,47.4     c-0.3,3.5-3.2,6.2-6.7,6.2H174c-3.5,0-6.5-2.7-6.7-6.2l-3.9-47.4c-0.1-1.6,0.4-3,1.4-4.2c1.1-1.1,2.5-1.8,4.1-1.8h79.5     c1.6,0,3,0.6,4.1,1.8C253.4,214.7,254,216.2,253.8,217.7z M255.6,195.7c-0.2,2.8-2.6,5.1-5.5,5.1h-1.8h-79.5H167     c-2.8,0-5.3-2.2-5.5-5.1l-13-158.2h57.4c3,0,5.5-2.5,5.5-5.5s-2.5-5.5-5.5-5.5h-58.3L146.3,11h124.5L255.6,195.7z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M208.6,65c-22.5,0-40.9,18.3-40.9,40.9s18.3,40.9,40.9,40.9s40.9-18.3,40.9-40.9S231.1,65,208.6,65z      M208.6,135.7c-16.5,0-29.8-13.4-29.8-29.8S192.1,76,208.6,76s29.8,13.4,29.8,29.8S225,135.7,208.6,135.7z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M229.7,28.1c-1-1-2.4-1.6-3.9-1.6s-2.9,0.6-3.9,1.6c-1,1-1.6,2.4-1.6,3.9c0,1.5,0.6,2.9,1.6,3.9     c1,1,2.4,1.6,3.9,1.6s2.9-0.6,3.9-1.6c1-1,1.6-2.4,1.6-3.9S230.7,29.1,229.7,28.1z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path class="st0" d="M92.9,220c-1-1-2.4-1.6-3.9-1.6c-1.5,0-2.9,0.6-3.9,1.6c-1,1-1.6,2.4-1.6,3.9s0.6,2.9,1.6,3.9     c1,1,2.4,1.6,3.9,1.6c1.5,0,2.9-0.6,3.9-1.6c1-1,1.6-2.4,1.6-3.9S93.9,221,92.9,220z"/>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <span class="palito"></span>
                            Piel
                        </span>
                    </label>
                    <input type="checkbox" id="menu-7" name="menu-7" class="menu-checkbox"/>
                    <div class="menu">
                        <ul>
                            <li><label class="menu-toggle" for="menu-7"><span><i class="fas fa-chevron-left"></i></span>Menú Principal</label></li>
                            <li>
                                <a href="/piel/rostro" class="">ROSTRO</a>
                            </li>
                            <li>
                                <a href="/piel/ojos" class="">OJOS</a>
                            </li>
                            <li>
                                <a href="/piel/cuerpo-y-manos" class="">CUERPO Y MANOS</a>
                            </li>
                            <li>
                                <a href="/piel/pies" class="">PIES</a>
                            </li>
                            <li>
                                <a href="/piel" class=" ver-mas">VER TODO PIEL</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="boxSocial">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com/SallyBeautyChile/"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/sallybeauty_cl/"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="/login"><i class="fas fa-user"></i></a></li>
                    <li class="list-inline-item"><a href="/contacto"><i class="fas fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="menu-principal" class="menu-principal-class d-none d-md-block">
    <vtex.cmc:menuprincipal/>
    <!-- ATENÇÃO, esse erro prejudica a performance do seu site, o conteudo de nome html não foi renderizado por nao ser um XDocument válido, erro: - 'href' is a duplicate attribute name. Line 4, position 124.-->
</div>
</div>
</header>   