<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">MALL PLAZA OESTE</a></h3>
    <p class="dirección">Av. Américo Vespucio 1501. Local D-150A- D-154A</p>
    <p class="comuna"> SANTIAGO / <span class="region"> Cerrillos  </span></p>
    <p class="mas-info" id="mas-info-s1">Más info</p>
    <div class="info-mas" id="info-mas-s1">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 225807890 </li>
            <li class="correo-tienda"> Email: servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10.00 hrs</span> a <span class="hasta">21:30 hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.5167198, Lng: -70.7195259 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">LÍDER EXPRESS FONTOVA</a></h3>
    <p class="dirección">Av. Pedro Fontova 7455. Local 2</p>
    <p class="comuna"> Huechuraba / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s2">Más info</p>
    <div class="info-mas" id="info-mas-s2">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 229487067 </li>
            <li class="correo-tienda"> Email: servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Jueves: <span class="desde">09:00 hrs</span> a <span class="hasta">21:00 hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.3518242, Lng: -70.6725783 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">MALL FLORIDA CENTER</a></h3>
    <p class="dirección">Av. Vicuña Mackenna 6100. Local 3073</p>
    <p class="comuna"> La Florida  / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s3">Más info</p>
    <div class="info-mas" id="info-mas-s3">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 225966376 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">22:00 hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.5110731, Lng: -70.6120708 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">MALL PLAZA VESPUCIO</a></h3>
    <p class="dirección">Av. Vicuña Mackenna Oriente 7100. Local 29</p>
    <p class="comuna"> SANTIAGO / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s4">Más info</p>
    <div class="info-mas" id="info-mas-s4">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 225807660 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Jueves: <span class="desde">10:00 hrs</span> a <span class="hasta">21:30 hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.5200815, Lng: -70.6020567 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">MERCED</a></h3>
    <p class="dirección">Merced 814</p>
    <p class="comuna"> SANTIAGO / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s5">Más info</p>
    <div class="info-mas" id="info-mas-s5">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 225966370 </li>
            <li class="correo-tienda"> Email: ventas@intersalon.cl </li>
            <li class="atención"> Lunes a Viernes: <span class="desde">10:00 hrs</span> a <span class="hasta">20:00 hrs</span></li>
            <li class="atención"> Sábado: <span class="desde">10:00 hrs</span> a  <span class="hasta">15:00 hrs</span></li>
            <li class="atención"> Domingos: <span class="desde">CERRADO</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.4383608, Lng: -70.6508092 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">EL FARO</a></h3>
    <p class="dirección">Av. Apoquindo 6067. Local 10</p>
    <p class="comuna"> Las Condes  / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s6">Más info</p>
    <div class="info-mas" id="info-mas-s6">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 222460971 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Viernes: <span class="desde">09:30 hrs</span> a <span class="hasta">20:30  hrs</span></li>
            <li class="atención"> Viernes: <span class="desde">10:00 hrs</span> a  <span class="hasta">21:30  hrs</span></li>
            <li class="atención"> Sábado: <span class="desde">09:30 hrs</span> a  <span class="hasta">17:30  hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.4093636, Lng: -70.5699625 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> MALL PLAZA LOS DOMINICOS </a></h3>
    <p class="dirección"> Av. Padre Hurtado Sur # 875 Local 2048 </p>
    <p class="comuna">  Las Condes  / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono">  </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:30  hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.4155302, Lng: -70.5424405 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> MALL ALTO LAS CONDES </a></h3>
    <p class="dirección"> Av. Kennedy 9001. Local 3280 </p>
    <p class="comuna">  Las condes  / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 222131387 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">22:00  hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.3908788, Lng: -70.54839 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> MALL PARQUE ARAUCO </a></h3>
    <p class="dirección"> Av. Kennedy 5413. Local 505 A </p>
    <p class="comuna">  Las condes   / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 232207425 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:00  hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.4021889, Lng: -70.5804381 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> ESPACIO URBANO LA DEHESA </a></h3>
    <p class="dirección"> Av. El Rodeo 12850 Piso 1. Local 48 </p>
    <p class="comuna"> Lo Barnechea  / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono">  </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Sábados: <span class="desde">09:30 hrs</span> a <span class="hasta">21:00  hrs</span></li>
            <li class="atención"> Domingos: <span class="desde">10:00 hrs</span> a <span class="hasta">21:00  hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.3523124, Lng: -70.5229653 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> MALL VIVO LOS TRAPENSES </a></h3>
    <p class="dirección"> José Alcalde Delano 10492. Local 122 </p>
    <p class="comuna">  Lo Barnechea   / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 232038753 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:00  hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.3564559, Lng: -70.5416463 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> MALL PORTAL LA DEHESA </a></h3>
    <p class="dirección"> Av. La Dehesa 1445. Local 2017 </p>
    <p class="comuna">  Lo Barnechea   / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 222162886 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:00  hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.3575751, Lng: -70.5174551 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> MALL ARAUCO MAIPÚ </a></h3>
    <p class="dirección"> Av. Américo Vespucio 399. Local 644 </p>
    <p class="comuna">  Maipú   / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 227449176 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:00  hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.4813493, Lng: -70.7540419 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> MONUMENTO </a></h3>
    <p class="dirección"> Monumento 1913 </p>
    <p class="comuna">  Maipú   / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 225962408 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Viernes: <span class="desde">10:00 hrs</span> a <span class="hasta">20:00  hrs</span></li>
            <li class="atención"> Sábado: <span class="desde">10:00 hrs</span> a  <span class="hasta">15:00  hrs</span></li>
            <li class="atención"> Domingos: <span class="desde">CERRADO</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.5101154, Lng: -70.7606113 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> MALL PLAZA EGAÑA </a></h3>
    <p class="dirección"> Av. Larrain 5862. Local 2052 </p>
    <p class="comuna">  La Reina   / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 228306027 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:30  hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.4524332, Lng: -70.5716591 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> MALL PASEO QUILIN </a></h3>
    <p class="dirección"> Av. Américo Vespucio 3300. Local 1035 </p>
    <p class="comuna">  Peñalolen   / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 229470083 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:30  hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.4878024, Lng: -70.5798096 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> MALL COSTANERA CENTER </a></h3>
    <p class="dirección"> AV. ANDRES BELLO 2447  </p>
    <p class="comuna">  Providencia   / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 226189646 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">22:00  hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.4178028, Lng:-70.609995 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> MALL PLAZA TOBALABA </a></h3>
    <p class="dirección"> Av. Camilo Henríquez 3692. Local 138 A - 124 A </p>
    <p class="comuna">  Puente Alto  / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 225860612 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:00  hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.5694581, Lng: -70.5589516 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> MALL PLAZA SUR </a></h3>
    <p class="dirección"> Av. Jorge Alessandri 20030. Local B, 1048 </p>
    <p class="comuna">  San Bernardo  / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono">  </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:00  hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.6316593, Lng: -70.71255 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> ESPACIO URBANO GRAN AVENIDA </a></h3>
    <p class="dirección"> Av. José Miguel Carrera 6150. Local 1128 </p>
    <p class="comuna">  San Miguel   / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 227977200 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Jueves: <span class="desde">10:00 hrs</span> a <span class="hasta">21:30  hrs</span></li>
            <li class="atención"> Viernes: y Sábado <span class="desde">10:00 hrs</span> a  <span class="hasta">22:00  hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.511795, Lng: -70.6591036 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> MALL PLAZA NORTE </a></h3>
    <p class="dirección"> Av. Américo Vespucio 1737. Local 1165 </p>
    <p class="comuna">  Huechuraba  / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 225807828 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:30  hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.3660125, Lng: -70.6787514 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> HUÉRFANOS </a></h3>
    <p class="dirección"> Huérfanos 819 </p>
    <p class="comuna">  Santiago  / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 225966378 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Viernes: <span class="desde">10:00 hrs</span> a <span class="hasta">20:00  hrs</span></li>
            <li class="atención"> Sábado: <span class="desde">10:00 hrs</span> a  <span class="hasta">15:00  hrs</span></li>
            <li class="atención"> Domingos: <span class="desde">CERRADO</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.4393561, Lng: -70.6506814 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> SAN ANTONIO </a></h3>
    <p class="dirección"> SAN ANTONIO 430 </p>
    <p class="comuna">  Santiago  / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 225966372 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Viernes: <span class="desde">10:00 hrs</span> a <span class="hasta">20:00  hrs</span></li>
            <li class="atención"> Sábado: <span class="desde">10:00 hrs</span> a  <span class="hasta">15:00  hrs</span></li>
            <li class="atención"> Domingos: <span class="desde">CERRADO</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.437789, Lng: -70.6507186 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> IRARRÁZAVAL </a></h3>
    <p class="dirección"> Irarrázaval 2718 </p>
    <p class="comuna">  Ñuñoa   / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 222099658 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Viernes: <span class="desde">10:00 hrs</span> a <span class="hasta">20:00  hrs</span></li>
            <li class="atención"> Sábado: <span class="desde">10:00 hrs</span> a  <span class="hasta">15:00  hrs</span></li>
            <li class="atención"> Domingos: <span class="desde">CERRADO</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.4542528, Lng: -70.6048669 </span></li>
        </ul>
    </div>
</li>
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a"> MALL PORTAL ÑUÑOA </a></h3>
    <p class="dirección"> Av. José Pedro Alessandri 1166. Local 2060 </p>
    <p class="comuna">  Ñuñoa   / <span class="region"> METROPOLITANA </span></p>
    <p class="mas-info" id="mas-info-s7">Más info</p>
    <div class="info-mas" id="info-mas-s7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> Teléfono: 228982366 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">22:00  hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat: -33.4653035, Lng: -70.5976179 </span></li>
        </ul>
    </div>
</li>