<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">MALL PLAZA ANTOFAGASTA</a></h3>
    <p class="dirección">Av. Balmaceda 2355, Local 152</p>
    <p class="comuna">ANTOFAGASTA / <span class="region"> ANTOFAGASTA </span></p>
    <p class="mas-info" id="mas-info-r1">Más info</p>
    <div class="info-mas" id="info-mas-r1">
        <ul class="ul-tiendas-2">
            <li class="telefono"> 552533421 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> de Lunes a Domingo: <span class="desde">10:00 a </span> a <span class="hasta">21:30 hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion">  Lat: -23.645355, Lng: -70.402651 </span></li>
        </ul>
    </div>
</li><!--/ Antofagasta-->
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">MALL PLAZA CALAMA</a></h3>
    <p class="dirección">Av. Balmaceda 3242, Local 184 B</p>
    <p class="comuna">CALAMA / <span class="region">ANTOFAGASTA</span></p>
    <p class="mas-info" id="mas-info-r2">Más info</p>
    <div class="info-mas" id="info-mas-r2">
        <ul class="ul-tiendas-2">
            <li class="telefono"> 552717308 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:30 hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion">   Lat:  -22.4497352, Lng: -68.92372 </span></li>
        </ul>
    </div>
</li><!--/ Calama-->
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">MALL PLAZA TRÉBOL</a></h3>
    <p class="dirección">Av. Jorge Alessandri 3177, Local 116-B</p>
    <p class="comuna">Concepción / <span class="region"> BIO BIO </span></p>
    <p class="mas-info" id="mas-info-r3">Más info</p>
    <div class="info-mas" id="info-mas-r3">
        <ul class="ul-tiendas-2">
            <li class="telefono"> 412563725 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:30 hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion"> Lat:  -36.7803841, Lng: -73.0585483 </span></li>
        </ul>
    </div>
</li><!--/ Concepción-->
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">MALL PLAZA BÍO-BIO</a></h3>
    <p class="dirección">Los Carrera Poniente 301, Local A 1041-1045</p>
    <p class="comuna">CONCEPCIÓN / <span class="region"> BÍO BIO </span></p>
    <p class="mas-info" id="mas-info-r4">Más info</p>
    <div class="info-mas" id="info-mas-r4">
        <ul class="ul-tiendas-2">
            <li class="telefono"> 413214377 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:30 hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion">  Lat:  -36.8251755, Lng: -73.0591383 </span></li>
        </ul>
    </div>
</li><!--/ Concepción 2-->
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">MALL PLAZA COPIAPO</a></h3>
    <p class="dirección">Maipú 0110, Local a 1141 - a 1145A</p>
    <p class="comuna"> COPIAPÓ / <span class="region"> ATACAMA </span></p>
    <p class="mas-info" id="mas-info-r5">Más info</p>
    <div class="info-mas" id="info-mas-r5">
        <ul class="ul-tiendas-2">
            <li class="telefono"> 522356658 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:30 hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion">  Lat:  -27.3704854, Lng: -70.3413831</span></li>
        </ul>
    </div>
</li><!--/ Copiapó-->
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">MALL PLAZA IQUIQUE</a></h3>
    <p class="dirección">Av. Los Heroes de la Concepción 2555, Local 128-130 </p>
    <p class="comuna"> IQUIQUE / <span class="region"> TARAPACÁ </span></p>
    <p class="mas-info" id="mas-info-r6">Más info</p>
    <div class="info-mas" id="info-mas-r6">
        <ul class="ul-tiendas-2">
            <li class="telefono"> 572561717 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:30 hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion">  Lat:  -20.2327233, Lng: -70.1449784 </span></li>
        </ul>
    </div>
</li><!--/ Iquique-->
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">LA SERENA</a></h3>
    <p class="dirección">Guillermo Ulriksen 3128, Local 6</p>
    <p class="comuna"> LA SERENA / <span class="region"> COQUIMBO </span></p>
    <p class="mas-info" id="mas-info-r7">Más info</p>
    <div class="info-mas" id="info-mas-r7">
        <ul class="ul-tiendas-2">
            <li class="telefono"> 512666708 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:30 hrs</span> a <span class="hasta">21:30 hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion">  Lat:  -29.9420762, Lng: -71.2428566 </span></li>
        </ul>
    </div>
</li><!--/ La Serena-->
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">MALL PLAZA LA SERENA</a></h3>
    <p class="dirección">Av. Alberto Solari 1400, Local L-120 Nivel</p>
    <p class="comuna"> LA SERENA / <span class="region"> COQUIMBO </span></p>
    <p class="mas-info" id="mas-info-r8">Más info</p>
    <div class="info-mas" id="info-mas-r8">
        <ul class="ul-tiendas-2">
            <li class="telefono"> 512471699 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:30 hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion">  Lat:  -29.9125759, Lng: -71.2604689 </span></li>
        </ul>
    </div>
</li><!--/ La Serena 2-->
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">MALL PLAZA LOS ANGELES</a></h3>
    <p class="dirección">Valdivia 440</p>
    <p class="comuna"> LOS ÁNGELES / <span class="region"> BÍO BIO </span></p>
    <p class="mas-info" id="mas-info-r9">Más info</p>
    <div class="info-mas" id="info-mas-r9">
        <ul class="ul-tiendas-2">
            <li class="telefono"> 432451332 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domingo: <span class="desde">10:00 hrs</span> a <span class="hasta">21:30 hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion">   Lat:  -37.4683329, Lng: -72.3549975 </span></li>
        </ul>
    </div>
</li><!--/ Los Ángeles-->
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">MALL PASEO COSTANERA PUERTO MONTT</a></h3>
    <p class="dirección">Illapel 10, Local 216 </p>
    <p class="comuna"> PUERTO MONTT / <span class="region"> LOS LAGOS </span></p>
    <p class="mas-info" id="mas-info-r10">Más info</p>
    <div class="info-mas" id="info-mas-r10">
        <ul class="ul-tiendas-2">
            <li class="telefono"> 652311403 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com</li>
            <li class="atención"> Lunes a Sábado: <span class="desde">10:00 hrs</span> a <span class="hasta">21:00 hrs</span></li>
            <li class="atención"> Domingo y Festivos: <span class="desde">11:00 hrs</span> a  <span class="hasta">21:00 hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion">   Lat:  -41.4722584, Lng: -72.9386182 </span></li>
        </ul>
    </div>
</li><!--/ Puerto Montt-->
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">OPEN PLAZA RANCAGUA</a></h3>
    <p class="dirección">Jose Bernardo Cuevas 405, Local 2050 </p>
    <p class="comuna"> RANCAGUA / <span class="region"> DEL LIBERTADOR BERNARDO O'HIGGINS </span></p>
    <p class="mas-info" id="mas-info-r11">Más info</p>
    <div class="info-mas" id="info-mas-r11">
        <ul class="ul-tiendas-2">
            <li class="telefono"> 652311403 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Sábado: <span class="desde">10:00 hrs</span> a <span class="hasta">21:00 hrs</span></li>
            <li class="atención"> Domingo y Festivos: <span class="desde">11:00 hrs</span> a  <span class="hasta">21:00 hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion">   Lat:  -34.1688109, Lng: -70.7417593 </span></li>
        </ul>
    </div>
</li><!--/ Rancagua-->
<li class="li-tiendas">
    <h3 class="titulo-tienda"><a href="" class="titulo-tienda-a">PORTAL TEMUCO</a></h3>
    <p class="dirección">Av. Alemania 671, Local 1069 </p>
    <p class="comuna"> TEMUCO / <span class="region"> LA ARAUCANÍA </span></p>
    <p class="mas-info" id="mas-info-r12">Más info</p>
    <div class="info-mas" id="info-mas-r12">
        <ul class="ul-tiendas-2">
            <li class="telefono"> 452994354 </li>
            <li class="correo-tienda"> servicioalclientechile@sallybeauty.com </li>
            <li class="atención"> Lunes a Domigos: <span class="desde">10:00 hrs</span> a <span class="hasta">21:00 hrs</span></li>
            <li class="coordenadas"> Coordenadas: <span class="ubicacion">  Lat:  -38.7337188, Lng: -72.612795 </span></li>
        </ul>
    </div>
</li><!--/ Temuco-->