/* Content copied from “checkout-custom.css” at 2017-12-20T18:13:44.018Z */

/* /files/checkout-custom.css */

.installments{display:none;}
.address-shipping-options > div > fieldset > div > div > label:nth-child(2) .shipping-option-item-time, .shipping-sla-selector .shipping-sla-options li.seller-1-sla-DespachoExpress a span {font-size:0}
.address-shipping-options > div > fieldset > div > div > label:nth-child(2) .shipping-option-item-time:before {content:"Hasta las 11:30 a.m. entrega el mismo día";font-size:13px;}
.shipping-sla-selector .shipping-sla-options li.seller-1-sla-DespachoExpress a span:before {font-size: 13px;content: "Compras antes de las 11:30 a.m. serán despachadas entre las 14:00 y 21:00 hrs. en días hábiles";display: inline;}
span.shipping-estimate-date {visibility:hidden;}
#payment-group-creditCardPaymentGroup .payment-group-item-text { font-size: 0;background-image: url(https://viauno.vteximg.com.br/arquivos/logo-mp.png); background-size: 45px }
#payment-group-creditCardPaymentGroup .payment-group-item-text:before { content: "Tarjetas hasta 6 cuotas sin interes"; font-size: 12px; line-height: 17px; display: inline-block }