body {
	font-family: 'Playfair Display', serif;
	font-family: 'Montserrat', sans-serif;
}
.fila {
	display: flex;
}
.colFormulario {
    width: 55%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colImage {
  background-image: url(https://viauno.vteximg.com.br/arquivos/viaunorpopup.png);
  width: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.cabecera, .cuerpo {
	padding: 0 2rem;
}
.cabecera h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: .7rem;
}
.cabecera p {
    font-size: .8em;
}
table.formulario.campos {
    width: 100%;
}
tr.campo {
    display: flex;
    flex-direction: column;
}
tr.campo input {
    padding: .4rem;
    font-size: .8em;
    width: 100%;
    border: 0;
    border: 1px solid #ccc;
}
input[type=submit] {
	border: 0;
  	background: #000;
  	color: #fff;
  	padding: .5rem;
}
.campo td:first-child p {
	margin-bottom: .3rem;
    font-size: .7em;
}
.campo td:first-child {
	display: none;
}
.cabecera h3 {
    font-size: 1.3em;
    margin-bottom: 0;
}
@media (max-width: 750px) {
  .colImage {
  	display: none;
  }
  .colFormulario {
    width: 100%;
	}
}