/*Style Apoyo*/
.content-institucional #accordion ul.medios-pago { display: flex; justify-content: center; align-items: center }
.content-institucional #accordion ul.medios-pago li { list-style: none }
.col-footer ul.direccion {margin-left: 5px;}


.formulario-recibido .content-home {
    background-image: url(https://viauno.vteximg.com.br/arquivos/formulario-recibido.jpg);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0;
    height: 70vh;
    display: flex;
    align-items: center;
}
.formulario-recibido .content-home .wrapperTexto {
    padding-left: 4rem;
}

/*Mis pedidos*/

body.account .nav { margin-bottom: 0 }
body.account .row { margin-left: -15px !important }
body.account input[type=text] {height: 30px; border: none;}
.account #conteiner .row { margin-left: 0 !important; }
.ordenes .nav { margin-bottom: 20px; margin-left: 0; list-style: none; }
.account .search, .account .header .mini-cart { height: 61px; }
.account .header { height: 90px; }
.account .row.bg-white { height: 60px; }
.account header {position: inherit}
.account .header .menu-departamento h3 a {padding: 10px 20px;}
.account .header .col-md-6 h3.menu-item-texto {margin-top: 5px; margin-bottom: 5px;}
.account .header .col-md-6 h3.menu-item-texto a { padding: 6px 20px; }
.account .header .mini-cart .btn {background: #343a40; border-bottom: #343a40;}
.account .ordenes li.active a {background-color: #343a40;border-radius: 0;}

@media (max-width:990px){
  .account .button-menu-xs.col-2.p-0.col-sm-1.d-none.d-block-sm {visibility: collapse!important}
  .account .header {height: 61px}
}


/*POPUP*/
div#cboxOverlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
iframe.cboxIframe {
    height: 98%;
    width: 100%;
    overflow: hidden;
}
.home button#cboxClose {
    line-height: 1;
    font-size: 1px;
    color: transparent;
    border: 0;
    width: 25px;
    height: 25px;
    right: 0;
    top: 0;
    padding: 0;
}
.home button#cboxClose:before {
	content: 'X';
  	color: #fff;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	font-size: 12px;
}

#CortinaCyber {
      display: none !important;
 background: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9;
    left: 0;
    right: 0;
}

.vitrine .produto .selo_desc, .prateleira .discount {
    padding-left: 10px;
}
.vitrine .produto .selo_desc, .prateleira .discount:before {
	content: '';
  display: none;
  	height: 100%;
    width: 6px;
    background: #0000d6;
    z-index: 999999999999;
    position: absolute;
    left: 0;
}

/*Cintillo Cyber*/
header {padding-left: 0!important;padding-right: 0!important;}
.topbarCyber {position: relative;width: 100%;height: 35px;background: #005afb;padding: 10px 15px;margin-top: 0;margin-left: 0;display: none!important;}
.topbarCyber div {display: flex;justify-content: space-evenly;align-items: center;}
.topbarCyber div:nth-child(1) img {width: 170px;position: absolute;top: -3px;left: 0;box-shadow: 5px 0 0 hsla(218, 93%, 39%, 0.5);}
.topbarCyber div:nth-child(3) img {width: 63px;height: 60px;position: absolute;top: -15px;right: 0!important;z-index: 99;box-shadow: none;}
.topbarCyber div:nth-child(2) { margin: 0 auto; width: 100%;}
.topbarCyber div p {color: white;margin-bottom: 0;}
.topbarCyber div p span {font-weight: 600}

/*FLAG CYBER*/

p.flag.cybermonday {display: none!important;position: absolute;top: 15px;right: 15px;font-size: 0;z-index:9999!important;}
p.flag.cybermonday::before {content: "";background-image: url(https://viauno.vteximg.com.br/arquivos/all-cyber.png);display: block;width: 50px;height: 50px;background-size: contain;background-repeat: no-repeat;}

@media (max-width:768px){
	.topbarCyber {height: 20px;padding: 5px 10px;z-index:999}
    .topbarCyber div:nth-child(1) img {width: 90px;top:0}
    .topbarCyber div:nth-child(3) img {width: 40px; height: 40px; top: -4px}
    .topbarCyber div:nth-child(2) {text-align: right;}
    .topbarCyber div p {font-size: 0;margin-bottom: 0;}
    .topbarCyber div p::before {content: "Las mejores ofertas están aquí";display: block;color: white;width: 100%;font-size: 10px;margin-bottom: 0!important;padding-left: 30px;}
}