
Sitios > Default
Editar
Checkout
Pedidos
Código
Páginas
×
×
×
×
viauno-style.css
1
/* INICIO HOME */
2
#home-page-cyber #collections {
3
    display: block;
4
}
5
#home-page-cyber #collections.vitrine .prateleira ul li {
6
    background: #f6f6f6;
7
    margin: 0 .5rem;
8
    padding: 0;
9
}
10
#home-page-cyber #collections.vitrine .prateleira ul li .productImage {
11
    position: relative;
12
    display: block;
13
}
14
#home-page-cyber #collections.vitrine .prateleira ul li img {
15
    padding: 1rem;
16
    background: #fff;
17
}
18
#home-page-cyber #collections.vitrine .prateleira ul li .productImage:before {
19
    content: '';
20
    position: absolute;
21
    top: 0;
22
    bottom: 0;
23
    left: 0;
24
    right: 0;
25
    background: rgba(0, 0, 0, 0.035);
26
    z-index: 2;
27
}
28
#home-page-cyber #collections.vitrine .prateleira ul {
29
    padding: 0;
30
}
31
#home-page-cyber #collections.vitrine .prateleira ul li h3 a {
32
    padding: 0 1rem;
33
    overflow: hidden;
34
    display: -webkit-box;
35
    -webkit-line-clamp: 2;
36
    -webkit-box-orient: vertical;
37
    height: 38px;
38
    font-size: 1.1rem;
39
    font-weight: 500;
40
    color: #222;
41
    margin-top: 15px;
42
    margin-bottom: 20px;
43
    text-transform: uppercase;
44
}
45
#home-page-cyber .vitrine .prateleira .newPrice {
46
    font-size: 18px;
47
    font-weight: 600;
48
    color: #d70000;
49
}
50
 
51
@media (max-width: 768px) {
52
    #home-page-cyber .vitrine .prateleira ul li {
53
    width: 8% !important;
54
    }
55
}
56
/* FIN HOME */
57
 
58
 
59
/* INICIO HEADER */
60
#home-page-cyber #extra-header-bottom {
61
    display: flex;
62
    position: relative;
63
    justify-content: center;
64
    align-items: center;
65
    margin-top: -6px;
66
}
67
#home-page-cyber #extra-header-bottom .logoCyber {
68
    width: 15%;
69
    background: #a90f31;;
70
    justify-content: center;
71
    align-items: center;
72
    display: flex;
73
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
74
    height: 45px;
75
    padding: .6rem;
76
    z-index: 2;
77
}
78
#home-page-cyber #extra-header-bottom .logoCyber svg {
79
    height: 100%;
80
    max-width: 100%;
81
    width: 160px;
82
}
83
#home-page-cyber #extra-header-bottom .cyberBotones {
84
    width: 85%;
85
    display: flex;
86
    justify-content: center;
87
    align-items: center;
88
}
89
#home-page-cyber #extra-header-bottom .cyberBotones > div {
90
    display: flex;
91
    width: 50%;
92
    justify-content: center;
93
    align-items: center;
94
    padding: .4rem;
95
}
96
#home-page-cyber #extra-header-bottom .cyberBotones > div:nth-child(1) {
97
    background: #a90f31;;
98
}
99
#home-page-cyber #extra-header-bottom .cyberBotones > div:nth-child(2) {
100
    background: #f79505;
101
}
102
#home-page-cyber #extra-header-bottom .cyberBotones > div h3 {
103
    color: #fff;
104
    text-transform: uppercase;
105
    margin: 0;
106
    font-size: .85em;
107
    font-weight: 800;
108
    margin-right: 1rem;
109
}
110
#home-page-cyber #extra-header-bottom .cyberBotones > div a {
111
    background: #dc274b;
112
    text-transform: uppercase;
113
    color: #fff;
114
    padding: .2rem 1.2rem;
115
    border-radius: 6px;
116
    font-size: 11px;
117
    font-weight: 900;
118
    letter-spacing: .5px;
119
}
120
 
121
@media (max-width: 991.1px) {
122
  #home-page-cyber #extra-header-bottom .cyberBotones > div {
123
    width: 100%;
124
    flex-direction: column;
125
    padding: .4rem;
126
}
127
    #home-page-cyber #extra-header-bottom .logoCyber {
128
    width: 30%
129
  }
130
    #home-page-cyber #extra-header-bottom .cyberBotones {
131
    width: 70%;
132
  }
133
  #home-page-cyber #extra-header-bottom .cyberBotones > div a {
134
    padding: .2rem .9rem;
135
    font-size: 8px;
136
    text-align: center;
137
}
138
  #home-page-cyber #extra-header-bottom .cyberBotones > div h3 {
139
    margin: 0;
140
    font-size: .6em;
141
    margin-right: 0;
142
    text-align: center;
143
    margin-bottom: .2rem;
144
}
145
}
146
/* FIN HEADER */
147
 
148
 
149
/* INICIO FOOTER */
150
#home-page-cyber .busuqedasCyber{
151
    margin: 3rem 0 2rem 0;
152
}
153
#home-page-cyber .busuqedasCyber h2 {
154
    font-size: 1.2em;
155
    text-transform: uppercase;
156
    margin-bottom: 1rem;
157
}
158
#home-page-cyber .busuqedasCyber .wrapperPalabrascyber ul,
159
#home-page-cyber .busuqedasCyber .wrapperPalabrascyber li,
160
#home-page-cyber .busuqedasCyber .wrapperPalabrascyber a,
161
#home-page-cyber .busuqedasCyber .wrapperPalabrascyber h3,
162
#home-page-cyber .busuqedasCyber .wrapperPalabrascyber h4 {
163
    margin: 0;
164
    padding: 0;
165
    list-style-type: none;
166
    font-size: 11px;
167
    line-height: 1 !important;
168
    font-weight: 500;
169
    text-transform: uppercase;
170
    color: #999;
171
}
172
#home-page-cyber .busuqedasCyber .wrapperPalabrascyber a {
173
    padding: .3rem .5rem;
174
    display: inline-block;
175
    position: relative;
176
    transition: all .3s ease;
177
    font-size: 10px;
178
    text-align: center;
179
    float: left;
180
}
181
#home-page-cyber .busuqedasCyber .wrapperPalabrascyber a:hover {
182
    color: #555;
183
    transition: all .3s ease;
184
}
185
#home-page-cyber .wrapperPalabrascyber a:before {
186
    content: '|';
187
    position: absolute;
188
    top: 50%;
189
    transform: translateY(-50%);
190
    right: -2px;
191
}
192
/* FIN FOOTER */
193
 
194
/* INICIO MODAL POPCART */
195
 
196
#popPrueba {
197
    display: none
198
}
199
#popPrueba {
200
    position: fixed;
201
    z-index: 99999;
202
    background: rgba(0, 0, 0, 0.6);
203
    top: 0;
204
    right: 0;
205
    left: 0;
206
    bottom: 0;
207
    width: 100%;
208
    height: 100vh;
209
    display: flex;
210
    justify-content: center;
211
    align-items: center;
212
}
213
#popPrueba .wrapperRelative {
214
    width: 70vw;
215
    height: 50vh;
216
    background: white;
217
    padding: 3rem;
218
    display: flex;
219
    justify-content: center;
220
    align-items: center;
221
    flex-direction: column;
222
    position: relative;
223
}
224
#popPrueba span.closePopCart {
225
    position: absolute;
226
    top: 0;
227
    right: 0;
228
    width: 30px;
229
    height: 30px;
230
    background: #000;
231
    color: #fff;
232
    display: flex;
233
    justify-content: center;
234
    align-items: center;
235
    cursor: pointer;
236
}
237
#popPrueba .wrapperContent {
238
    display: flex;
239
    width: 100%;
240
}
241
#popPrueba .popCartMessage {
242
    font-size: 1.2em;
243
    font-weight: bold;
244
    text-align: center;
245
    margin-bottom: 1rem;
246
}
247
#popPrueba .content-pop, .btns {
248
    width: 50%;
249
}
250
#popPrueba .btns span {
251
    display: block;
252
    background: #000;
253
    width: 80%;
254
    padding: 1rem 0;
255
    margin: 1rem auto;
256
    text-align: center;
257
    color: #fff;
258
}
259
#popPrueba .btns span a {
260
    color: #fff;
261
    text-transform: uppercase;
262
}
263
#popPrueba .btns {
264
    border-left: 1px solid #999;
265
    display: flex;
266
    justify-content: center;
267
    align-items: center;
268
}
269
#popPrueba .btns span.goCart {
270
    background: #2eb7b7;
271
    border-bottom: 4px solid #1e8282;
272
}
273
#popPrueba .flexWrap {
274
    display: flex;
275
}
276
#popPrueba .thumbs {
277
    display: none;
278
}
279
#popPrueba div#include {
280
    margin: 0;
281
    width: 100%;
282
}
283
#popPrueba .namePop {
284
    padding-right: 3rem;
285
}
286
#popPrueba .wrapperBtns {
287
   width: 100%;
288
}
289
#popPrueba .skuPop {
290
    display: none;
291
}
292
#popPrueba #image-main {
293
    width: 100%;
294
    height: 100%;
295
}
296
 
297
@media (max-width: 575.98px){
298
    #popPrueba .wrapperContent {
299
      flex-direction: column;
300
      padding-top: 2rem;
301
    }
302
    #popPrueba .wrapperRelative {
303
      width: 85vw;
304
      height: 70vh;
305
      background: white;
306
      padding: 0rem 1rem;
307
      display: flex;
308
      justify-content: center;
309
      align-items: center;
310
      flex-direction: column;
311
      position: relative;
312
    }  
313
    #popPrueba div#include {
314
      margin: 0;
315
      width: 85%;
316
      margin: 0;
317
      padding: 0rem 0rem 0rem 1rem;
318
    }
319
    #popPrueba .productName {
320
      font-size: 0.9rem;
321
    }
322
    #popPrueba .namePop {
323
      padding-right: 1rem;
324
    }
325
    #popPrueba .popCartMessage {
326
      font-size: 1em;
327
      font-weight: bold;
328
      text-align: center;
329
      margin-bottom: 0.5rem;
330
    }
331
    #popPrueba .brandName a {
332
      margin-top: 0px;
333
      color: #999;
334
      text-decoration: none;
335
      font-size: 1rem;
336
      text-transform: uppercase;
337
      margin-top: 30px;
338
      display: block;
339
    }
340
    #popPrueba .produto .popCartMessage, .produto .btns, .produto .outletMessage {
341
      padding: 10px 4px;
342
      width: 100%;
343
    } 
344
    #popPrueba .btns {
345
      border-left: 0px solid #999;
346
    } 
347
    #popPrueba .content-pop, .btns {
348
      width: 100%;
349
    }
350
    #popPrueba .zoomPad:before {
351
      content: '';
352
      display: block;
353
      position: absolute;
354
      top: 0;
355
      bottom: 0;
356
      left: 0;
357
      right: 0;
358
      background: rgba(0, 0, 0, 0.05);
359
    }
360
 
361
}
362
 
363
/* FIN MODAL POPCART */
364
 
365
/*INICIO CONTADOR*/
366
.cajaValor {
367
    display: flex !important;
368
    justify-content: space-between;
369
    align-items: center;
370
}
371
#contadorProdcuto {
372
    display: flex !important;
373
    background: #f8b23c;
374
    color: #fff;
375
    border-radius: 10px;
376
    padding: .5rem 1rem;
377
    font-weight: 300;
378
    font-size: .7em;
379
    justify-content: center;
380
    align-items: center;
381
    margin: 1rem 0;
382
}
383
#contadorProdcuto #logoCyberProduct {
384
    width: 20px;
385
    height: 100%;
386
    margin-right: .6rem;
387
}
388
#contadorProdcuto #buyers {
389
    color: #fff;
390
    font-weight: bolder;
391
}
392
#contadorProdcuto b {
393
    line-height: 1;
394
}
395
/*FIN CONTADOR*/
396
 
397
/*INICIO BANDERINES CYBER*/
398
p.flag.all-cyber {
399
    display: none !important;
400
    background-image: url(https://viauno.vteximg.com.br/arquivos/all-cyber.png) !important;
401
    background-position: center !important;
402
    background-repeat: no-repeat !important;
403
    background-size: cover !important ;
404
    width: 55px !important;
405
    height: 55px !important;
406
    position: absolute !important;
407
    z-index: 8 !important;
408
    color: transparent !important;
409
    top: 0 !important;
410
    right: 0 !important;
411
}
412
/*FIN BANDERINES CYBER*/
413
 
414
/*INICIO CORTINA CYBER 2019*/
415
.cortinaCyber {
416
    display: none !important;
417
  background: rgba(255,255,255,1);
418
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
419
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
420
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
421
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
422
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
423
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
424
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
425
    /*background-image: url(https://kayserltda.vteximg.com.br/arquivos/cortina-01-cyber.jpg);
426
    background-repeat: no-repeat;
427
    background-size: cover;
428
    background-position: center;*/
429
    position: fixed;
430
    top: 0;
431
    left: 0;
432
    bottom: 0;
433
    right: 0;
434
    height: 100vh;
435
    width: 100vw;
436
    z-index: 9999999999;
437
 
438
    background: red;
439
    position: fixed;
440
    top: 0;
441
    bottom: 0;
442
    display: block;
443
    z-index: 9;
444
    left: 0;
445
    right: 0;
446
  }
447
@media (max-width:768px) {
448
  .cortinaCyber {
449
      background: rgba(255,255,255,1);
450
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
451
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
452
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
453
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
454
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
455
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
456
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
457
  }
458
}
459
/*FIN CORTINA CYBER 2019*/
460
 
461
.producto span.old-price {
462
    display: block;
463
    font-size: 1em;
464
    color: #666;
465
    text-decoration: line-through;
466
    margin-top: 0px;
467
    font-weight: 300;
468
}
469
 
470
.producto .descripcion-producto .valor {
471
    line-height: 1.5em!important;
472
    color: red!important;
473
    font-size: 19px!important;
474
}
475
.productos-carteras .skuBestPrice {
476
    font-size: 20px;
477
    line-height: 2em;
478
    font-weight: 600;
479
    font-style: normal;
480
    line-height: 1.5em!important;
481
    color: red!important;
482
}
483
.productos-carteras .skuListPrice{
484
    display: block;
485
    font-size: 20px;
486
    color: #666;
487
    text-decoration: line-through;
488
    margin-top: 0px;
489
    font-weight: 300;
490
    font-style: normal;
491
    line-height: 1.5em!important;
492
}

Archivos
checkout-confirmation-custom.js
checkout-custom.css
checkout5-custom.css
checkout5-custom.js
popup.css
pruebas.js
style-apoyo.css
viauno-style.css
viaunochilecom.js
Templates
checkout-confirmation-bottom
checkout-confirmation-footer
checkout-confirmation-header
checkout-confirmation-top
checkout-footer
checkout-header
orderplaced-bottom
orderplaced-footer
orderplaced-header
orderplaced-top
vtex-checkout
vtex-checkout-confirmation
vtex-orderPlaced
